/* Homepage Hero Full
 */

.homepage-hero-banner-banner_full {
  min-height: 386px;

  @include media-breakpoint-up(md) {
    min-height: 356px;
  }

  & .homepage-hero-banner-tagline {
    padding-bottom: .75rem;

    &::after {
      height: .25rem;
      background-color: $white;

      @include media-breakpoint-up(md) {
        height: .25rem;
      }
    }
  }

  & .homepage-hero-banner-col-content {
    z-index: 1;
  }

  & .homepage-hero-banner-col-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary_darkerGrey;
      opacity: 0;
    }

    &.with-overlay {
      &::after {
        opacity: .6;
      }
    }
  }

  & .field--name-field-media-image {
    & picture {
      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  & .field--name-field-media-image {
    & > .contextual-region {
      position: initial;
    }
  }

  & .homepage-hero-content {
    & h1 {
      color: $white;
    }

    & .homepage-hero-banner-copy {
      color: $white;
    }
  }
}
