/* Slick Carousel Homepage Hero
 *
 */

.paragraph--type--homepage-hero {

  & .slick--optionset--homepage-hero {
    // padding: 0 1.5rem;

    & .slick-dotted.slick-slider {
      margin: 0;
    }

    & .slick-list {
      padding: .625rem 2rem .625rem .75rem;
      margin: 0 -1rem;

      @include media-breakpoint-up(md) {
        padding: .625rem 0;
        margin: 0;
      }

      @include media-breakpoint-up(lg) {
        margin: 0 -1.5rem;
      }
    }

    & .slick-track {
      display: flex;
      @include media-breakpoint-down(md) {
        margin-left: -.25rem;
      }
    }

    & .slick-slide {
      height: initial;
      float: none;
      display: flex;
      padding-left: .5rem;
      padding-right: .5rem;

      @include media-breakpoint-up(md) {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    & .slick__arrow {
      & button {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        box-shadow: $box-shadow;
        padding: .5rem;
        outline: 1px solid $primary_lightSky;
        background-size: 1.5rem;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $white;

        &::before {
          display: none;
          font-family: initial;
        }

        &.slick-prev {
          background-image: escape-svg($arrow-left-homepage-hero);
          left: 0;

          @include media-breakpoint-up(md) {
            transform: translate(-.25rem, -50%);
          }

          @include media-breakpoint-up(lg) {
            transform: translate(-1.25rem, -50%);
          }
        }

        &.slick-next {
          background-image: escape-svg($arrow-right-homepage-hero);
          right: 0;

          @include media-breakpoint-up(md) {
            transform: translate(.25rem, -50%);
          }

          @include media-breakpoint-up(lg) {
            transform: translate(1.25rem, -50%);
          }
        }
      }
    }

    & .slick-dots {
      border-radius: 3rem;
      box-shadow: $box-shadow;
      padding: .75rem;
      outline: 1px solid $primary_lightSky;
      position: absolute;
      bottom: .625rem;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: $white;
      width: fit-content;

      & li {
        & button {
          background-color: $primary_lightGrey;

          &::before {
            display: none;
          }
        }

        &.slick-active {
          button {
            background-color: $primary_darkSky;
          }
        }
      }
    }
  }
}
