/* Homepage Hero Half
 */

.homepage-hero-banner-banner_half {
  & .homepage-hero-banner-col-media {
    & .field--name-field-media-image,
    & .contextual-region {
      display: flex;
      flex-grow: 1;
    }

    & .field--name-field-media-image {
      & picture {
        display: flex;
        flex-grow: 1;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
