<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% if display_submitted %}
    <div class="node__meta">
      {{ author_picture }}
      {% block submitted %}
        <em{{ author_attributes }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        </em>
      {% endblock %}
      {{ metadata }}
    </div>
  {% endif %}
  {% if content.field_media_image | render %}
    <div class="mb-3">
      {{ content.field_media_image }}
    </div>
  {% endif %}

  <div{{ content_attributes.addClass('d-flex flex-column flex-grow-1 gap-4') }}>
    <div>
      {% if label %}
        <header class="{{ content.body | render ? 'mb-2' }}">
          <h3{{ title_attributes.addClass('node__title h4 fw-normal') }}>
            <a href="{{ url }}" rel="bookmark" class="text-dark">{{ label }}</a>
          </h3>
        </header>
      {% endif %}
      {{ content.body }}

      {{ content | without(
        'body',
        'field_media_image',
        'field_enlace'
      )}}
    </div>

    {% if content.field_enlace | render %}
      <div class="mt-auto">
        {{ content.field_enlace }}
      </div>
    {% endif %}

  </div>
</article>
