{# retrieve link attributes #}
{% set link_attributes = create_attribute() %}

{% if content.field_link.0['#options']['attributes'] | length %}
  {% for key, item in content.field_link.0['#options']['attributes'] %}
    {% if item == 'class' %}
      {% set class = item | join(' ') %}
    {% else %}
      {% set link_attributes = link_attributes.setAttribute(key, item) %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set utility_classes = utility_classes ?: null %}
{% set link_attributes = link_attributes.addClass('d-inline-flex align-items-center').addClass(utility_classes) %}
{% if icon_right or icon_left %}
  {% set link_attributes = link_attributes.addClass('gap-1') %}
{% endif %}
{% set link_url = content.field_link.0['#url']|render ~ (link_attributes.hash ? '#' ~ link_attributes.hash) %}

<a href="{{ link_url }}" {{ link_attributes|without('hash') }}>
  {% if icon_left %}
    <svg class="icon"><use xlink:href="#{{ icon_left }}"/></svg>
  {% endif %}
  {{ content.field_link.0['#title'] }}
  {% if icon_right %}
    {# {% include "@kadabra_theme/svg/" ~ icon_right ~ ".html.twig" %} #}
    <svg class="icon"><use xlink:href="#{{ icon_right }}"/></svg>
  {% endif %}
</a>
