/* Services list
 * Services list Icons
 *
 */

.list-services-icons {
  & .field--name-field-media-image {
    & svg {
      width: 2rem;
      height: 2rem;

      @include media-breakpoint-up(md) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
