
/* Services Teaser
 * Taxonomy term display
 */

.service-teaser {
  & .service-icon {
    flex: 0 0 var(--iconWidth);

    & svg {
      width: var(--iconWidth);
      height: var(--iconWidth);
    }
  }

  & .service-title {
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 0.875rem;
    }
  }
}
