
/* Services Teaser
 * Taxonomy term display
 */

.paragraph--type--service {

  &.paragraph--view-mode--default {
    --iconWidth: 2.5rem;

    @include media-breakpoint-up(md) {
      --iconWidth: 3rem;
    }

    & .field--name-field-service {
      & + .field--name-field-description {
        margin-top: 1rem;
      }
    }

    & .field--name-field-description {
      margin-left: calc(var(--iconWidth) + 1rem);
    }
  }
}
