/* KDB slick general styles
 *
 * slick dots
------------------------------------------------- */

.slick {
  & .slick-dots {
    position: initial;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 0 .75rem;
    --dot-w: .625rem;

    @include media-breakpoint-up(md) {
      --dot-w: .75rem;
    }

    & li {
      margin: 0;
      width: var(--dot-w);
      height: var(--dot-w);

      & button {
        padding: 0;
        width: var(--dot-w);
        height: var(--dot-w);
        border-radius: 50%;
        background-color: $gray-light;

        &::before {
          display: none;
        }
      }

      &.slick-active {
        & button {
          background-color: $gray-medium;
        }
      }
    }
  }
}
