/* KDB slick carousel testimonials
 *
 * spacing
 * prevent card shadows being cut off
------------------------------------------------- */

.slick--optionset--testimonials {
  & .slick__slider {
    margin: 0;
  }

  & .slick-track {
    display: flex;
  }

  & .slick-list {
    margin: 0 -1rem;
    overflow: initial;
  }

  & .slick-slide {
    padding: 0 1rem;
    height: initial;
    flex: 1;
    display: flex;
    opacity: 1;
    transition: opacity .15s ease-in;

    &[aria-hidden='true'] {
      opacity: 0;
      transition-timing-function: ease-out;
    }
  }
}
