/* Slick Carousel Styles
 * general
 */

.slick--optionset--carousel-logos {
  & .slick__slider {
    margin: 0;
  }

  & .slick-track {
    display: flex;
  }

  & .slick-list {
    padding: 0 4rem 0 0;
    margin: 0 -.5rem;

    @include media-breakpoint-up(md) {
      margin: 0 -1rem;
    }
  }

  & .slick-slide {
    padding: 0 .5rem;
    height: initial;
    flex: 1;
    display: flex;

    @include media-breakpoint-up(md) {
      padding: 0 1rem;
    }
  }
}
