{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph card card-basic-highlighted overflow-hidden shadow-3 rounded-2 border-0',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% set hasImage = paragraph.field_media_image is not empty %}
{% set hasTitle = paragraph.field_title is not empty %}
{% set hasDescription = paragraph.field_description is not empty %}
{% set hasProjectTypes = paragraph.field_project_types is not empty %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if hasImage %}
      <div class="card-image overflow-hidden rounded-bottom-1">
        {{ content.field_media_image }}
      </div>
    {% endif %}
    {% if hasTitle or hasDescription %}
      <div class="card-body d-flex flex-column gap-3 p-4 p-md-5.5">
        {% if hasProjectTypes %}
          <ul class="d-flex flex-wrap gap-2.5">
            {% for key, item in content.field_project_types %}
              {% if key|first != '#' %}
                <li>
                  {{ item }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
        {% if hasTitle %}
          <h3 class="text-lg fw-medium card-title mb-0">
            {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
          </h3>
        {% endif %}
        {% if hasDescription %}
          <div class="text-sm card-description">
            {{ content.field_description }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock paragraph %}
