{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set hasEyebrow = paragraph.field_eyebrow is not empty %}
{% set hasTitle = paragraph.field_title is not empty %}
{% set hasDescription = paragraph.field_description is not empty %}
{% set useBG = content.field_behavior_bg_shape | render | striptags | trim %}
{% set bg_color = content.field_background_color['#items'].getString() | replace({'_': '-'}) ?: 'indigo' %}
{% set text_white = bg_color in ['blue', 'indigo'] ? ' text-white ' : null %}

{%
  set classes = [
    'paragraph banner py-8 px-4 py-md-8 px-md-9.5 rounded-1.5',
    useBG ? 'position-relative',
    bg_color ? 'bg-' ~ bg_color : 'bg-indigo',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{attributes.addClass(classes)}}>

    {% if useBG %}
      <div class="overflow-hidden w-100 h-100 position-absolute top-0 start-0 rounded-1.5">
        <svg class="banner-figure position-absolute"><use xlink:href="#banner-bg"></use></svg>
      </div>
    {% endif %}
    <div class="row align-items-center gy-7 position-relative">
      <div class="col-md-8">
        <div class="banner-content d-flex flex-column gap-3 justify-content-center justify-content-md-start text-center text-md-start">
          {% if hasEyebrow %}
            <p class="text-lg fw-medium mb-0 banner-eyebrow{{ text_white ?: ' text-indigo'}}">
              {{ content.field_eyebrow.0 }}
            </p>
          {% endif %}
          {% if hasTitle or hasDescription %}
            <div class="d-flex flex-column gap-2">
              {% if hasTitle %}
                <h2 class="h3 banner-title{{ text_white ?: ' text-dark'}}">
                  {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
                </h2>
              {% endif %}
              {% if hasDescription %}
                <div class="text-lg banner-description{{ text_white }}">
                  {{ content.field_description }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
      {% if paragraph.field_button_group is not empty %}
        <div class="col-md-4 d-flex justify-content-center justify-content-md-end banner-cta">
          {{ content.field_button_group }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock paragraph %}
