{#
  /**
  * @file
  * Default theme implementation to display a paragraph.
  *
  * Available variables:
  * - paragraph: Full paragraph entity.
  *   Only method names starting with "get", "has", or "is" and a few common
  *   methods such as "id", "label", and "bundle" are available. For example:
  *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
  *   - paragraph.id(): The paragraph ID.
  *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
  *   - paragraph.getOwnerId(): The user ID of the paragraph author.
  *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
  *   and methods for the paragraph object.
  * - content: All paragraph items. Use {{ content }} to print them all,
  *   or print a subset such as {{ content.field_example }}. Use
  *   {{ content|without('field_example') }} to temporarily suppress the printing
  *   of a given child element.
  * - attributes: HTML attributes for the containing element.
  *   The attributes.class element may contain one or more of the following
  *   classes:
  *   - paragraphs: The current template type (also known as a "theming hook").
  *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
  *     "Image" it would result in "paragraphs--type--image". Note that the machine
  *     name will often be in a short form of the human readable label.
  *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
  *     preview would result in: "paragraphs--view-mode--preview", and
  *     default: "paragraphs--view-mode--default".
  * - view_mode: View mode; for example, "preview" or "full".
  * - logged_in: Flag for authenticated user status. Will be true when the
  *   current user is a logged-in member.
  * - is_admin: Flag for admin user status. Will be true when the current user
  *   is an administrator.
  *
  *
  * @ingroup themeable
  */
  #}

{%
  set classes = [
    'paragraph',
    'shortcuts',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set item_size = content.field_behavior_size['#items'].value %}
{% set item_type = content.field_behavior_type['#items'].value %}

{% set bg_color = content.field_background_color['#items'].getString() | replace({'_': '-'}) %}
{% set text_color = bg_color in ['blue', 'indigo'] ? 'text-white' : 'text-dark' %}

{% block paragraph %}
  {% block content %}
    <div{{attributes.addClass(classes)}}>
      <ul class="row gy-3.5 justify-content-center {{ item_type }} {{ item_size }}">
        {% for item in content.field_paragraph_limited_6 | children(true) %}
          {% set hasList = item['#paragraph'].field_components | length %}

          {% set col_class = '' %}

          {% if item_type == 'horizontal' %}
            {% set col_class = 'col-12 col-sm-6' %}
          {% elseif item_type == 'vertical' and hasList %}
            {% set col_class = 'col-12 col-sm-6' %}
          {% else %}
            {% set col_class = 'col-12 col-sm-6 col-md-3' %}
          {% endif %}

          <li class="{{ col_class }}">
            {% set variants = [
              'd-flex'
            ] %}

            {% if item_type == 'vertical' and not hasList %}
              {% set variants = variants | merge([
                'flex-column align-items-center text-center'
              ]) %}
            {% elseif item_type == 'vertical' and hasList %}
              {% set variants = variants | merge([
                'flex-column align-items-start text-start'
              ]) %}
            {% endif %}

            {% if item_type == 'horizontal' and not hasList %}
              {% set variants = variants | merge([
                'flex-row align-items-center text-start'
              ]) %}
            {% elseif item_type == 'horizontal' and hasList %}
              {% set variants = variants | merge([
                'flex-column align-items-start text-start'
              ]) %}
            {% endif %}

            {% if item_size == 'large' and item_type == 'vertical' %}
              {% set variants = variants | merge([
                'gap-2 gap-md-3'
              ]) %}
            {% endif %}

            {% if item_size == 'large' and item_type == 'horizontal' %}
              {% set variants = variants | merge([
                'gap-3'
              ]) %}
            {% endif %}

            {% if item_size == 'large' %}
              {% set variants = variants | merge([
                'p-4 p-md-5.5',
              ]) %}
            {% endif %}

            {% if item_size == 'small' %}
              {% set variants = variants | merge([
                'p-3 p-md-4 gap-2',
              ]) %}
            {% endif %}

            {% set shortcut_class = [
                'shortcut-item border border-indigo-light rounded-1 w-100 h-100 shadow-2',
                'shortcut-item-' ~ item_size,
                'shortcut-item-' ~ item_type,
                text_color,
                bg_color ? 'bg-' ~ bg_color : 'bg-white',
                variants | join(' '),
              ] %}

            {% if item['#paragraph'].field_link.0.url %}
              <a href="{{ item['#paragraph'].field_link.0.url }}" target="{{ item['#paragraph'].field_link.0.url.external ? '_blank' : '_self' }}" rel="{{ item['#paragraph'].field_link.0.url.external ? 'noopener noreferrer' : '' }}" class="{{ shortcut_class | join(' ') }}">
            {% else %}
              <div class="{{ shortcut_class | join(' ') }}">
            {% endif %}

              {% set material_icon = drupal_field('field_material_icon', 'paragraph', item['#paragraph'].id.value) | render %}

              {% if hasList %}
                <div class="d-flex align-items-center{{ item_size == 'large' ? ' gap-3' : ' gap-2'}}">
              {% endif %}

              {% if material_icon %}
                <div class="shortcut-item-icon">
                  {{ material_icon }}
                </div>
              {% endif %}

              <div class="shortcut-item-info flex-grow-1">
                {% if item['#paragraph'].field_title.value %}
                  <div class="{{ item_size == 'large' ? 'h5 fw-normal' : 'text-lg' }} {{ text_color}}">
                    {{ item['#paragraph'].field_title.value }}
                  </div>
                {% endif %}
              </div>

              {% if hasList %}
                </div>
              {% endif %}

              {% if hasList %}
                {% for body_key, body_item in item['#paragraph'].field_components %}
                  {# Use the same render array as item and set the '#paragraph'. #}
                  {% set section_body = item %}
                  {% set lang = section_body['#paragraph'].langcode[0].value %}
                  {# Check if a translation exists #}
                  {% if section_body['#paragraph'].field_components[body_key].entity.hasTranslation(lang) %}
                    {# Load the entity for the current translation #}
                    {% set section_translation= section_body['#paragraph'].field_components[body_key].entity.getTranslation(lang) %}
                  {% else %}
                    {# Load the source entity #}
                    {% set section_translation= section_body['#paragraph'].field_components[body_key].entity %}
                  {% endif %}
                  {% set section_body = section_body|merge({'#paragraph': section_translation}) %}
                  {# Remove the cache keys so it doesn't repeat the first value. #}
                  {% set section_body = section_body|merge({'#cache': {}}) %}
                  {# Print the compiled section body. #}
                  {{ section_body }}
                {% endfor %}
              {% endif %}
            {% if item['#paragraph'].field_link.0.url %}
              </a>
            {% else %}
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endblock %}
{% endblock paragraph %}
