{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{{ attach_library('kadabra_theme/st_video') }}

{% set order = paragraph.field_media_position.value == 'left' ? 'order-first' : '' %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    {% if paragraph.field_title is not empty or paragraph.field_description is not empty or paragraph.field_button_group is not empty %}
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              {% if paragraph.field_title is not empty %}
                <h3 class="section-title fw-normal{{ paragraph.field_description is not empty ? ' mb-4' }}">
                  {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
                </h3>
              {% endif %}
              {% if paragraph.field_description is not empty %}
                <div class="text-image-description">
                  {{ content.field_description.0 }}
                </div>
              {% endif %}
              {% if paragraph.field_button_group is not empty %}
                <div class="mt-4">
                  {{ content.field_button_group }}
                </div>
              {% endif %}
            </div>

            {% if paragraph.field_media_video is not empty %}
              <div class="col-md-6 {{ order ? ' ' ~ order ~ ' mb-5.5 mb-md-0' : 'mt-5.5 mt-md-0' }}">
                {{ content.field_media_video }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
