{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set layout = content.field_layout['#items'].getString() ?: 'vertical' %}
{% set size = content.field_behavior_size['#items'].getString() ?: 'small' %}

{% set components = content.field_components | render %}

{% set row_attributes = create_attribute({
  'class':[
    'row',
    layout == 'vertical' ? 'flex-column gy-8 gy-md-9.5 align-items-center' : 'gy-8 gy-md-0 justify-content-between',
  ]
}) %}

{% set content_left_attributes = create_attribute({
  'class':[
    layout == 'vertical' ? 'col-md-6 text-center' : 'col-md-5 text-start',
    'd-flex flex-column gap-3',
  ]
}) %}

{% set content_right_attributes = create_attribute({
  'class':[
    layout == 'vertical' ? size == 'large' ? 'col-md-10' : 'col-md-8' : 'col-md-6',
  ]
}) %}

{%
  set classes = [
    'paragraph',
    'webform-component',
    size ? 'webform-component-size-' ~ size,
    layout ? 'webform-component-layout-' ~ layout,
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div{{ row_attributes }}>
        {% if components %}
          <div{{content_left_attributes}}>
            {{ components }}
          </div>
        {% endif %}
        {% if paragraph.field_form is not empty %}
          <div{{ content_right_attributes.addClass('')}}>
            <div class="webform-component-inner px-3 py-5.5 {{ size == 'large' and layout == 'vertical' ? 'px-md-9.5 px-lg-11.5 py-md-9.5' : 'p-md-9.5' }} rounded-2 bg-white">
              <div class="webform-form-wrapper">
                {{ content.field_form }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
