{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set type = content.field_list_type['#items'].getString() %}
{% set tag = type == 'numeric' ? 'ol' : 'ul' %}

{%
  set classes = [
    'paragraph',
    'd-flex flex-column gap-3 list',
    'list-type-' ~ type,
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if paragraph.field_items is not empty %}
        <{{ tag }} class="list-unstyled d-flex flex-column gap-4 mb-0">
          {% for key, item in content.field_items %}
            {% if key|first != '#' %}
              <li class="d-flex flex-column gap-3">
                {% set title = item['#paragraph'].field_title.value %}
                {% if title %}
                  <h4 class="text-lg fw-medium lh-base">
                    {{ title | check_markup('basic_inline') }}
                  </h4>
                {% endif %}
                {% if item['#paragraph'].field_description.value %}
                  <div class="text-md text-formatted field--name-field-description">
                    {{ item['#paragraph'].field_description.value | check_markup('full_html') }}
                  </div>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </{{ tag }}>
      {% endif %}
      {{ content | without(
        'field_list_type',
        'field_items',
      ) }}
    {% endblock %}
  </div>
{% endblock paragraph %}
