{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      <div class="col-md-4 px-3">
        {# Campo de título #}
        {% if paragraph.field_title is not empty %}
          <h3 class="mb-5.5 mb-md-7 fw-bold section-title">
            {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
          </h3>
        {% endif %}

        {# Campo de imagen #}
        {% if paragraph.field_media_image is not empty %}
          <figure class="d-none d-md-block">{{ content.field_media_image }}</figure>
        {% endif %}
      </div>
      <div class="col-md-8 ps-md-4">
        {# Campo de preguntas frecuentes (referencias a nodos) #}
        {% if paragraph.field_preguntas_frecuentes %}
          <div class="accordion ps-md-3" id="{{ 'preguntas-frecuentes-' ~ paragraph.id.value}}">
            {% for pregunta_frecuente in paragraph.field_preguntas_frecuentes %}
              {% set nodo_pregunta_frecuente = pregunta_frecuente.entity %}
               {% set border_classes = ["border-top"] %}
               {% if loop.last %}
                 {% set border_classes = border_classes|merge(["border-bottom"]) %}
               {% endif %}
              <div class="{{ border_classes|join(" ") }}">
                <h3 class="accordion-header h4" id="heading{{ nodo_pregunta_frecuente.id }}">
                  <button class="accordion-button fs-6 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="{{ '#collapse-' ~ nodo_pregunta_frecuente.id ~ '-' ~ paragraph.id.value }}" aria-expanded="false" aria-controls="{{'collapse-' ~ nodo_pregunta_frecuente.id ~ '-' ~ paragraph.id.value}}">
                    {{ nodo_pregunta_frecuente.title.value }}
                  </button>
                </h3>
                <div id="{{ 'collapse-' ~ nodo_pregunta_frecuente.id ~ '-' ~ paragraph.id.value }}" class="accordion-collapse collapse" aria-labelledby="heading{{ nodo_pregunta_frecuente.id }}" data-bs-parent="{{ '#preguntas-frecuentes-' ~ paragraph.id.value}}">
                  <div class="accordion-body">
                    {{ nodo_pregunta_frecuente.body.value|raw }}
                    {% if nodo_pregunta_frecuente.field_enlace.entity.id.value %}
                      <div class="my-5">
                        {{ drupal_entity('paragraph', nodo_pregunta_frecuente.field_enlace.entity.id.value) }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
