{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
    set classes = [
        'paragraph',
        'd-flex flex-column flex-grow-1 p-2',
        'paragraph--type--' ~ paragraph.bundle|clean_class,
        view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
        not paragraph.isPublished() ? 'paragraph--unpublished'
    ]
%}

{% set bullets = paragraph.field_behavior_bullets.value %}
{% set size = paragraph.field_behavior_size.value %}

{% block paragraph %}
    {% block content %}
        <div{{ attributes.addClass(classes) }}>
            <div class="shadow-3 p-4">
                {% if paragraph.field_media_image.entity %}
                    {% set media = paragraph.field_media_image.entity %}
                    {% if media.bundle() == 'image' %}
                        {% set alt = media.field_media_image.alt %}
                        {% set title = media.field_media_image.title %}
                        <div class="mb-3">
                            <figure>
                                {% set image_style = {
                                    '#theme': 'image_style',
                                    '#style_name': 'list_highlight_320x215',
                                    '#uri': media.field_media_image.entity.fileuri,
                                    '#attributes': {
                                        class: 'img-fluid',
                                        alt: alt,
                                        title: title
                                    },
                                } %}
                                {{ image_style }}
                            </figure>
                        </div>
                    {% else %}
                       {% set svgUrl = file_url(media.field_media_image.entity.fileuri) %}
                            {% if svgUrl is not empty %}
                                <div class="mb-2">
                                    {% include svgUrl ignore missing %}
                                </div>
                            {% endif %}
                    {% endif %}
                {% endif %}
                {% if paragraph.field_title is not empty %}
                    <h3 class="fw-bold text-primary h4 {{ size == 'large' ? 'mb-4' : 'mb-3' }}">
                      {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
                    </h3>
                {% endif %}
                {% if paragraph.field_description is not empty %}
                    <div class="mb-4 {{ bullets }} {{ size == 'large' ? 'text-md' : 'text-sm' }}">
                        {{ content.field_description }}
                    </div>
                {% endif %}
                {% if paragraph.field_button_group is not empty %}
                    {{ content.field_button_group }}
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock paragraph %}
