{#
  /**
  * @file
  * Default theme implementation to display a paragraph.
  *
  * Available variables:
  * - paragraph: Full paragraph entity.
  *   Only method names starting with "get", "has", or "is" and a few common
  *   methods such as "id", "label", and "bundle" are available. For example:
  *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
  *   - paragraph.id(): The paragraph ID.
  *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
  *   - paragraph.getOwnerId(): The user ID of the paragraph author.
  *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
  *   and methods for the paragraph object.
  * - content: All paragraph items. Use {{ content }} to print them all,
  *   or print a subset such as {{ content.field_example }}. Use
  *   {{ content|without('field_example') }} to temporarily suppress the printing
  *   of a given child element.
  * - attributes: HTML attributes for the containing element.
  *   The attributes.class element may contain one or more of the following
  *   classes:
  *   - paragraphs: The current template type (also known as a "theming hook").
  *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
  *     "Image" it would result in "paragraphs--type--image". Note that the machine
  *     name will often be in a short form of the human readable label.
  *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
  *     preview would result in: "paragraphs--view-mode--preview", and
  *     default: "paragraphs--view-mode--default".
  * - view_mode: View mode; for example, "preview" or "full".
  * - logged_in: Flag for authenticated user status. Will be true when the
  *   current user is a logged-in member.
  * - is_admin: Flag for admin user status. Will be true when the current user
  *   is an administrator.
  *
  *
  * @ingroup themeable
  */
  #}

{%
  set classes = [
    'paragraph',
    'bannerShortcuts',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  {% block content %}
    <div {{ attributes.addClass(classes) }}>
      <div class="{{ container }} text position-relative z-1">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8 bg-white mx-auto rounded-1 shadow-3 py-md-4 px-md-5.5 start-0 end-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-2 text-center text-md-left mb-3 mb-md-0">
                {% if paragraph.field_icon is not empty %}
                  {{ content.field_icon }}
                {% endif %}
              </div>
              <div class="col-12 col-md-10 mb-5.5 mb-md-0">
                {% if paragraph.field_title is not empty %}
                  <h3>
                    {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
                  </h3>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="full-width">
        <div class="item">
          <div class="image position-absolute top-0 bottom-0 start-0 end-0">
            {{ content.field_media_image }}
          </div>
        </div>
      </div>
      <div class="{{ container }} slider position-relative z-1">
        <div class="row">
          {% if paragraph.field_shortcuts is not empty %}
            {{ content.field_shortcuts }}
          {% endif %}
        </div>
      </div>
      {{ content | without(
        'field_icon',
        'field_media_image',
        'field_title',
        'field_shortcuts',
      )}}
    {% endblock %}
  </div>
{% endblock paragraph %}
