{#
  /**
  * @file
  * Default theme implementation to display a paragraph.
  *
  * Available variables:
  * - paragraph: Full paragraph entity.
  *   Only method names starting with "get", "has", or "is" and a few common
  *   methods such as "id", "label", and "bundle" are available. For example:
  *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
  *   - paragraph.id(): The paragraph ID.
  *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
  *   - paragraph.getOwnerId(): The user ID of the paragraph author.
  *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
  *   and methods for the paragraph object.
  * - content: All paragraph items. Use {{ content }} to print them all,
  *   or print a subset such as {{ content.field_example }}. Use
  *   {{ content|without('field_example') }} to temporarily suppress the printing
  *   of a given child element.
  * - attributes: HTML attributes for the containing element.
  *   The attributes.class element may contain one or more of the following
  *   classes:
  *   - paragraphs: The current template type (also known as a "theming hook").
  *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
  *     "Image" it would result in "paragraphs--type--image". Note that the machine
  *     name will often be in a short form of the human readable label.
  *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
  *     preview would result in: "paragraphs--view-mode--preview", and
  *     default: "paragraphs--view-mode--default".
  * - view_mode: View mode; for example, "preview" or "full".
  * - logged_in: Flag for authenticated user status. Will be true when the
  *   current user is a logged-in member.
  * - is_admin: Flag for admin user status. Will be true when the current user
  *   is an administrator.
  *
  *
  * @ingroup themeable
  */
  #}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="item d-flex align-items-center position-relative">
          <div class="bannerHero__image img-layer position-absolute top-0 bottom-0 start-0 end-0 {{ paragraph.field_behavior_image.value == '1' ? 'img-escalon' : '' }}">
            {{ content.field_media_image }}
          </div>
          <div class="{{ container }} bannerHero__info position-relative z-1">
              <div class="row justify-content-center text-md-center">
                  <div class="col-md-9">
                      {% if paragraph.field_title is not empty %}
                        <h2 class="text-white">
                          {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
                        </h2>
                      {% endif %}
                      {% if paragraph.field_description is not empty %}
                        <div class="text-md pt-3 pb-3 text-white">
                            {{ content.field_description }}
                        </div>
                      {% endif %}
                      {% if paragraph.field_button_group is not empty %}
                        {{ content.field_button_group }}
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
