/*
 * Breadcrumb
*/
body{
    #breadcrumb{
        ul.breadcrumb{
            li.breadcrumb-item{
                position: relative;
                & + .breadcrumb-item{
                    padding-left: 32px;
                    &:before{
                        content: '';
                        top: 0;
                        left: 8px;
                        bottom: 0;
                        width: 16px;
                        height: 16px;
                        padding: 0;
                        margin: auto;
                        position: absolute;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                }
            }
        }
    }
    &.dark-breadcrumb{
        #breadcrumb{
            z-index: 3;
            position: absolute;
            background-color: rgba(0, 0, 0, .25);
            ul.breadcrumb{
                li.breadcrumb-item{
                    color: $white;
                    a{
                        color: $white;
                    }
                    & + .breadcrumb-item{
                        &:before{
                            // background-image: $arrow-white-breadcrumb;
                        }
                    }
                }
            }
        }
    }
    &.light-breadcrumb{
        #breadcrumb{
            margin-bottom: 2.625rem;
            @include media-breakpoint-up(lg) {
              margin-bottom: 3.125rem;
            }

            background-color: $light;
            ul.breadcrumb{
                li.breadcrumb-item{
                    // color: $dark-grey;
                    a{
                        // color: $dark-grey;
                    }
                    & + .breadcrumb-item{
                        &:before{
                            // background-image: $arrow-red-breadcrumb;
                        }
                    }
                }
            }
        }
    }
    &.user-logged-in{
      & .featured-top {
        & nav.tabs {
          margin-top: 1rem;
        }
      }
    }
}
