/*
 * Navbar Secondary Menu
 */

.navbar-nav-secondary {

  @include media-breakpoint-down(lg) {
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.12);

    &.navbar-nav {
      gap: 0;
    }
  }

  & .nav-item {
    position: relative;
    --gap: .25rem;
    --icon-width: 1.5rem;

    @include media-breakpoint-down(lg) {
      flex: 1;
      text-align: center;
    }

    & .nav-link {
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      font-weight: bold;
      display: block;
      transition: color .25s;
      padding-top: calc(var(--gap) * 2 + var(--icon-width));
      padding-left: .25rem;
      padding-right: .25rem;
      padding-bottom: 0.25rem;

      @include media-breakpoint-up(lg) {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        padding-top: calc(var(--gap) + var(--icon-width));
        padding-left: calc(var(--gap) + var(--icon-width));
        padding-right: 0;
        padding-bottom: 1.5rem;
      }

      &:hover,
      &:focus {
        & + .menu_link_content .field--name-field-icon {
          & svg {
            transform: scale(1.2);
          }
        }
      }
    }

    & .menu_link_content {
      position: initial;
    }

    & .field--name-field-icon {
      position: absolute;
      pointer-events: none;
      color: $primary;
      top: var(--gap);
      left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-up(lg) {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }

      & svg {
        width: var(--icon-width);
        height: var(--icon-width);
        display: block;
        transition: all .25s;

        & path {
          fill: currentColor;
        }
      }
    }
  }
}
