/* KDB Navbar nav styles
 *
 * navbar nav main link
 * normalize basic styles (dropdown items, nav icon, nolinks)
 * menu text (mobile)
 * menu levels (0,1,2)
 * accordion styles
 * navbar nav megamenu
 * navbar nav megamenu variants (image, text, featured)
 * navbar top link
 * navbar links (cta)
------------------------------------------------- */


.navbar-nav-main {
  & .nav-item {
    & .nav-link {
      &.dropdown-toggle {
        &::after {
          background-image: escape-svg($navbar-nav-link-expand-more);
          background-size: 1.125rem;
          width: 1.125rem;
          height: 1.125rem;
          display: block;
          border: 0;
          vertical-align: initial;
          transition: all .25s ease-in-out;
        }

        &[aria-expanded="true"] {
          &::after {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }

  // remove dropdown basic styles
  & .dropdown-item {
    white-space: initial;
    line-height: 1;

    & > a {
      &:hover,
      &:focus {
        color: $primary!important;
      }
    }

    &:hover,
    &:focus {
      background-color: transparent;
    }

    &.active, &:active {
      background-color: transparent;
    }
  }

  // fix icon inside link
  & .nav-link-wrapper {
    position: relative;

    @include media-breakpoint-up(lg) {
      & > .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        line-height: 1;

        [class^="material-"] {
          font-size: 1rem;
          color: $blue;
        }

        & svg {
          width: 1rem;
          height: 1rem;

          & path {
            fill: $blue;
          }
        }

        & + .btn-link {
          padding-left: 1.25rem;
        }
      }
    }
  }

  & .menu-text {
    @include media-breakpoint-down(lg) {
      & .btn-link {
        & [class*="material-icon"] {
          display: none;
        }
      }
    }
  }

  // remove shadow btn-link in mobile
  & .btn-link {
    display: inline-flex;

    @include media-breakpoint-down(lg) {
      box-shadow: none;
      font-weight: 400;
    }
  }

  // level 0 specific styles
  &.menu-level-0 {
    & > .nav-item {
      & > .nav-link {
        @include media-breakpoint-down(lg) {
          font-size: $h5-font-size-mobile;
          line-height: $h5-lh-mobile;
          font-weight: normal!important;
          padding: 0 0 5px;
        }
      }
    }
  }

  & .menu-level-2 {
    // remove links styles when menu link has no link
    & span.btn-link {
      box-shadow: none;
      color: $body-color;
    }

    & .btn-link {
      box-shadow: none;
      @include media-breakpoint-down(lg) {
        font-weight: 500;
      }
    }
  }

  // Accordions menu styles
  & .accordion-wrapper {
    &.with-border-right {
      // border-bottom: 1px solid $primary_darkSky;

      @include media-breakpoint-up(lg) {
        border-bottom: 0;
        // border-right: 1px solid $primary_darkSky;
      }
    }
  }

  & .accordion-main-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem 2rem;
      align-items: start;
    }

    & .accordion-collapse {
      @include media-breakpoint-up(lg) {
        display: block;
        height: auto!important;

        &.collapsing {
          height: auto!important;
          transition: none;
          overflow: initial;
        }
      }
    }

    & .accordion-item {
      &:last-of-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        & .accordion-collapse {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    & .accordion-button {
      &::after {
        background-image: escape-svg($navbar-nav-link-expand-more);
        background-size: 1.125rem;
        width: 1.125rem;
        height: 1.125rem;
        display: block;
        border: 0;
        vertical-align: initial;
        transition: all .25s ease-in-out;
      }

      &[aria-expanded="true"] {
        &::after {
          transform: rotate(-180deg);
        }
      }

      &:not(.collaped) {
        color: $dark;
      }

      @include media-breakpoint-up(lg) {
        cursor: initial;
      }

      &::after {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }
}


.navbar-nav-megamenu {
  // box-shadow: inset $box-shadow-sm, $box-shadow-lg;
  left: 0;
  right: 0;
  width: 100%;
  // background-color: $tints_sky20;
  max-height: calc(100dvh - var(--navbarHeight) - var(--toolbarHeight));
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollbars;

  .navbar-expand-lg .navbar-nav & {
    @include media-breakpoint-up(lg) {
      position: fixed;
    }
  }

  // Megamenu with featured region
  &.navbar-nav-megamenu-menu-highlighted {
    & .menu-level-1 {
      @include media-breakpoint-up(lg) {
        column-count: 3;
        display: block;
        gap: 0;
        column-gap: 1rem;

        & > li {
          break-inside: avoid;
          display: block;
          overflow: hidden;
          margin-bottom: 1rem;
        }
      }
    }

    & .menu-level-2 {
      @include media-breakpoint-up(lg) {
        & > li {
          & .btn-link {
            box-shadow: none;
          }

          &:not(:last-child) {
            margin-bottom: .5rem;
          }
        }
      }
    }

    & .menu-text {
      @include media-breakpoint-down(lg) {
        & .menu-text-links {
          & > li {
            line-height: 1;
          }
        }

        & .btn-link {
          font-weight: 500;
          font-size: $font-size-xs;
        }
      }
    }
  }

  // Megamenu with image
  &.navbar-nav-megamenu-default {
    & .accordion-main-menu {
      &:not(.with-description) {
        grid-auto-flow: column;
        grid-template-rows: repeat(3, 1fr);
      }
    }
  }
}

.nav-top {
  & .nav-item {
    & .nav-link {
      padding: .5rem .5625rem;
    }
  }
}

.navbar-links {
  & .navbar-shortcuts {
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      & .btn {
        display: flex;
        width: 100%;
      }
    }
  }
}
