/*
 * Header Shortcuts Block Type
 * invert buttons colors to be white on primary color
 */


.navbar-shortcuts {
  & .field--name-field-button-group {
    gap: 1rem!important;

    & .btn {
      box-shadow: none;
      min-height: 2rem;
      min-width: initial;

      @include media-breakpoint-up(lg) {
        min-height: 2.5rem;
        min-width: 8.125rem;
      }

      @include media-breakpoint-up(xl) {
        // min-width: $btn-min-width;
      }
    }

    @include media-breakpoint-down(lg) {
      & .field__item {
        flex: 1 0 auto;

        & .btn {
          display: flex!important;
        }
      }
    }
  }
}
