/* KDB Navbar styles
 *
 * navbar header top
 * navbar header
------------------------------------------------- */

.navbar-main {
  height: var(--navbarHeight);
  box-shadow: inset 0 -1px 0 $indigo-light;
  will-change: transform;
  transition: all .3s ease-in-out;
  z-index: $zindex-fixed;
}

.navbar-top {
  height: var(--navbarTopHeight);
}
