/* KDB Navbar toggler styles
 *
 * navbar collapse buttons
 * navbar toggler animation
------------------------------------------------- */

.navbar-collapse-buttons {
  & .navbar-toggler {
    &[aria-expanded="false"] {
      & .icon:first-of-type {
        display: block;
      }
      & .icon:last-of-type {
        display: none;
      }
    }
    &[aria-expanded="true"] {
      & .icon:first-of-type {
        display: none;
      }
      & .icon:last-of-type {
        display: block;
      }
    }
  }
}

.navbar-toggler {
  padding-bottom: 1rem;

  &:hover,
  &:focus {
    & .icon {
      transform: scale(1.1);
    }
  }

  & .icon {
    transition: transform .3s ease;
  }

}
