/*
 * Header Search Form
 * Collapse Mobile
 */

.navbar-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: transform .3s;
  height: auto;
  transform: translateY(-100%);
  z-index: $zindex-fixed;

  &.show {
    transform: translateY(0);
  }

  &.collapsing {
    height: auto;
    overflow: initial;
  }

  & .search-block-form {
    flex: 1;
    @include media-breakpoint-down(sm) {
      padding: .375rem 0;
    }
  }

  & .navbar-form-iso {
    & .icon {
      width: 3rem;
      height: 3rem;
    }
  }

  & .container-inline div {
    display: block;
  }

  // Form
  & #search-block-form {
    overflow: hidden;
    position: relative;
    padding: 0;

    & .form-type-search {
      margin: 0!important;
      flex: 1;

      &::before {
        content: '';
        // background-image: $search-icon;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        display: block;
      }
    }

    & .form-search {
      height: 2.25rem;
      @include media-breakpoint-up(sm) {
        padding-right: calc(7rem + .3125rem);
      }
      @include media-breakpoint-up(lg) {
        height: 2.75rem;
      }
    }

    & .form-actions {
      margin-bottom: 0!important;
      position: absolute;
      top: 50%;
      right: .25rem;
      transform: translateY(-50%);

      & .btn {
        @include media-breakpoint-down(lg) {
          min-height: 2rem;
        }
      }
    }
  }
}
