/* KDB Navbar Collapse styles
 *
 * navbar position
------------------------------------------------- */

.navbar-collapse {
  @include media-breakpoint-down(lg) {
    position: fixed;
    top: var(--navbarHeight);
    left: 0px;
    right: 0px;
    background-color: $white;
    transition: height .35s, visibilty .35s;

    & .navbar-collapse-inner {
      height: calc(100dvh - var(--navbarHeight) - var(--navbarTopHeight) - var(--drupal-displace-offset-top, 0px)) !important;

      body.has-scrolled & {
        height: calc(100dvh - var(--navbarHeight) - var(--drupal-displace-offset-top, 0px))!important;
      }
      // height: 100%!important;
      overflow-y: auto;
    }

    &.collapsing {
      height: 0;
      overflow: hidden;
      transition-property: height, visibility;
      transition-duration: 0.35s;
      transition-timing-function: ease;
    }
  }
}
