/* KDB Navbar Brand styles
 *
 * navbar logo
 * navbar iso
------------------------------------------------- */

.navbar-brand {
  & > img {
    width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      max-width: 155px;
    }
  }

  & .navbar-brand-iso {
    width: 2.5rem;
    height: 2.5rem;
  }
}

