<div class="row {{ row_classes }}">
  <div class="{{ col_content_classes }} text-center text-md-start">
    {% if paragraph.field_title is not empty or paragraph.field_suptitle is not empty or paragraph.field_description is not empty or paragraph.field_button_group %}
    <div class="d-flex flex-column gap-3 {{ content_classes }}">
      {% if paragraph.field_suptitle is not empty %}
        <header>
          {% if paragraph.field_suptitle is not empty %}
            <span class="homepage-hero-banner-tagline">
              {{ content.field_suptitle.0 }}
            </span>
          {% endif %}
        </header>
      {% endif %}
      {% if paragraph.field_description is not empty or paragraph.field_title is not empty %}
        <div class="homepage-hero-content">
          <h1 class="fw-bold">
            {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
          </h1>
          <div class="homepage-hero-banner-copy h6{{ paragraph.field_title is not empty ? ' mt-2'}}">
            {{ content.field_description }}
          </div>
        </div>
      {% endif %}
      {% if paragraph.field_button_group is not empty %}
        <div class="homepage-hero-cta mt-md-4 d-flex justify-content-center justify-content-md-start">
          {{ content.field_button_group }}
        </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% if paragraph.field_media_image is not empty %}
    <div class="{{ col_media_classes }}">
      {{ content.field_media_image }}
    </div>
  {% endif %}
</div>
