{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set view = paragraph.paragraph_view_mode.value %}
{% set use_overlay = paragraph.field_use_overlay.value %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'homepage-hero-banner homepage-hero-banner-' ~ view ~ ' position-relative shadow-3 rounded-4 overflow-hidden flex-grow-1 d-flex',
  ]
%}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {% block content %}
      {% set row_classes = 'g-0 flex-grow-1 align-items-end align-items-md-center' %}
      {% set content_classes = 'p-3 px-md-5 px-lg-8.5 py-md-7' %}
      {% set col_content_classes = 'col-md-7 order-md-0 order-1 position-relative text-white homepage-hero-banner-col-content' %}
      {% set col_media_classes = use_overlay ? 'homepage-hero-banner-col-media with-overlay' : 'homepage-hero-banner-col-media' %}

      {% include "@kadabra_theme/paragraph/homepage-hero/homepage-hero-content.html.twig" %}
    {% endblock %}
  </section>
{% endblock paragraph %}
