{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set bg_color = content.field_background_color['#items'].getString() | replace({'_': '-'}) %}
{% set type = content.field_behavior_section_type['#items'].getString() %}

{% set first = content.regions.main | first %}
{% set p_type = first['#paragraph'].type.value[0].target_id %}
{% set isBannerHero = p_type in ['banner_sub_hero', 'homepage_hero'] %}
{% set sectionsWithSpacing = p_type in ['texto_imagen', 'text_content', 'tabs_horizontal', 'tabs_vertical', 'webform'] %}

{%
  set classes = [
    'paragraph section-component full-width',
    bg_color ? 'bg-' ~ bg_color,
    type ? 'section-component-with-figure' ~ ' section-component-with-figure-' ~ type ~ ' position-relative',
    isBannerHero ? 'section-component-with-hero' : sectionsWithSpacing ? 'py-9.5 py-md-13' : 'py-9.5',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {% if type %}
      <div class="overflow-hidden w-100 h-100 position-absolute top-0 start-0">
        {% if type == 'one' %}
          <svg class="section-brand-figure section-brand-figure-one position-absolute"><use xlink:href="#section-type-one"></use></svg>
        {% endif %}
        {% if type == 'two' %}
          <svg class="section-brand-figure section-brand-figure-two position-absolute"><use xlink:href="#section-type-two"></use></svg>
        {% endif %}
        {% if type == 'three' %}
          <svg class="section-brand-figure section-brand-figure-two position-absolute"><use xlink:href="#section-type-two"></use></svg>
          <svg class="section-brand-figure section-brand-figure-three position-absolute bottom-0"><use xlink:href="#section-type-three"></use></svg>
        {% endif %}
      </div>
    {% endif %}
    <div class="{{ container }}">
    {% block content %}
      {{ content | without (
        'field_background_color',
        'field_behavior_section_type',
      ) }}
    {% endblock %}
    </div>
  </section>
{% endblock paragraph %}
