{#
  /**
  * @file
  * Default theme implementation to display a paragraph.
  *
  * Available variables:
  * - paragraph: Full paragraph entity.
  *   Only method names starting with "get", "has", or "is" and a few common
  *   methods such as "id", "label", and "bundle" are available. For example:
  *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
  *   - paragraph.id(): The paragraph ID.
  *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
  *   - paragraph.getOwnerId(): The user ID of the paragraph author.
  *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
  *   and methods for the paragraph object.
  * - content: All paragraph items. Use {{ content }} to print them all,
  *   or print a subset such as {{ content.field_example }}. Use
  *   {{ content|without('field_example') }} to temporarily suppress the printing
  *   of a given child element.
  * - attributes: HTML attributes for the containing element.
  *   The attributes.class element may contain one or more of the following
  *   classes:
  *   - paragraphs: The current template type (also known as a "theming hook").
  *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
  *     "Image" it would result in "paragraphs--type--image". Note that the machine
  *     name will often be in a short form of the human readable label.
  *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
  *     preview would result in: "paragraphs--view-mode--preview", and
  *     default: "paragraphs--view-mode--default".
  * - view_mode: View mode; for example, "preview" or "full".
  * - logged_in: Flag for authenticated user status. Will be true when the
  *   current user is a logged-in member.
  * - is_admin: Flag for admin user status. Will be true when the current user
  *   is an administrator.
  *
  *
  * @ingroup themeable
  */
  #}

{# 3 component variants #}
{# SM (default)
Title, description, cta and image on the side #}
{# Large (lg)
Title, description, cta and image on the side to fill the edge of the page #}
{# Full (full)
Title, description, cta and image on the side to fill the edge of the page #}


{% set bg_color = content.field_background_color['#items'].getString() | replace({'_': '-'}) %}
{% set text_white = bg_color in ['blue', 'indigo'] ? ' text-white ' : null %}
{% set image_side = paragraph.field_image_position.value %}

{%
  set classes = [
    'paragraph',
    'banner-subhero full-width py-md-13',
    'banner-subhero-' ~ view_mode,
    image_side ? 'banner-subhero-' ~ image_side,
    bg_color ? 'bg-' ~ bg_color,
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set hasImage = paragraph.field_media_image is not empty %}
{% set hasLottie = paragraph.field_lottie is not empty %}
{% set hasTitle = paragraph.field_title is not empty %}
{% set hasEyebrow = paragraph.field_eyebrow is not empty %}
{% set hasDescription = paragraph.field_description is not empty %}
{% set is_full = view_mode == 'full' %}
{% set col_class = is_full ? 'col-12' : 'col-12 col-md-6' %}

{% block paragraph %}
  {% block content %}
    <div{{attributes.addClass(classes)}}>
      <div class="banner-subhero__content {{ container }}">
      {% if view_mode != 'full' %}
        {% include "@kadabra_theme/paragraph/includes/banner-hero-default.html.twig" %}
      {% else %}
        {% include "@kadabra_theme/paragraph/includes/banner-hero-full.html.twig" %}
      {% endif %}
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
