{#
  /**
  * @file
  * Default theme implementation to display a paragraph.
  *
  * Available variables:
  * - paragraph: Full paragraph entity.
  *   Only method names starting with "get", "has", or "is" and a few common
  *   methods such as "id", "label", and "bundle" are available. For example:
  *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
  *   - paragraph.id(): The paragraph ID.
  *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
  *   - paragraph.getOwnerId(): The user ID of the paragraph author.
  *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
  *   and methods for the paragraph object.
  * - content: All paragraph items. Use {{ content }} to print them all,
  *   or print a subset such as {{ content.field_example }}. Use
  *   {{ content|without('field_example') }} to temporarily suppress the printing
  *   of a given child element.
  * - attributes: HTML attributes for the containing element.
  *   The attributes.class element may contain one or more of the following
  *   classes:
  *   - paragraphs: The current template type (also known as a "theming hook").
  *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
  *     "Image" it would result in "paragraphs--type--image". Note that the machine
  *     name will often be in a short form of the human readable label.
  *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
  *     preview would result in: "paragraphs--view-mode--preview", and
  *     default: "paragraphs--view-mode--default".
  * - view_mode: View mode; for example, "preview" or "full".
  * - logged_in: Flag for authenticated user status. Will be true when the
  *   current user is a logged-in member.
  * - is_admin: Flag for admin user status. Will be true when the current user
  *   is an administrator.
  *
  *
  * @ingroup themeable
  */
  #}

{% set with_bg = content.field_behavior_solid_bg | render | striptags | trim == '1' %}

{%
  set classes = [
    'paragraph',
    'featured-background d-flex flex-column gap-5.5 flex-grow-1',
    with_bg ? 'featured-background-solid-bg border border-indigo-light py-5.5 px-4 bg-white rounded-1 shadow-2' : ' px-4 pb-5.5 pb-md-0',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  {% block content %}
    <div{{ attributes.addClass(classes) }}>

      {% if paragraph.field_material_icon is not empty %}
        <div class="featured-background__icon d-flex justify-content-center align-items-center mx-auto rounded-1 overflow-hidden">
          {{ content.field_material_icon }}
        </div>
      {% endif %}
      <div class="featured-background__info d-flex flex-column gap-2.5 text-center flex-grow-1">
        {% if paragraph.field_title is not empty %}
          <h3 class="text-lg fw-medium">
            {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
          </h3>
        {% endif %}
        {% if paragraph.field_description is not empty %}
          <div class="text-md">
            {{ content.field_description }}
          </div>
        {% endif %}
        {% if paragraph.field_button_group is not empty %}
          <div class="d-flex justify-content-center mt-auto">
            {{ content.field_button_group }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
