{#
  /**
  * @file
  * Default theme implementation to display a paragraph.
  *
  * Available variables:
  * - paragraph: Full paragraph entity.
  *   Only method names starting with "get", "has", or "is" and a few common
  *   methods such as "id", "label", and "bundle" are available. For example:
  *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
  *   - paragraph.id(): The paragraph ID.
  *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
  *   - paragraph.getOwnerId(): The user ID of the paragraph author.
  *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
  *   and methods for the paragraph object.
  * - content: All paragraph items. Use {{ content }} to print them all,
  *   or print a subset such as {{ content.field_example }}. Use
  *   {{ content|without('field_example') }} to temporarily suppress the printing
  *   of a given child element.
  * - attributes: HTML attributes for the containing element.
  *   The attributes.class element may contain one or more of the following
  *   classes:
  *   - paragraphs: The current template type (also known as a "theming hook").
  *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
  *     "Image" it would result in "paragraphs--type--image". Note that the machine
  *     name will often be in a short form of the human readable label.
  *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
  *     preview would result in: "paragraphs--view-mode--preview", and
  *     default: "paragraphs--view-mode--default".
  * - view_mode: View mode; for example, "preview" or "full".
  * - logged_in: Flag for authenticated user status. Will be true when the
  *   current user is a logged-in member.
  * - is_admin: Flag for admin user status. Will be true when the current user
  *   is an administrator.
  *
  *
  * @ingroup themeable
  */
  #}


{% set position = paragraph.field_behavior_position.value %}
{% set text_position = 'text-center' %}

{% if position == 'left' %}
  {% set text_position = 'text-start' %}
{% elseif position == 'right' %}
  {% set text_position = 'text-end' %}
{% endif %}

{% set btn_position = 'justify-content-center' %}

{% if position == 'left' %}
  {% set btn_position = 'justify-content-start' %}
{% elseif position == 'right' %}
  {% set btn_position = 'justify-content-end' %}
{% endif %}

{% set title_level = content.field_behavior_title_level['#items'].getString() %}
{% set title_tag = title_level ?: 'h4' %}

{%
  set classes = [
    'paragraph',
    'text-only d-flex flex-column gap-5.5',
    text_position,
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  {% block content %}
    <div{{attributes.addClass(classes)}}>
      <div class="text-only-content d-flex flex-column gap-3">
        {% if paragraph.field_eyebrow is not empty %}
          <p class="text-lg text-indigo fw-medium mb-0 text-only-eyebrow">
            {{ content.field_eyebrow.0 }}
          </p>
        {% endif %}
        {% if paragraph.field_title is not empty %}
          <h2 class="{{ title_tag }} text-dark text-only-title">
            {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
          </h2>
        {% endif %}
        {% if paragraph.field_description is not empty %}
          {% if view_mode == 'card_full_width' %}
            <div class="text-lg">
          {% endif %}
          <div class="">
            {{ content.field_description }}
          </div>
          {% if view_mode == 'card_full_width' %}
            </div>
          {% endif %}
        {% endif %}
      </div>
      {% if paragraph.field_button_group is not empty %}
        <div class="d-flex {{ btn_position }}">
          {{ content.field_button_group }}
        </div>
      {% endif %}
    </div>
  {% endblock %}
{% endblock paragraph %}
