{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('kadabra_theme/kdb_flip_cards') }}

{%
  set classes = [
    'paragraph',
    'js-flip-cards',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {% if content.field_items | render %}
        <div class="flip-cards row gy-3.5 gy-md-7 justify-content-center" id="flip-cards-{{ paragraph.id() }}">
          {% for key, item in content.field_items | children(true) %}
            <div class="flip-card-item col-md-6 col-lg-4 d-flex">
              <button class="flip-card-button p-0 border-0 shadow-0 bg-transparent flex-grow-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ key }}-{{ paragraph.id() }}" aria-expanded="false" aria-controls="collapse-{{ key }}-{{ paragraph.id() }}">
                {# <span class="flip-card-item-title h5 fw-normal text-white mb-5.5">
                  {{ item['#paragraph'].field_title.value }}
                </span> #}
                <div id="collapse-{{ key }}-{{ paragraph.id() }}" class="collapse h-100" data-bs-parent="#flip-cards-{{ paragraph.id() }}">
                  {{ item }}
                </div>
              </button>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {{ content | without(
        'field_items',
      ) }}
    {% endblock %}
  </div>
{% endblock paragraph %}
