{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'destacadoBasico w-100 m-0 shadow-3 bg-white'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if paragraph.field_media_image is not empty %}
        <div class="destacado-basico-media-wrapper position-relative{{ paragraph.field_behavior_image.value == 1 ? ' img-escalon' : '' }}">
          {{ content.field_media_image }}
          {% if paragraph.field_use_logo.value %}
            <div class="destacadoBasico__logo position-absolute bottom-0 start-0 ms-3 mb-3">
              {% include "@kadabra_theme/svg/logo-72x72.html.twig" %}
            </div>
          {% endif %}
        </div>
    {% endif %}
    <div class="destacado-basico-content d-flex flex-column gap-3 px-4 pb-4">
      <h3 class="">
        {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
      </h3>
      {% if paragraph.field_description is not empty %}
        <div class="destacadoBasico__description">{{ content.field_description }}</div>
      {% endif %}
      {% if paragraph.field_button_group is not empty %}
        <div class="d-flex justify-content-center mt-2">
          {{ content.field_button_group }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock paragraph %}
