{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'shadow'
  ]
%}

{% block paragraph %}
   {% if paragraph.field_archivo.entity %}
      {% set media_entity = paragraph.field_archivo.entity %}
      {% if media_entity.field_media_document.entity %}
        {% set file_entity = media_entity.field_media_document.entity %}
        {% set file_url = file_entity.uri.value|file_url %}
        {% set file_name = paragraph.field_title is not empty ? paragraph.field_title.value : file_entity.filename.value %}
        {% set file_data = getFileInfo(paragraph.field_archivo.entity.id)  %}

        <a href="{{ file_url }}" download="{{ file_entity.filename.value }}">
          <div{{ attributes.addClass(classes) }}>
            <div class="d-flex p-3">
              <div class="archivos-descargables-icon">
                <svg class="icon"><use xlink:href="#download-icon"></use></svg>
              </div>
              <div class="archivos-descargables-body">
                <div class='archivos-descargables-title fw-bold fs-6 font-headline'>{{file_name}}</div>
                <div class='mt-2 text-sm lh-sm fw-normal fst-normal' >{{file_data.file_size ~ ' - ' ~ file_data.file_extension|upper}}</div>
              </div>
            </div>
          </div>
        </a>
      {% endif %}
    {% endif %}
{% endblock paragraph %}
