{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set hasImage = paragraph.field_media_image.entity is not empty %}
{% set hasContent = paragraph.field_description is not empty %}
{% set hasTitle = paragraph.field_title is not empty %}


{%
  set classes = [
    'paragraph flip-card h-100',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="flip-card-inner h-100">
      {% if hasImage or hasTitle %}
        <div class="flip-card-front h-100 rounded-1.5 overflow-hidden">
          {% if hasImage %}
            <div class="flip-card-image h-100">
              {{ content.field_media_image }}
            </div>
          {% endif %}
          {% if hasTitle %}
            <span class="flip-card-item-title d-block h5 fw-normal text-white mb-5.5">
              {{ content.field_title }}
            </span>
          {% endif %}
        </div>
      {% endif %}
      {% if hasContent or hasImage %}
        <div class="flip-card-back h-100 rounded-1.5 overflow-hidden">
          <div class="flip-card-image h-100">
            {{ content.field_media_image }}
          </div>
          <div class="flip-card-description py-5.5 px-4 p-md-5.5 h-100 d-flex align-items-center">
            {{ content.field_description }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock paragraph %}
