/* UI Kit Colors
 *
 * KBD Colors
 *
 * blue (normal | dark)
 * indigo (normal | dark)
 * green
 * green-light
 * purple-light
 * purple-dark
 * orange
 * gray
 *
 * Neutral Colors

------------------------------------------------- */

$blue:                   #092265;
$blue-medium:            #8490B2;
$blue-dark:              #01164d;

$indigo:                 #2f7af0;
$indigo-medium:          #97bcf7;
$indigo-light:           #cddffb;
$indigo-light-medium:    #e8f1fe;
$indigo-extra-light:     #f5f8fe;
$indigo-dark:            #2462c5;
$indigo-gradient:         linear-gradient(90deg, #d7e5fc -2.5%, $indigo 100%);

$green:                  #1ad69d;
$green-light:            #03e3c8;
// $purple-light:           #4d00c0;
// $purple-dark:            #3c0096;
// $orange:                 #ff936f;

$white:                  #fff;
$gray-extra-light:       #f6f6f6;
$gray-light:             #e3e4e4;
$gray-medium:            #9ba0aa;
$gray-dark:              #3f3f3f;
$gray-disabled:          #c4c4c4;
$dark:                   #232428;

