/* Bootstrap variables overrides
 *
 * Override bootstrap default variables with KDB UI Kit
------------------------------------------------- */

$prefix:             kdb-;

// Color system

// scss-docs-start gray-color-variables
$white:    $white;
$gray-100: $gray-extra-light;
$gray-300: $gray-light;
$gray-500: $gray-medium;
$gray-700: $gray-dark;
$gray-900: $dark;
$black:    #000;
// scss-docs-end gray-color-variables

$primary:             $blue;
// $secondary:           $
$success:       #198754;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":            $primary,
  "secondary":          $indigo,
  "blue":               $blue,
  "indigo":             $indigo,
  "indigo-light":       $indigo-light,
  "indigo-extra-light": $indigo-extra-light,
  "success":            $success,
  "info":               $info,
  "warning":            $warning,
  "danger":             $danger,
  "light":              $gray-100,
  "light-300":          $gray-300,
  "dark":               $gray-900,
);
// scss-docs-end theme-colors-map

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-negative-margins:     true;
$enable-shadows:              true;



// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  2\.5: $spacer * .625,
  3: $spacer,
  3\.5: $spacer * 1.25,
  4: $spacer * 1.5,
  5: $spacer * 1.875,
  5\.5: $spacer * 2,
  6: $spacer * 2.25,
  7: $spacer * 2.5,
  8: $spacer * 3,
  8\.5: $spacer * 3.5,
  9: $spacer * 3.75,
  9\.5: $spacer * 4,
  10: $spacer * 4.25,
  11: $spacer * 5,
  11\.5: $spacer * 5.5,
  12: $spacer * 6.25,
  13: $spacer * 7,
  14: $spacer * 8,
  15: $spacer * 9,
  16: $spacer * 10,
  17: $spacer * 11,
  18: $spacer * 12,
);
// scss-docs-end spacer-variables-maps

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px,
);
// scss-docs-end container-max-widths

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:           1.25rem;

// Container padding

$container-padding-x:         2rem;



// scss-docs-start border-radius-variables
$border-radius-sm:            .5rem;
$border-radius-sm-plus:       .75rem;
$border-radius-md:             1rem;
$border-radius-lg:             2rem;
$border-radius-pill:          50rem;
$border-radius:               $border-radius-md;
// scss-docs-end border-radius-variables


// Body
//
// Settings for the `<body>` element.

$body-color:                $gray-dark;
$body-bg:                   $white;

// Links
//
// Style anchor elements.

$link-color:                              $primary;
$link-decoration:                         underline;
// $link-shade-percentage:                   20%;
// $link-hover-color:                        $primary_boston;
// $link-hover-decoration:                   null !default;



// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:      Gramatika, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$icon-font:                   'Material Symbols Outlined';


// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-xs:                $font-size-base * .75;
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.125;

$font-size-base-mobile:       $font-size-base * .875;
$font-size-xs-mobile:         $font-size-base * .75;
$font-size-sm-mobile:         $font-size-base * .8125;
$font-size-lg-mobile:         $font-size-base * 1;

$font-weight-extra-bold:      800;

$line-height-base:            1.3;
$line-height-xs:              1.2;


// scss-docs-start headings-variables
$headings-margin-bottom:      0;
$headings-font-family:        Gramatika, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight:        400;
$headings-color:              $gray-900;
// scss-docs-end headings-variables

$h1-font-size:                $font-size-base * 4;
$h1-lh:                       1.2;
$h2-font-size:                $font-size-base * 3.5;
$h2-lh:                       1.2;
$h3-font-size:                $font-size-base * 2.75;
$h3-lh:                       1.2;
$h4-font-size:                $font-size-base * 2;
$h4-lh:                       1.2;
$h5-font-size:                $font-size-base * 1.5;
$h5-lh:                       1.2;
$h6-font-size:                $font-size-base * 1.25;
$h6-lh:                       1.2;

$h1-font-size-mobile:         $font-size-base * 2.5;
$h1-lh-mobile:                1.2;
$h2-font-size-mobile:         $font-size-base * 2.25;
$h2-lh-mobile:                1.2;
$h3-font-size-mobile:         $font-size-base * 2;
$h3-lh-mobile:                1.2;
$h4-font-size-mobile:         $font-size-base * 1.75;
$h4-lh-mobile:                1.2;
$h5-font-size-mobile:         $font-size-base * 1.3125;
$h5-lh-mobile:                1.2;
$h6-font-size-mobile:         $font-size-base * 1.25;
$h6-lh-mobile:                1.2;

$section-title:               $font-size-base * 2;
$section-title-lh:            1.125;
$section-title-mobile:        $font-size-base * 1.75;
$section-title-lh-mobile:     1.1428;

// scss-docs-start focus-ring-variables
$focus-ring-width:      .25rem;
$focus-ring-opacity:    .25;
$focus-ring-color:      rgba($primary, $focus-ring-opacity);
$focus-ring-blur:       0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;
// scss-docs-end focus-ring-variables


// scss-docs-start box-shadow-variables
$box-shadow-xs:               0px 4px 16px 0px rgba(0, 0, 0, 0.05);
$box-shadow-sm:               0px 4px 24px 0px rgba(0, 0, 0, 0.05);
$box-shadow-md:               0px 4px 40px 0px rgba(0, 0, 0, 0.05);
$box-shadow-lg:               0px 10px 60px 0px rgba(0, 0, 0, 0.05);
$box-shadow:                  $box-shadow-md;
// scss-docs-end box-shadow-variables

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y:         .75rem;
$input-btn-padding-x:         1.25rem;
$input-btn-font-family:       $font-family-sans-serif;
$input-btn-font-size:         $font-size-base;
$input-btn-line-height:       1.25;

$input-btn-padding-y-sm:      .625rem;
$input-btn-padding-x-sm:      1rem;
$input-btn-font-size-sm:      .875rem;

$input-btn-padding-y-lg:         1rem;
$input-btn-padding-x-lg:         1.5rem;
$input-btn-font-size-lg:         $font-size-lg;
$input-btn-line-height-lg:       1.33333;

$input-btn-border-width:      1px;
// scss-docs-end input-btn-variables

// Alerts
//
// Define alert colors, border radius, and padding.

// scss-docs-start alert-variables
$alert-border-radius:           $border-radius-sm;
// scss-docs-end alert-variables

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables

$btn-transition:              color .4s ease, background-color .4s, border-color .4s ease, box-shadow .45s ease-in-out;
// $btn-white-ripple:            $neutral_neutral10;
$btn-ring-focus:              #36f;
$btn-color:                   var(--#{$prefix}body-color);
$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-font-family:             $input-btn-font-family;
$btn-font-size:               $input-btn-font-size;
$btn-line-height:             $input-btn-line-height;
$btn-white-space:             null; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            $input-btn-padding-y-sm;
$btn-padding-x-sm:            $input-btn-padding-x-sm;
$btn-font-size-sm:            $input-btn-font-size-sm;

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;
$btn-font-size-lg:            $input-btn-font-size-lg;

$btn-border-width:            0;

$btn-font-weight:             500;
$btn-box-shadow:              none;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 0 0 3px $green;

$btn-link-color:              var(--#{$prefix}link-color);
$btn-link-hover-color:        var(--#{$prefix}link-hover-color);
// $btn-link-disabled-color:     $gray-600 !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           1.875rem;
$btn-border-radius-sm:        1.875rem;
$btn-border-radius-lg:        1.875rem;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$btn-hover-bg-shade-amount:       15% !default;
$btn-hover-bg-tint-amount:        15% !default;
$btn-hover-border-shade-amount:   20% !default;
$btn-hover-border-tint-amount:    10% !default;
$btn-active-bg-shade-amount:      20% !default;
$btn-active-bg-tint-amount:       20% !default;
$btn-active-border-shade-amount:  25% !default;
$btn-active-border-tint-amount:   10% !default;
// scss-docs-end btn-variables


// scss-docs-start form-label-variables
$form-label-margin-bottom:              .4375rem;
$form-label-font-size:                  .875rem;
$form-label-font-weight:                500;
$form-label-color:                      $body-color;
// scss-docs-end form-label-variables

// scss-docs-start form-input-variables
$input-padding-y:                       .75rem;
$input-padding-x:                       1rem;
$input-line-height:                     1.1875;

$input-bg:                              $white;
$input-disabled-color:                  null;
$input-disabled-bg:                     $gray-300;
$input-disabled-border-color:           null;

$input-color:                           $body-color;
$input-border-color:                    $gray-light;
$input-border-width:                    1px;
$input-box-shadow:                      initial;

$input-border-radius:                   .375rem;
$input-border-radius-sm:                $input-border-radius;
$input-border-radius-lg:                $input-border-radius;

$input-focus-bg:                        $input-bg;
$input-focus-border-color:              $gray-disabled;
$input-focus-color:                     $input-color;
$input-focus-width:                     0;
$input-focus-box-shadow:                initial;

$input-placeholder-color:               $body-color;
// $input-plaintext-color:                 var(--#{$prefix}body-color) !default;

// $input-height-border:                   calc(#{$input-border-width} * 2) !default; // stylelint-disable-line function-disallowed-list

$input-height-inner:                    initial;
$input-height-inner-half:               initial;
$input-height-inner-quarter:            initial;

$input-height:                          45px;
// $input-height-sm:                       add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
// $input-height-lg:                       add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

// $input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// $form-color-width:                      3rem !default;
// scss-docs-end form-input-variables

// scss-docs-start form-select-variables
$form-select-box-shadow:          initial;

$form-select-bg-size:               18px; // In pixels because image dimensions
$form-select-indicator:             url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'><path d='M12.4425 6.22119L9 9.65619L5.5575 6.22119L4.5 7.27869L9 11.7787L13.5 7.27869L12.4425 6.22119Z' fill='#{$body-color}'/></svg>");
// scss-docs-end form-select-variables


// Close

// scss-docs-start close-variables
$btn-close-width:            1.5rem;
$btn-close-height:           $btn-close-width;
$btn-close-padding-x:        0;
$btn-close-padding-y:        $btn-close-padding-x;
$btn-close-color:            $dark;
$btn-close-bg:               url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M17.995 5C18.2615 5 18.5168 5.10644 18.7044 5.29568C19.0918 5.68555 19.0918 6.31521 18.7044 6.70509L13.414 11.998L18.7044 17.2907C18.8936 17.4784 19 17.7339 19 18.0004C19 18.2669 18.8936 18.5224 18.7044 18.7101C18.5159 18.8972 18.2606 19.0015 17.995 19C17.7295 19.0015 17.4742 18.8972 17.2856 18.7101L11.995 13.417L6.71438 18.7001C6.52746 18.8909 6.27199 18.9989 6.00497 19C5.73938 19.0015 5.48412 18.8972 5.29555 18.7101C5.1064 18.5224 5 18.2669 5 18.0004C5 17.7339 5.1064 17.4784 5.29555 17.2907L10.58 12.003L5.29555 6.71509C4.90376 6.32313 4.90376 5.68763 5.29555 5.29568C5.68735 4.90372 6.32258 4.90372 6.71438 5.29568L12 10.583L17.2856 5.29568C17.4732 5.10644 17.7286 5 17.995 5Z' fill='#{$btn-close-color}'/></svg>");
$btn-close-focus-shadow:     $focus-ring-box-shadow !default;
$btn-close-opacity:          1;
$btn-close-hover-opacity:    1;
$btn-close-focus-opacity:    1;
$btn-close-disabled-opacity: .25;
$btn-close-white-filter:     invert(1) grayscale(100%) brightness(200%) !default;
// scss-docs-end close-variables



// Search form
// $search-icon:               url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg id='icon'%3E%3Cpath id='Vector' fill-rule='evenodd' clip-rule='evenodd' d='M13.7426 5.25736C16.0858 7.6005 16.0858 11.3995 13.7426 13.7426C11.3995 16.0858 7.60051 16.0858 5.25736 13.7426C2.91421 11.3995 2.91421 7.60051 5.25736 5.25736C7.6005 2.91421 11.3995 2.91421 13.7426 5.25736ZM15.4637 14.0495C15.2632 14.3116 15.043 14.5636 14.8033 14.8033C14.5635 15.0431 14.3116 15.2632 14.0495 15.4637L18.6924 20.1066C19.0829 20.4971 19.7161 20.4971 20.1066 20.1066C20.4971 19.7161 20.4971 19.0829 20.1066 18.6924L15.4637 14.0495ZM16.2693 12.7338C17.6011 9.94595 17.1124 6.50579 14.8033 4.1967C11.8744 1.26777 7.12563 1.26777 4.1967 4.1967C1.26777 7.12563 1.26777 11.8744 4.1967 14.8033C6.50579 17.1124 9.94594 17.6011 12.7338 16.2693L17.6317 21.1673C18.608 22.1436 20.191 22.1436 21.1673 21.1673C22.1436 20.191 22.1436 18.608 21.1673 17.6317L16.2693 12.7338Z' fill='%23#{$primary-string}'/%3E%3C/g%3E%3C/svg%3E");
// $search-icon-secondary:     url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M9.216 2C13.2011 2 16.432 5.23086 16.432 9.216C16.432 10.4147 16.1397 11.5452 15.6224 12.54L21.3621 18.2802C22.2133 19.1315 22.2133 20.5111 21.3618 21.3626C20.5531 22.1701 19.2678 22.2104 18.4123 21.4835L18.281 21.3624L12.539 15.623C11.5444 16.1399 10.4143 16.432 9.216 16.432C5.23086 16.432 2 13.2011 2 9.216C2 5.23086 5.23086 2 9.216 2ZM13.4166 15.0839L18.9881 20.6552C19.4478 21.115 20.1945 21.115 20.6549 20.6552C21.0828 20.2274 21.1133 19.5533 20.7466 19.0902L20.6549 18.9874L15.0839 13.4166C14.623 14.0593 14.0593 14.623 13.4166 15.0839ZM3 9.216C3 5.78314 5.78314 3 9.216 3C12.6489 3 15.432 5.78314 15.432 9.216C15.432 12.6489 12.6489 15.432 9.216 15.432C5.78314 15.432 3 12.6489 3 9.216Z' fill='#{$secondaryAccesible_darkTurquoise}'/></svg>");
$close-icon-lightbox:       url("data:image/svg+xml, <svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M23.9935 6.66666C24.3487 6.66666 24.6892 6.80858 24.9393 7.06089C25.4559 7.58072 25.4559 8.42028 24.9393 8.94011L17.8854 15.9973L24.9393 23.0542C25.1916 23.3045 25.3334 23.6452 25.3334 24.0005C25.3334 24.3559 25.1916 24.6965 24.9393 24.9468C24.6879 25.1963 24.3476 25.3354 23.9935 25.3333C23.6394 25.3354 23.299 25.1963 23.0476 24.9468L15.9934 17.8893L8.95259 24.9335C8.70336 25.1878 8.36274 25.3318 8.0067 25.3333C7.65259 25.3354 7.31224 25.1963 7.06082 24.9468C6.80861 24.6965 6.66675 24.3559 6.66675 24.0005C6.66675 23.6452 6.80861 23.3045 7.06082 23.0542L14.1067 16.004L7.06082 8.95344C6.53842 8.43083 6.53842 7.5835 7.06082 7.06089C7.58322 6.53828 8.43019 6.53828 8.95259 7.06089L16.0001 14.1107L23.0476 7.06089C23.2977 6.80858 23.6382 6.66666 23.9935 6.66666Z' fill='white'/></svg>");
$arrow-left-lightbox:       url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.9957 19.0041C14.7302 19.0056 14.4751 18.9013 14.2867 18.7141L8.29537 12.7141C8.10633 12.5263 8 12.2707 8 12.0041C8 11.7375 8.10633 11.4819 8.29537 11.2941L14.2867 5.29409C14.6782 4.90197 15.3131 4.90197 15.7046 5.29409C16.0962 5.68621 16.0962 6.32197 15.7046 6.71409L10.4123 12.0041L15.7046 17.2941C15.8937 17.4819 16 17.7375 16 18.0041C16 18.2707 15.8937 18.5263 15.7046 18.7141C15.5162 18.9013 15.2611 19.0056 14.9957 19.0041Z' fill='white'/></svg>");
$arrow-right-lightbox:      url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9.00434 19.0041C8.73892 19.0056 8.48382 18.9013 8.29537 18.7141C8.10633 18.5263 8 18.2707 8 18.0041C8 17.7375 8.10633 17.4819 8.29537 17.2941L13.5877 12.0041L8.29537 6.71409C7.90382 6.32197 7.90382 5.68621 8.29537 5.29409C8.68692 4.90197 9.32176 4.90197 9.71331 5.29409L15.7046 11.2941C15.8937 11.4819 16 11.7375 16 12.0041C16 12.2707 15.8937 12.5263 15.7046 12.7141L9.71331 18.7141C9.52487 18.9013 9.26976 19.0056 9.00434 19.0041Z' fill='white'/></svg>");
$arrow-right-icon:          url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.32 4.17163L21.85 11.6565C21.9498 11.7489 22.0045 11.88 22 12.0158C22.002 12.1511 21.9477 12.2811 21.85 12.375L14.32 19.8599C14.2359 19.9466 14.1209 19.9968 14 19.9996C13.8687 20.0051 13.7413 19.9542 13.65 19.8599C13.5553 19.7662 13.5021 19.6387 13.5021 19.5056C13.5021 19.3726 13.5553 19.245 13.65 19.1513L20.301 12.5038L2.5 12.5048C2.22772 12.5048 2.00545 12.2874 2 12.0158C2 11.7402 2.22386 11.5168 2.5 11.5168L20.289 11.5158L13.62 4.8802C13.4765 4.75924 13.4131 4.56824 13.4557 4.3857C13.4984 4.20315 13.6399 4.05986 13.8222 4.01471C14.0045 3.96956 14.1968 4.03017 14.32 4.17163Z' fill='#{$primary}'/></svg>");
// $arrow-right-active-icon:   url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.32 4.17163L21.85 11.6565C21.9498 11.7489 22.0045 11.88 22 12.0158C22.002 12.1511 21.9477 12.2811 21.85 12.375L14.32 19.8599C14.2359 19.9466 14.1209 19.9968 14 19.9996C13.8687 20.0051 13.7413 19.9542 13.65 19.8599C13.5553 19.7662 13.5021 19.6387 13.5021 19.5056C13.5021 19.3726 13.5553 19.245 13.65 19.1513L20.301 12.5038L2.5 12.5048C2.22772 12.5048 2.00545 12.2874 2 12.0158C2 11.7402 2.22386 11.5168 2.5 11.5168L20.289 11.5158L13.62 4.8802C13.4765 4.75924 13.4131 4.56824 13.4557 4.3857C13.4984 4.20315 13.6399 4.05986 13.8222 4.01471C14.0045 3.96956 14.1968 4.03017 14.32 4.17163Z' fill='#{$primary_boston}'/></svg>");
$play-button:               url("data:image/svg+xml, <svg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='70' height='70' rx='35' fill='white'/><path d='M29.9172 44.7289L45.8733 35.0598L29.9172 25.3907L29.9172 44.7289Z' fill='black'/></svg>");
$arrow-left-homepage-hero:  url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.9957 4.99591C15.2611 4.99437 15.5162 5.09872 15.7046 5.28591C15.8937 5.47368 16 5.72927 16 5.99591C16 6.26255 15.8937 6.51814 15.7046 6.70591L10.4123 11.9959L15.7046 17.2859C16.0962 17.678 16.0962 18.3138 15.7046 18.7059C15.3131 19.098 14.6782 19.098 14.2867 18.7059L8.29537 12.7059C8.10633 12.5181 8 12.2625 8 11.9959C8 11.7293 8.10633 11.4737 8.29537 11.2859L14.2867 5.28591C14.4751 5.09872 14.7302 4.99437 14.9957 4.99591Z' fill='#9BC3D3'/><mask id='mask0_686_800' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='8' y='4' width='8' height='15'><path d='M14.9957 4.99591C15.2611 4.99437 15.5162 5.09872 15.7046 5.28591C15.8937 5.47368 16 5.72927 16 5.99591C16 6.26255 15.8937 6.51814 15.7046 6.70591L10.4123 11.9959L15.7046 17.2859C16.0962 17.678 16.0962 18.3138 15.7046 18.7059C15.3131 19.098 14.6782 19.098 14.2867 18.7059L8.29537 12.7059C8.10633 12.5181 8 12.2625 8 11.9959C8 11.7293 8.10633 11.4737 8.29537 11.2859L14.2867 5.28591C14.4751 5.09872 14.7302 4.99437 14.9957 4.99591Z' fill='white'/></mask><g mask='url(#mask0_686_800)'></g></svg>");
$arrow-right-homepage-hero: url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9.00434 19.0041C8.73892 19.0056 8.48382 18.9013 8.29537 18.7141C8.10633 18.5263 8 18.2707 8 18.0041C8 17.7375 8.10633 17.4819 8.29537 17.2941L13.5877 12.0041L8.29537 6.71409C7.90382 6.32197 7.90382 5.68621 8.29537 5.29409C8.68692 4.90197 9.32176 4.90197 9.71331 5.29409L15.7046 11.2941C15.8937 11.4819 16 11.7375 16 12.0041C16 12.2707 15.8937 12.5263 15.7046 12.7141L9.71331 18.7141C9.52487 18.9013 9.26976 19.0056 9.00434 19.0041Z' fill='#9BC3D3'/><mask id='mask0_686_53' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='8' y='5' width='8' height='15'><path d='M9.00434 19.0041C8.73892 19.0056 8.48382 18.9013 8.29537 18.7141C8.10633 18.5263 8 18.2707 8 18.0041C8 17.7375 8.10633 17.4819 8.29537 17.2941L13.5877 12.0041L8.29537 6.71409C7.90382 6.32197 7.90382 5.68621 8.29537 5.29409C8.68692 4.90197 9.32176 4.90197 9.71331 5.29409L15.7046 11.2941C15.8937 11.4819 16 11.7375 16 12.0041C16 12.2707 15.8937 12.5263 15.7046 12.7141L9.71331 18.7141C9.52487 18.9013 9.26976 19.0056 9.00434 19.0041Z' fill='white'/></mask><g mask='url(#mask0_686_53)'></g></svg>");
$arrow-red-breadcrumb:      url("data:image/svg+xml, <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.00257 12.6693C5.82562 12.6703 5.65555 12.6008 5.52992 12.476C5.4039 12.3508 5.33301 12.1804 5.33301 12.0026C5.33301 11.8249 5.4039 11.6545 5.52992 11.5293L9.05814 8.00265L5.52992 4.47598C5.26888 4.21456 5.26888 3.79073 5.52992 3.52931C5.79096 3.2679 6.21418 3.2679 6.47522 3.52931L10.4694 7.52931C10.5955 7.65449 10.6663 7.82489 10.6663 8.00265C10.6663 8.1804 10.5955 8.3508 10.4694 8.47598L6.47522 12.476C6.34959 12.6008 6.17951 12.6703 6.00257 12.6693Z' fill='%23EC0000'/></svg>");
$arrow-white-breadcrumb:    url("data:image/svg+xml, <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.00257 12.6693C5.82562 12.6703 5.65555 12.6008 5.52992 12.476C5.4039 12.3508 5.33301 12.1804 5.33301 12.0026C5.33301 11.8249 5.4039 11.6545 5.52992 11.5293L9.05814 8.00265L5.52992 4.47598C5.26888 4.21456 5.26888 3.79073 5.52992 3.52931C5.79096 3.2679 6.21418 3.2679 6.47522 3.52931L10.4694 7.52931C10.5955 7.65449 10.6663 7.82489 10.6663 8.00265C10.6663 8.1804 10.5955 8.3508 10.4694 8.47598L6.47522 12.476C6.34959 12.6008 6.17951 12.6703 6.00257 12.6693Z' fill='%23FFFFFF'/></svg>");
$selectable-items-active:   url("data:image/svg+xml, <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='10' cy='10' r='10' fill='white'/><path fill-rule='evenodd' clip-rule='evenodd' d='M10 0C15.514 0 20 4.486 20 10C20 15.514 15.514 20 10 20C4.486 20 0 15.514 0 10C0 4.486 4.486 0 10 0ZM14.6924 5.0781C14.4594 4.9321 14.1504 4.9961 14.0014 5.2301L9.1894 12.7661L5.8604 9.3071L5.79211 9.24825C5.59942 9.1104 5.3294 9.12521 5.1534 9.2941C4.9544 9.4851 4.9484 9.8021 5.1394 10.0011L8.9094 13.9171L8.97036 13.971C9.0566 14.0355 9.1614 14.0701 9.2694 14.0701L9.3194 14.0671C9.4714 14.0531 9.6084 13.9691 9.6914 13.8401L14.8444 5.7691L14.8861 5.68894C14.9761 5.46941 14.8986 5.21054 14.6924 5.0781Z' fill='#{$primary}'/></svg>");
$close-icon:                url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M17.995 5C18.2615 5 18.5168 5.10644 18.7044 5.29568C19.0918 5.68555 19.0918 6.31521 18.7044 6.70509L13.414 11.998L18.7044 17.2907C18.8936 17.4784 19 17.7339 19 18.0004C19 18.2669 18.8936 18.5224 18.7044 18.7101C18.5159 18.8972 18.2606 19.0015 17.995 19C17.7295 19.0015 17.4742 18.8972 17.2856 18.7101L11.995 13.417L6.71438 18.7001C6.52746 18.8909 6.27199 18.9989 6.00497 19C5.73938 19.0015 5.48412 18.8972 5.29555 18.7101C5.1064 18.5224 5 18.2669 5 18.0004C5 17.7339 5.1064 17.4784 5.29555 17.2907L10.58 12.003L5.29555 6.71509C4.90376 6.32313 4.90376 5.68763 5.29555 5.29568C5.68735 4.90372 6.32258 4.90372 6.71438 5.29568L12 10.583L17.2856 5.29568C17.4732 5.10644 17.7286 5 17.995 5Z' fill='#{$dark}'/></svg>");
$map-info-window-arrow:     url("data:image/svg+xml, <svg width='19' height='31' viewBox='0 0 19 31' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M17.5 8L10.722 1.03158C10.0259 0.32113 8.8967 0.323058 8.20292 1.03588L1.5 8L17.5 8Z' fill='white'/><path fill-rule='evenodd' clip-rule='evenodd' d='M16.9014 8L10.7193 1.71366C10.0258 1.01458 8.90082 1.01648 8.20964 1.7179L2.1001 7.99944L0.5 7.99944L7.3717 0.87884C8.52366 -0.290183 10.3986 -0.293347 11.5544 0.871789L18.5 7.99859L16.9014 8Z' fill='#CCCCCC'/></svg>");
$select-arrow-icon:         url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.0008 15C11.7335 14.9989 11.4779 14.891 11.2908 14.7003L7.29079 10.7042C6.90307 10.3145 6.90307 9.68517 7.29079 9.29551C7.47856 9.10638 7.73416 9 8.00079 9C8.26743 9 8.52303 9.10638 8.71079 9.29551L12.0008 12.5823L15.2908 9.29551C15.4786 9.10638 15.7342 9 16.0008 9C16.2674 9 16.523 9.10638 16.7108 9.29551C17.0985 9.68517 17.0985 10.3145 16.7108 10.7042L12.7108 14.7003C12.5237 14.891 12.268 14.9989 12.0008 15Z' fill='#{$primary}'/><mask id='mask0_1376_3066' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='7' y='9' width='11' height='6'><path d='M12.0008 15C11.7335 14.9989 11.4779 14.891 11.2908 14.7003L7.29079 10.7042C6.90307 10.3145 6.90307 9.68517 7.29079 9.29551C7.47856 9.10638 7.73416 9 8.00079 9C8.26743 9 8.52303 9.10638 8.71079 9.29551L12.0008 12.5823L15.2908 9.29551C15.4786 9.10638 15.7342 9 16.0008 9C16.2674 9 16.523 9.10638 16.7108 9.29551C17.0985 9.68517 17.0985 10.3145 16.7108 10.7042L12.7108 14.7003C12.5237 14.891 12.268 14.9989 12.0008 15Z' fill='white'/></mask><g mask='url(#mask0_1376_3066)'></g></svg>");
$check-icon:                url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M18.0013 6.2299L10.1893 16.7659L5.86035 12.3069C5.66835 12.1089 5.35135 12.1039 5.15335 12.2939C4.95435 12.4849 4.94835 12.8019 5.13935 13.0009L9.90935 17.9169C10.0043 18.0159 10.1343 18.0699 10.2693 18.0699C10.2863 18.0699 10.3023 18.0689 10.3193 18.0669C10.4713 18.0529 10.6083 17.9689 10.6913 17.8399L18.8443 6.7689C18.9933 6.5359 18.9243 6.2269 18.6923 6.0779C18.4593 5.9319 18.1503 5.9959 18.0013 6.2299Z' fill='#{$dark}'/></svg>");
$dropdown-toggle-icon-thin: url("data:image/svg+xml, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11.6558 14.3615C11.8502 14.5521 12.1614 14.5521 12.3558 14.3615L16.3558 10.3615C16.4504 10.2676 16.5037 10.1398 16.5037 10.0065C16.5037 9.8732 16.4504 9.7454 16.3558 9.65152C16.2651 9.55484 16.1384 9.5 16.0058 9.5C15.8732 9.5 15.7465 9.55484 15.6558 9.65152L12.0058 13.3015L8.35579 9.65152C8.26412 9.55638 8.13791 9.50229 8.00579 9.50152C7.87066 9.50185 7.74118 9.5558 7.64579 9.65152C7.45401 9.84933 7.45401 10.1637 7.64579 10.3615L11.6558 14.3615Z' fill='#{$body-color}'/></svg>");

// List
// $list-icon-color:           $blue;
// $list-simple-icon:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path fill='%23#{$primary-string}' d='M0 0H8V8H0V0Z'/></svg>");


// Navbar

// scss-docs-start navbar-variables
$navbar-nav-link-padding-x:         1rem;
$navbar-nav-link-padding-y:         .75rem;

$navbar-nav-link-expand-more:      url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'><path d='M12.4425 6.22119L9 9.65619L5.5575 6.22119L4.5 7.27869L9 11.7787L13.5 7.27869L12.4425 6.22119Z' fill='#{$blue}'/></svg>");


// $navbar-light-color:                $primary_darkerGrey;
$navbar-light-hover-color:          $primary;
// $navbar-light-active-color:         $primary_boston;
// $navbar-light-disabled-color:       rgba($primary_darkerGrey, .5);
// $navbar-light-icon-color:           $primary_darkerGrey;
// $navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
// $nav-light-link-toggler:            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12.0008 15C11.7335 14.9989 11.4779 14.891 11.2908 14.7003L7.29079 10.7042C6.90307 10.3145 6.90307 9.68517 7.29079 9.29551C7.47856 9.10638 7.73416 9 8.00079 9C8.26743 9 8.52303 9.10638 8.71079 9.29551L12.0008 12.5823L15.2908 9.29551C15.4786 9.10638 15.7342 9 16.0008 9C16.2674 9 16.523 9.10638 16.7108 9.29551C17.0985 9.68517 17.0985 10.3145 16.7108 10.7042L12.7108 14.7003C12.5237 14.891 12.268 14.9989 12.0008 15Z' fill='%23#{str-slice('#{$navbar-light-color}', 2, -1)}'/%3E%3C/svg%3E");
// scss-docs-end navbar-variables

// scss-docs-start navbar-dark-variables
$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $white;
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
// $navbar-dark-toggler-icon:          url("data:image/svg+xml, <svg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.4425 6.22119L9 9.65619L5.5575 6.22119L4.5 7.27869L9 11.7787L13.5 7.27869L12.4425 6.22119Z' fill='#{$blue}'/></svg>");


// scss-docs-end navbar-dark-variables

// Navs

$nav-link-font-size:                $font-size-base;

$navbar-toggler-padding-y:          1rem;
$navbar-toggler-padding-x:          .875rem;
$navbar-toggler-font-size:          $font-size-base;
$navbar-toggler-border-radius:      0;
$navbar-toggler-focus-width:        0;
$navbar-toggler-transition:         none;

// $nav-tabs-border-color:             transparent;
// $nav-tabs-border-width:             2px;
// $nav-tabs-border-radius:            0;
// $nav-tabs-link-hover-border-color:  $indigo;
// $nav-tabs-link-active-color:        $dark;
// $nav-tabs-link-active-bg:           $white;
// $nav-tabs-link-active-border-color: $primary;
// scss-docs-end nav-variables


// Accordion

// scss-docs-start accordion-variables
$accordion-icon-color:           $primary;
$accordion-icon-active-color:    $primary;
$accordion-button-width:         2.125rem;
$accordion-button-mobile-width:  1.75rem;
$accordion-icon-width:           1.5rem;
$accordion-icon-mobile-width:    1.125rem;
$accordion-icon-transform:       rotate(-135deg);
$accordion-button-icon:          url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><mask id='mask0_321_10929' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'> <rect width='24' height='24' fill='#D9D9D9'/></mask><g mask='url(#mask0_321_10929)'><path d='M11 13H5V11H11V5H13V11H19V13H13V19H11V13Z' fill='#{$indigo}'/></g></svg>");
$accordion-button-active-icon:   url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><mask id='mask0_321_10929' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'> <rect width='24' height='24' fill='#D9D9D9'/></mask><g mask='url(#mask0_321_10929)'><path d='M11 13H5V11H11V5H13V11H19V13H13V19H11V13Z' fill='#{$indigo}'/></g></svg>");

$accordion-dark-button-icon:          url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><mask id='mask0_321_10929' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'> <rect width='24' height='24' fill='#D9D9D9'/></mask><g mask='url(#mask0_321_10929)'><path d='M11 13H5V11H11V5H13V11H19V13H13V19H11V13Z' fill='#{$white}'/></g></svg>");
$accordion-dark-button-active-icon:   url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><mask id='mask0_321_10929' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'> <rect width='24' height='24' fill='#D9D9D9'/></mask><g mask='url(#mask0_321_10929)'><path d='M11 13H5V11H11V5H13V11H19V13H13V19H11V13Z' fill='#{$white}'/></g></svg>");


$accordion-button-padding-y:              1.25rem;
$accordion-button-padding-x:              0;

// $accordion-border-color:         $primary_mediumSky;
$accordion-button-active-bg:     transparent;
$accordion-button-active-color:  $indigo;
// $accordion-button-focus-border-color:     $input-focus-border-color !default;
$accordion-button-focus-box-shadow:       none;
// scss-docs-end accordion-variables


// Tooltips Collapse

$tooltip-collapse-with:     19.1875rem!important; // 307px

