/*
 * Carousel Dots
*/
.owl-theme{
    .owl-dots{
        margin-top: 24px;
        .owl-dot{
            span{
                width: 8px;
                height: 8px;
            }
        }
    }
    &.white{
        .owl-dots{
            left: 0;
            right: 0;
            bottom: 55px;
            margin-top: 0;
            position: absolute;
            .owl-dot{
                span{
                    width: 12px;
                    height: 12px;
                    background-color: $primary_white;
                }
                &.active, &:hover{
                    span{
                        background-color: $secondary;
                    }
                }
            }
        }
    }
    &.dark{
        .owl-dots{
            .owl-dot{
                span{
                    background-color: $gray-100;
                }
                &.active, &:hover{
                    span{
                        background-color: $indigo;
                    }
                }
            }
        }
    }
}
