/*
 * General Carousel
*/
.owl-carousel{
    &.disabled{
        display: block;
    }

    & .owl-nav {
      margin: 0;
    }
}

/*
 * slider-cards
*/
.slider-cards{
    @include media-breakpoint-down(sm){
        left: -50vw;
        width: 100vw;
        height: auto;
        margin-left: 50%;
        position: relative;
    }
    .owl-carousel{
        margin: 0;
        padding: 0 48px;
        @include media-breakpoint-down(sm){
            padding: 0;
        }
        .owl-stage-outer{
            @include media-breakpoint-up(sm){
                padding: 0;
            }
            .owl-stage{
                @include media-breakpoint-down(sm){
                    padding-left: 0 !important;
                }
                .owl-item{
                    .item{
                        width: 100%;
                    }
                }
            }
        }
        &.disabled{
            width: auto;
            padding: 0;
            display: flex;
            .item{
                @include media-breakpoint-down(sm){
                    padding-bottom: 56px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    & .listHighlight__slider {
      --verticalSpacing: 2rem;

      & .owl-carousel {
        & .owl-stage-outer {
          & .owl-stage {
            display: flex;
            padding-bottom: .5rem;

            & .owl-item {
              display: flex;
              flex-grow: 1;
            }
          }
        }

        & .owl-nav {
          & > .owl-prev,
          & > .owl-next {
            top: 50%;
            transform: translateY(calc(-50% - var(--verticalSpacing)));
            bottom: initial;
          }
        }

        & .owl-dots {
          margin-top: .5rem;
        }
      }
    }
}
