/*
 * Carousel Nav
*/
.owl-theme{
    .owl-nav{
        .owl-prev, .owl-next{
            top: 0;
            bottom: 0;
            z-index: 1;
            position: absolute;
            background-color: transparent !important;
            svg{
                width: 40px;
                height: 40px;
            }
        }
        .owl-prev{
            left: 0;
        }
        .owl-next{
            right: 0;
        }
        &.disabled+.owl-dots{
            margin-top: 24px;
        }
    } 
    &.white{
        .owl-nav{
            left: 0;
            right: 0;
            width: 100%;
            max-width: 1184px;
            margin: 0 auto;
            position: absolute;
            .owl-prev, .owl-next{
                top: inherit;
                bottom: 45px;
                svg{
                    color: $white;
                }
            }
        }
    }
    &.dark{
        .owl-nav{
            .owl-prev, .owl-next{
                svg{
                    color: $dark;
                }
            }
        }
    }
}
