{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{% set clutchCode = content.field_clutch_code | render %}

{%
  set classes = [
    'block',
    'footer-logo-block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{% if clutchCode %}
  {{ attach_library('kadabra_theme/kdb_clutch') }}
{% endif %}

<div{{ attributes.addClass(classes) }}>
{{ title_prefix }}
{% if label %}
  <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes }}>
      {% if clutchCode or content.field_logos | render %}
        <ul class="list-unstyled p-0 row align-items-center">
          {% if clutchCode %}
            <li class="col-auto col-lg">
              {{ clutchCode }}
            </li>
          {% endif %}
          {% for key, item in content.field_logos %}
            {% if key|first != '#' %}
              <li class="col-auto col-lg">
                {{ item }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      {{ content | without('field_logos', 'field_include_clutch_widget', 'field_clutch_code') }}
    </div>
  {% endblock %}
</div>
