{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{% set alert_type = content.field_alert_type['#items'].getString() %}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'alert alert-header alert-dismissible alert-' ~ alert_type,
    'fade show full-width px-0 mb-0',
  ]
%}

<div{{ attributes.addClass(classes).setAttribute('role', 'alert') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="container-xl d-flex align-items-start">
    {% block content %}
      {% set alert_icon_class = "alert-icon flex-shrink-0 me-2" %}
      {% if alert_type == 'danger' %}
        <svg class="{{ alert_icon_class }}" role="img" aria-label="Danger:"><use xlink:href="#alert-danger"/></svg>
      {% elseif alert_type == 'warning' %}
        <svg class="{{ alert_icon_class }}" role="img" aria-label="Warning:"><use xlink:href="#alert-warning"/></svg>
      {% elseif alert_type == 'success' %}
        <svg class="{{ alert_icon_class }}" role="img" aria-label="Success:"><use xlink:href="#alert-success"/></svg>
      {% elseif alert_type == 'info' %}
        <svg class="{{ alert_icon_class }}" role="img" aria-label="Info:"><use xlink:href="#alert-info"/></svg>
      {% endif %}

      <div{{ content_attributes.addClass('content d-flex flex-grow-1 gap-lg-1 flex-column flex-lg-row flex-lg-wrap') }}>
        {% if content.field_title | render %}
          <b class="fw-bold m-0 alert-label text-dark">{{ content.field_title.0 }}</b>
        {% endif %}
        {% if content.body | render %}
          <div class="alert-copy text-dark me-lg-3 ">
            {{ content.body }}
          </div>
        {% endif %}
        {% if content.field_link | render %}
          <div class="alert-cta mt-3 mt-lg-0">
            {% set utility_classes = 'link__primary gap-lg-2' %}
            {% set icon_right = 'arrow-right' %}
            {% include "@kadabra_theme/includes/link.html.twig" %}
          </div>
        {% endif %}

        {{ content | without(
          'field_title',
          'body',
          'field_alert_type',
          'field_link',
        ) }}
      </div>

      <button type="button" class="btn-close d-flex align-items-center justify-content-center ms-auto" data-bs-dismiss="alert">
        <svg class="" role="img" aria-label="Close"><use xlink:href="#close-icon"/></svg>
      </button>

    {% endblock %}
  </div>
</div>
