{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'info-box-block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="d-flex">
      {% if content.field_icon | render %}
        <div class="flex-shrink-0">
          <div class="info-box-icon">
            {{ content.field_icon }}
          </div>
        </div>
      {% endif %}
      <div class="flex-grow-1 ms-3 info-box-content">
        {% if content.field_title | render %}
          <h3 class="fw-bold h6">
            {{ content.field_title.0 }}
          </h3>
        {% endif %}
        {% if content.field_subtitle | render %}
          <p class="m-0 text-sm">
            {{ content.field_subtitle.0 }}
          </p>
        {% endif %}

        {{ content | without (
          'field_icon',
          'field_title',
          'field_subtitle',
          'field_link'
        )}}
      </div>
    </div>
    {% if content.field_link | render %}
      {% set utility_classes = 'link__primary mt-3 fw-bold ms-md-9.5' %}
      {% set icon_right = 'arrow-right' %}
      {% include "@kadabra_theme/includes/link.html.twig" %}
    {% endif %}
  {% endblock %}
</div>
