{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'p-0 m-0 d-flex flex-column'
  ]
%}

{% set type = content.field_tipo | render | striptags | trim %}

<article{{ attributes.addClass(classes).setAttribute('data-marker-id', node.id()) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="d-flex flex-column gap-md-4 node-content flex-grow-1">
    <header class="pb-md-3 mb-3 mb-md-0 position-relative">
      <h3{{ title_attributes.addClass('h6', 'm-0', 'pe-4') }}>
        {{ label.0 }}
      </h3>
    </header>
    {% if content.field_ubicacion | render or content.field_schedule | render or content.field_accessibility | render %}
      <ul class="list-unstyled mb-0 point-of-attention-info-list d-flex flex-column gap-3 mb-2.5 mb-md-0">
        {% if content.field_schedule | render %}
          <li>
            <svg class="icon"><use xlink:href="#clock-icon"></use></svg>
            {{ content.field_schedule.0 }}
          </li>
        {% endif %}
        {% if content.field_ubicacion | render %}
          <li>
            <svg class="icon"><use xlink:href="#place-icon"></use></svg>
            {{ content.field_ubicacion.0 }}
          </li>
        {% endif %}
        {% if content.field_accessibility | render and type == 'Sucursal' %}
          <li>
            <svg class="icon"><use xlink:href="#accessibility-icon"></use></svg>
            {{ 'Accessible Branch' | t }}
          </li>
        {% endif %}
      </ul>
    {% endif %}
    <a class="link__primary d-inline-flex align-items-center gap-1 gap-lg-2 mt-auto" href="{{ url }}">
      {{ 'See more about these branch office' | t }}
      <svg class="icon"><use xlink:href="#arrow-right"/></svg>
    </a>
    {{ content | without(
      'field_ubicacion',
      'field_accessibility',
      'field_schedule',
      'field_tipo'
    ) }}
  </div>
</article>
