<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <a class="selectable-item-link text-sm text-uppercase d-flex align-items-center gap-2 rounded-1 justify-content-center" href="#" data-term-id="{{ 'selectable_tid[' ~ term.id ~ ']' }}" role="button">
    {{ content.field_icono }}
    {% if content.field_title | render %}
      {{ content.field_title.0 }}
    {% elseif name | render %}
      <span>
        {{ name.0 }}
      </span>
    {% endif %}
  </a>
  {{ content | without (
    'field_icono',
    'field_title'
  )}}
</div>
