/* KDB Footer Styles
 *
 * Footer Brand
 * Footer general styles
 * Block Styles (Header, margins)
 * Block Menu (Links styles)
------------------------------------------------- */


.menu--footer {
  & .nav-item {
    & > .nav-item-heading {
      @include media-breakpoint-down(md) {
        color: $blue!important;
      }
    }
  }
}

.footer-logo-block {
  & img {
    max-width: 131px;
    width: 100%;
    height: auto;
  }

  // iframe clutch
  & .field--name-field-clutch-code {
    & .clutch-widget {
      & iframe {
        max-width: 220px;
        min-width: 220px;
      }
    }
  }
}

.site-footer {
  font-family: $font-family-base;

  & .block {
    margin: 0;
    padding: 0;
    border: 0;

    & .content {
      color: inherit;
      padding: 0;
      font-size: inherit;
    }

    & .text-formatted {
      & p:last-child {
        margin-bottom: 0;
      }
    }
  }


  & .site-footer__bottom {
    & .region {
      margin-top: 0;
    }

    & .menu {
      flex-direction: row;
    }

    & .menu-item {
      & a {
        border: none;
        padding: 0 12px !important
      }
    }
  }
}

