/* KDB Page Layout
 *
 * root variables
 * html, body styles
 * containers styles
 * styles related to page layout
------------------------------------------------- */

:root {
  --navbarHeight: 62px;
  --navbarTopHeight: 40px;
  --toolbarHeight: 0px;
  --topNavbarHeight: 56px;

  @include media-breakpoint-up(lg) {
    --navbarHeight: 80px;
  }
}


html, body {
  min-height: 100%;
}

body {
  // padding-top: calc(var(--navbarHeight) + var(--toolbarHeight, 0px) + var(--topNavbarHeight))!important;
  padding-top: calc(var(--navbarHeight) + var(--navbarTopHeight) + var(--drupal-displace-offset-top, 0px))!important;

  // &.toolbar-fixed {
  //   --toolbarHeight: 39px;
  //   // --navbarHeight: 128px;
  // }

  // @include media-breakpoint-up(lg) {
  //   // --navbarHeight: 72px;

  //   &.toolbar-fixed.toolbar-vertical {
  //     --toolbarHeight: 39px;
  //   }

  //   &.toolbar-fixed.toolbar-horizontal {
  //     --toolbarHeight: 79px;
  //   }
  // }

  // & .navbar-main.fixed-top {
  //   top: var(--topNavbarHeight);
  // }

  // &.scrolled {
  //   & .navbar-main.fixed-top {
  //     top: 0 !important;
  //   }
  // }

  & .navbar-main {
    transform: translateY(calc(var(--navbarTopHeight) + var(--drupal-displace-offset-top, 0px)));
    top: 0!important;
  }

  & .navbar-top {
    transform: translateY(var(--drupal-displace-offset-top, 0px));
    top: 0!important;
  }

  &.has-scrolled {
    & .navbar-top.fixed-top {
      transform: translateY(-100%);
    }
  }

  &.has-scrolled {
    &.megamenu-is-open {
      & .navbar-main.fixed-top {
        transform: translateY(var(--drupal-displace-offset-top, 0px));
      }
    }

    &:not(.megamenu-is-open) {
      & .navbar-main.fixed-top {
        transform: translateY(-100%);
      }

      &:not(.toolbar-fixed) {
        & .navbar-main.fixed-top {
          top: 0;
          transform: translateY(var(--navbarTopHeight));
        }
      }

      &.scrolldown {
        & .navbar-main.fixed-top {
          transform: translateY(-100%);
        }
      }

      &.scrollup {
        & .navbar-main.fixed-top {
          transform: translateY(0);
          @media (min-width: 610px) {
            transform: translateY(var(--drupal-displace-offset-top, 0px));
          }
        }
      }
    }
  }

  &.in-swipe-section {
    & .navbar.fixed-top {
      transform: translateY(-100%)!important;
    }
  }

  &::after {
    content: '';
    position: fixed;
    left: 0;
    width: 100%;
    top: calc(var(--navbarHeight) + var(--toolbarHeight));
    height: calc(100% - (var(--navbarHeight) + var(--toolbarHeight)));
    background-color: rgba($black, .49);
    opacity: 0;
    z-index: calc($zindex-fixed - 1);
    visibility: hidden;
    transition: opacity .35s, visibility 0s .35s linear;
  }

  &.user-logged-in {
    &::after {
      z-index: 99; // prevent toolbar dropdown menu to be under header
    }
  }

  &.show-backdrop {
    height: 100%;
    overflow: hidden;

    &::after {
      opacity: 1;
      visibility: visible;
      transition: opacity .35s, visibility 0s linear;
    }
  }
}

.page-fixed-bottom {
  z-index: calc(#{$zindex-fixed} + 1);
}

// hide layout paragraphs edit on front
.lpb-formatter {
  & > .lpb-enable__wrapper {
    display: none;
  }

  &:hover,
  &:focus {
    outline: 0;
  }
}

[id="page-wrapper"] {
  overflow: hidden;
}

// At mobile Container should have 20px each side.
.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  @include media-breakpoint-down(md) {
    --kdb-gutter-x: 2.5rem;
  }
}
