/*
 * user-login
*/
.path-user{
    .layout-main-wrapper{
        .main-content{
            section{
                width: 70%;
                margin: 60px auto 0 auto;
                @include media-breakpoint-down(sm){
                    width: 100%;
                }
                .block-system-main-block{
                    padding: 60px;
                    border-radius: 5px;
                    background-color: $tints_sky40;
                    @include media-breakpoint-down(sm){
                        padding: 25px;
                    }
                    form{
                        .js-form-item{
                            label{
                                margin-bottom: 5px;
                            }
                            input.form-control{
                                width: 100%;
                                height: 48px;
                                border-radius: 0;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                                outline: none;
                                box-shadow: none;
                                border-color: $secondaryAccesible_darkTurquoise;
                                border: .50px $primary_lightSky solid;
                                border-bottom: 1px solid $secondaryAccesible_darkTurquoise;
                            }
                            .image-widget{
                                .image-widget-data{
                                    width: 100%;
                                }
                            }
                            .description.text-muted{
                                .separator:first-of-type{
                                    display: none;
                                }
                            }
                        }
                        details{
                            summary{
                                display: none;
                            }
                            .details-wrapper{
                                margin-top: 10px;
                                .form-checkbox{
                                    cursor: pointer;
                                }
                                .description.text-muted{
                                    display: block;
                                }
                            }
                        }
                        .form-actions{
                            padding-top: 1rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
