<footer class="site-footer bg-indigo-extra-light py-0">
  {% if page.footer_brand or page.footer_menu or page.footer_first or page.footer_second or page.footer_third or page.footer_fourth or page.footer_fifth %}
    <div class="site-footer-top py-5.5 py-md-9.5">
      <div class="{{ container }}">
        {% if page.footer_brand or page.footer_menu %}
          <div class="row gy-5.5">
            {% if page.footer_brand %}
              <div class="col-md-4 d-flex flex-column gap-5.5">
                {{ page.footer_brand }}
              </div>
            {% endif %}
            {% if page.footer_menu %}
              <div class="col">
                {{ page.footer_menu }}
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="row">
            {% if page.footer_first %}
              <div class="col-md-3">
                {{ page.footer_first }}
              </div>
            {% endif %}
            {% if page.footer_second %}
              <div class="col-md-3">
                {{ page.footer_second }}
              </div>
            {% endif %}
            {% if page.footer_third %}
              <div class="col-md-3">
                {{ page.footer_third }}
              </div>
            {% endif %}
            {% if page.footer_fourth %}
              <div class="col-md-3">
                {{ page.footer_fourth }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if page.footer_bottom_left or page.footer_bottom_right %}
    <div class="site-footer__bottom py-4 border-top border-light-300 m-0">
      <div class="{{ container }}">
        <div class="row gy-5.5 justify-content-md-between">
          {% if page.footer_bottom_left %}
          <div class="col-12 col-md-auto">
            {{ page.footer_bottom_left }}
          </div>
          {% endif %}
          {% if page.footer_bottom_right %}
          <div class="col-12 col-md-auto">
            {{ page.footer_bottom_right }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</footer>
