<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
  {% block head %}
    {% if page.top_header %}
      <aside{{navbar_top_attributes.addClass('bg-primary py-0 navbar-top d-flex align-items-center')}}>
        {% if container_navbar %}
          <div class="{{ container }}">
          {% endif %}
            <div class="ms-auto">
              {{ page.top_header }}
            </div>
          {% if container_navbar %}
          </div>
        {% endif %}
      </aside>
    {% endif %}
    {% if page.top_header_form %}
      <div class="form-inline navbar-form ms-auto">
        {{ page.top_header_form }}
      </div>
    {% endif %}
    {% set navbar_classes = [
        'navbar-expand-lg',
        'navbar-light',
        'navbar-main',
        'fixed-top',
        'bg-white',
        'd-flex',
        'align-items-center',
        'py-0',
        'd-block',
      ]
    %}
    <nav{{navbar_attributes.addClass(navbar_classes)}}>
      {% if page.alerts %}
        <div class="js-header-alerts header-alerts">
          {{ page.alerts }}
        </div>
      {% endif %}
      <div class="container-xl position-relative">
        <div class="row flex-grow-1 align-items-center g-0 flex-lg-nowrap justify-content-between">
          {% if page.header %}
            <div class="col-auto flex-shrink-1">
              <div class="navbar-header d-flex align-items-center">
                {{ page.header }}
              </div>
            </div>
          {% endif %}
          {% if page.primary_menu or page.header_form %}
            <div class="col-auto d-block d-lg-none">
              <div class="navbar-collapse-buttons d-flex align-items-center gap-3">
                {% if page.primary_menu %}
                  <button class="navbar-toggler navbar-toggler-nav collapsed border-0 d-inline-flex d-lg-none align-items-center gap-1 p-2 me-n2" type="button" data-bs-toggle="{{ navbar_collapse_btn_data }}" data-bs-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="{{ 'Toggle navigation' | t }}">
                    <span class="visually-hidden">{{ 'Menu' | t}}</span>
                    <svg class="icon" width="22" height="22">
                      <use xlink:href="#menu-open"></use>
                    </svg>
                    <svg class="icon" width="22" height="22">
                      <use xlink:href="#menu-close"></use>
                    </svg>
                  </button>
                {% endif %}
                {% if page.header_form %}
                  <button class="navbar-toggler navbar-toggler-form collapsed border-0 d-inline-flex d-lg-none align-items-center gap-1 px-0" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingHeaderForm" aria-controls="CollapsingHeaderForm" aria-expanded="false" aria-label="{{ 'Toggle Search Form' }}">
                    <svg class="icon">
                      <use xlink:href="#search-icon"></use>
                    </svg>
                    <svg class="icon">
                      <use xlink:href="#close-icon"></use>
                    </svg>
                    <span class="visually-hidden d-lg-none">{{ 'Search' | t}}</span>
                    <span class="navbar-toggler-label fw-bold text-sm d-none d-lg-block">{{ 'Search' | t}}</span>
                  </button>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if page.primary_menu or page.secondary_menu or page.header_links %}
            <div class="col-12 col-lg-auto ms-auto">
              {% if navbar_offcanvas %}
                <div class="offcanvas-header">
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
              {% endif %}
              <div class="row g-0 justify-content-between flex-grow-1 flex-column flex-lg-row h-100">
                {% if page.primary_menu or page.header_links %}
                  <div class="col">
                    <div class="{{ navbar_collapse_class }} js-navbar-collapse" id="CollapsingNavbar">
                      <div class="navbar-collapse-inner flex-grow-1 d-flex align-items-lg-center gap-5.5 flex-lg-row flex-column py-7 px-3.5 p-lg-0">
                        {{ page.primary_menu }}
                        {% if page.header_links %}
                          <div class="navbar-links d-flex align-items-center gap-2">
                            {{ page.header_links }}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if page.header_form or page.secondary_menu %}
                  <div class="col-auto d-flex gap-lg-3 align-items-end align-items-lg-center ms-lg-2">
                    {% if page.header_form %}
                      <button class="navbar-toggler navbar-toggler-form collapsed border-0 align-items-center gap-1 py-4 px-0 d-none d-lg-inline-flex" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingHeaderForm" aria-controls="CollapsingHeaderForm" aria-expanded="false" aria-label="{{ 'Toggle Search Form' }}">
                        <svg class="icon">
                          <use xlink:href="#search-icon"></use>
                        </svg>
                        <span class="visually-hidden d-lg-none">{{ 'Search' | t}}</span>
                        {#<span class="navbar-toggler-label fw-bold text-sm d-none d-lg-block">{{ 'Search' | t}}</span>#}
                      </button>
                    {% endif %}
                    {% if page.secondary_menu %}
                      <div class="navbar-secondary-menu flex-grow-1 d-none d-lg-block">
                        {{ page.secondary_menu }}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              {% if navbar_offcanvas %}
                </div>
              {% endif %}

              {% if sidebar_collapse %}
                <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
              {% endif %}
            </div>
          {% endif %}
        </div>
        {% if page.header_form %}
          <div class="form-inline navbar-form js-navbar-form collapse bg-primary py-1 py-lg-2 px-3" id="CollapsingHeaderForm">
            <div class="{{ container }} px-0 px-lg-3">
              <div class="navbar-form-inner align-items-center row">
                <div class="navbar-form-iso text-white d-none d-sm-block col-auto">
                  <svg class="icon">
                    <use xlink:href="#kadabra-iso"></use>
                  </svg>
                </div>
                <div class="col">
                  {{ page.header_form }}
                </div>
                <div class="col-auto px-0">
                  <button class="navbar-toggler navbar-toggler-close-form border-0 p-1 p-lg-3 d-block text-white" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingHeaderForm" aria-controls="CollapsingHeaderForm" aria-expanded="false" aria-label="{{ 'Toggle Search Form' }}">
                    <svg class="icon">
                      <use xlink:href="#close-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </nav>
  {% endblock %}
</header>
