{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 * - sidebar_collapse: If the sidebar_first will collapse.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
{# see https://www.drupal.org/project/drupal/issues/953034#comment-14192130 #}

<div id="page-wrapper">
  <div id="page">
    {% include '@kadabra_theme/layout/header.html.twig' %}
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="{{ container }} section clearfix" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
    {% if page.featured_top %}
      {% block featured %}
        <div class="featured-top">
          <aside class="featured-top__inner section {{ container }} clearfix" role="complementary">
            {{ page.featured_top }}
          </aside>
        </div>
      {% endblock %}
    {% endif %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
      {% block content %}
        <div id="main" class="{{ container }}">
          {% if page.breadcrumb %}
            <div id="breadcrumb" class="full-width">
              <div class="{{ container }}">
                {{ page.breadcrumb }}
              </div>
            </div>
          {% endif %}
          <div class="row row-offcanvas row-offcanvas-left clearfix">
            <main{{ content_attributes }}>
              <section class="section">
                <a href="#main-content" id="main-content" tabindex="-1" aria-label="{{ 'Main Content' | t }}"></a>
                {{ page.content }}
              </section>
            </main>
            {% if sidebar_first_exists %}
              <div{{ sidebar_first_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_first }}
                </aside>
              </div>
            {% endif %}
            {% if sidebar_second_exists %}
              <div{{ sidebar_second_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_second }}
                </aside>
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}
    </div>
    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="{{ container }} clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}
    {% include '@kadabra_theme/layout/footer.html.twig' %}
  </div>
</div>
{% if page.fixed_bottom %}
  <aside class="page-fixed-bottom position-fixed bottom-0 start-0 end-0 d-block d-lg-none bg-white">
    {{ page.fixed_bottom }}
  </aside>
{% endif %}

<svg width="0" height="0" class="visually-hidden">
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 22 22" fill="none" id="menu-open">
    <path d="M2.75 16.5H19.25V14.6667H2.75V16.5ZM2.75 5.5V7.33333H19.25V5.5H2.75Z" fill="#092265"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 22 22" fill="none" id="menu-close">
    <path d="M17.4166 5.87575L16.1241 4.58325L10.9999 9.70742L5.87575 4.58325L4.58325 5.87575L9.70742 10.9999L4.58325 16.1241L5.87575 17.4166L10.9999 12.2924L16.1241 17.4166L17.4166 16.1241L12.2924 10.9999L17.4166 5.87575Z" fill="#092265"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 18 18" fill="none" id="menu-expand-more">
    <path d="M12.4425 6.22119L9 9.65619L5.5575 6.22119L4.5 7.27869L9 11.7787L13.5 7.27869L12.4425 6.22119Z" fill="#092265"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" id="close-icon">
    <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 33 32" fill="none" id="kadabra-iso">
    <path d="M30.6456 7.12309C31.3784 5.79015 32.1239 4.37193 32.3355 3.00425C32.6261 1.13434 31.0973 -0.546041 29.1895 0.167807C28.3209 0.493145 27.6512 1.19436 27.0953 1.93663C26.233 3.08953 25.4181 4.2677 24.54 5.40796C22.7206 7.77692 20.9297 10.1743 18.9082 12.3759C17.0825 14.3626 15.0294 16.52 12.2593 16.9527C10.7147 17.1928 9.4197 16.9369 8.22574 15.9167C6.5801 14.5079 6.20422 12.1895 5.63883 10.1933C5.31349 9.04669 4.77968 7.58425 3.47517 7.30945C2.30964 7.06623 1.11253 7.86221 0.660844 8.90455C0.104927 10.1933 0.136513 11.681 0.0733407 13.0581C0.00700968 14.6911 -0.0151007 16.3242 0.0101683 17.9572C0.0512303 20.6483 0.224954 23.3363 0.528182 26.0116C0.654527 27.1172 0.787189 28.2258 1.04935 29.3092C1.22308 30.0231 1.53894 31.1855 2.18646 31.6435C2.88451 32.1425 3.70891 32.0667 4.4733 31.7287C6.72855 30.7338 7.46135 28.0679 9.18596 26.4918C9.59342 26.119 10.0167 25.8032 10.4494 25.5347L4.11322 25.4557C5.56302 25.0167 7.06968 24.7292 8.56687 24.5113C11.3844 24.1038 14.3882 23.9617 17.152 24.7577C18.804 25.2315 20.2474 26.2233 21.5835 27.2719C22.5722 28.0426 23.5103 28.8765 24.4452 29.7104C25.3455 30.5127 26.2773 31.4476 27.4744 31.8172C28.6431 32.1773 30.0044 31.9309 30.3171 30.5853C30.5761 29.4703 29.597 27.97 28.9463 26.9498C25.0675 20.8726 25.6045 18.8668 27.1143 14.6911C27.8439 12.6728 28.7852 10.746 29.7391 8.82559C30.0076 8.2823 30.3266 7.71059 30.6488 7.12309H30.6456Z" fill="#092265"/>
    <path d="M11.7006 14.6904C13.4974 14.6904 14.954 13.2338 14.954 11.437C14.954 9.64018 13.4974 8.18359 11.7006 8.18359C9.90385 8.18359 8.44727 9.64018 8.44727 11.437C8.44727 13.2338 9.90385 14.6904 11.7006 14.6904Z" fill="#092265"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" id="quote">
    <mask id="mask0_226_16365" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="24" height="24">
      <rect width="24" height="24" fill="#D9D9D9"/>
    </mask>
    <g mask="url(#mask0_226_16365)">
      <path d="M5.7 18L8 14C6.9 14 5.95833 13.6083 5.175 12.825C4.39167 12.0417 4 11.1 4 10C4 8.9 4.39167 7.95833 5.175 7.175C5.95833 6.39167 6.9 6 8 6C9.1 6 10.0417 6.39167 10.825 7.175C11.6083 7.95833 12 8.9 12 10C12 10.3833 11.9542 10.7375 11.8625 11.0625C11.7708 11.3875 11.6333 11.7 11.45 12L8 18H5.7ZM14.7 18L17 14C15.9 14 14.9583 13.6083 14.175 12.825C13.3917 12.0417 13 11.1 13 10C13 8.9 13.3917 7.95833 14.175 7.175C14.9583 6.39167 15.9 6 17 6C18.1 6 19.0417 6.39167 19.825 7.175C20.6083 7.95833 21 8.9 21 10C21 10.3833 20.9542 10.7375 20.8625 11.0625C20.7708 11.3875 20.6333 11.7 20.45 12L17 18H14.7Z" fill="currentColor"/>
    </g>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 655 647" fill="none" id="section-type-one">
    <g opacity="0.6">
      <mask id="path-1-inside-1_0_1" fill="white">
        <path d="M619.611 144.021C634.396 117.063 649.482 88.3927 653.78 60.7338C659.648 22.9562 628.734 -11.0447 590.187 3.39314C572.636 9.96682 559.068 24.1781 547.827 39.1796C530.371 62.4877 513.889 86.2804 496.17 109.346C459.377 157.232 423.17 205.723 382.279 250.243C345.365 290.423 303.832 334.063 247.861 342.786C216.599 347.658 190.473 342.485 166.327 321.811C133.053 293.33 125.484 246.477 114.054 206.103C107.491 182.91 96.7086 153.334 70.3349 147.819C46.7792 142.894 22.5598 159.017 13.463 180.05C2.19615 206.103 2.83349 236.169 1.60619 264.038C0.157668 297.017 -0.311086 330.044 0.199848 363.06C1.03736 417.466 4.53491 471.836 10.6819 525.911C13.2208 548.276 15.8861 570.689 21.1956 592.606C24.6878 607.044 31.1035 630.542 44.2034 639.786C58.2884 649.884 74.9807 648.346 90.4194 641.524C136.014 621.377 150.857 567.497 185.701 535.608C193.928 528.086 202.467 521.707 211.237 516.272L83.1293 514.67C112.411 505.789 142.919 499.985 173.154 495.602C230.115 487.348 290.827 484.473 346.719 500.559C380.088 510.162 409.285 530.22 436.343 551.368C456.317 566.965 475.295 583.799 494.216 600.655C512.446 616.894 531.251 635.793 555.433 643.273C579.063 650.579 606.564 645.58 612.906 618.364C618.162 595.819 598.368 565.49 585.183 544.842C506.752 421.965 517.64 381.406 548.122 296.986C562.85 256.2 581.933 217.206 601.191 178.417C606.637 167.44 613.095 155.894 619.611 144.021Z"/>
      </mask>
      <path d="M619.611 144.021C634.396 117.063 649.482 88.3927 653.78 60.7338C659.648 22.9562 628.734 -11.0447 590.187 3.39314C572.636 9.96682 559.068 24.1781 547.827 39.1796C530.371 62.4877 513.889 86.2804 496.17 109.346C459.377 157.232 423.17 205.723 382.279 250.243C345.365 290.423 303.832 334.063 247.861 342.786C216.599 347.658 190.473 342.485 166.327 321.811C133.053 293.33 125.484 246.477 114.054 206.103C107.491 182.91 96.7086 153.334 70.3349 147.819C46.7792 142.894 22.5598 159.017 13.463 180.05C2.19615 206.103 2.83349 236.169 1.60619 264.038C0.157668 297.017 -0.311086 330.044 0.199848 363.06C1.03736 417.466 4.53491 471.836 10.6819 525.911C13.2208 548.276 15.8861 570.689 21.1956 592.606C24.6878 607.044 31.1035 630.542 44.2034 639.786C58.2884 649.884 74.9807 648.346 90.4194 641.524C136.014 621.377 150.857 567.497 185.701 535.608C193.928 528.086 202.467 521.707 211.237 516.272L83.1293 514.67C112.411 505.789 142.919 499.985 173.154 495.602C230.115 487.348 290.827 484.473 346.719 500.559C380.088 510.162 409.285 530.22 436.343 551.368C456.317 566.965 475.295 583.799 494.216 600.655C512.446 616.894 531.251 635.793 555.433 643.273C579.063 650.579 606.564 645.58 612.906 618.364C618.162 595.819 598.368 565.49 585.183 544.842C506.752 421.965 517.64 381.406 548.122 296.986C562.85 256.2 581.933 217.206 601.191 178.417C606.637 167.44 613.095 155.894 619.611 144.021Z" stroke="url(#paint0_linear_0_1)" stroke-width="4" mask="url(#path-1-inside-1_0_1)"/>
      <mask id="path-2-inside-2_0_1" fill="white">
        <path d="M302.304 231.234C302.304 194.921 272.865 165.481 236.557 165.481C200.238 165.481 170.799 194.921 170.799 231.234C170.799 267.547 200.238 296.987 236.557 296.987C272.865 296.987 302.304 267.547 302.304 231.234Z"/>
      </mask>
      <path d="M302.304 231.234C302.304 194.921 272.865 165.481 236.557 165.481C200.238 165.481 170.799 194.921 170.799 231.234C170.799 267.547 200.238 296.987 236.557 296.987C272.865 296.987 302.304 267.547 302.304 231.234Z" stroke="url(#paint1_linear_0_1)" stroke-width="4" mask="url(#path-2-inside-2_0_1)"/>
    </g>
    <defs>
      <linearGradient id="paint0_linear_0_1" x1="-16.3624" y1="0" x2="654.498" y2="0" gradientunits="userSpaceOnUse">
        <stop stop-color="#D7E5FC"/>
        <stop offset="1" stop-color="#2F7AF0"/>
      </linearGradient>
      <linearGradient id="paint1_linear_0_1" x1="167.511" y1="165.481" x2="302.304" y2="165.481" gradientunits="userSpaceOnUse">
        <stop stop-color="#D7E5FC"/>
        <stop offset="1" stop-color="#2F7AF0"/>
      </linearGradient>
    </defs>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 317 314" fill="none" id="section-type-two">
    <g opacity="0.2">
      <mask id="path-1-inside-1_4_263" fill="white">
        <path d="M300.103 69.7553C307.264 56.6983 314.571 42.8121 316.652 29.4158C319.494 11.1186 304.521 -5.34947 285.852 1.64337C277.351 4.82727 270.779 11.7104 265.335 18.9762C256.88 30.2653 248.898 41.7891 240.315 52.9608C222.495 76.1537 204.958 99.6401 185.153 121.203C167.274 140.663 147.158 161.8 120.049 166.025C104.908 168.385 92.2538 165.88 80.5591 155.866C64.4432 142.072 60.7771 119.379 55.241 99.8238C52.0622 88.5909 46.8399 74.2659 34.0661 71.5948C22.6571 69.2094 10.9266 77.0186 6.5207 87.2055C1.06368 99.8238 1.37238 114.386 0.777946 127.884C0.0763652 143.858 -0.150672 159.854 0.0967947 175.845C0.502436 202.196 2.19644 228.529 5.17369 254.72C6.40337 265.552 7.69427 276.408 10.2659 287.023C11.9573 294.016 15.0647 305.397 21.4095 309.874C28.2314 314.765 36.3162 314.02 43.7938 310.716C65.877 300.958 73.0663 274.862 89.9425 259.417C93.9274 255.774 98.0629 252.684 102.311 250.051L40.2629 249.276C54.445 244.974 69.2216 242.163 83.8655 240.04C111.454 236.043 140.859 234.65 167.93 242.441C184.092 247.092 198.233 256.807 211.339 267.05C221.013 274.604 230.205 282.758 239.369 290.922C248.199 298.787 257.306 307.941 269.019 311.563C280.464 315.102 293.783 312.681 296.855 299.499C299.401 288.58 289.814 273.89 283.428 263.889C245.441 204.375 250.714 184.73 265.478 143.842C272.611 124.088 281.854 105.202 291.181 86.4147C293.819 81.098 296.947 75.5058 300.103 69.7553Z"/>
      </mask>
      <path d="M300.103 69.7553C307.264 56.6983 314.571 42.8121 316.652 29.4158C319.494 11.1186 304.521 -5.34947 285.852 1.64337C277.351 4.82727 270.779 11.7104 265.335 18.9762C256.88 30.2653 248.898 41.7891 240.315 52.9608C222.495 76.1537 204.958 99.6401 185.153 121.203C167.274 140.663 147.158 161.8 120.049 166.025C104.908 168.385 92.2538 165.88 80.5591 155.866C64.4432 142.072 60.7771 119.379 55.241 99.8238C52.0622 88.5909 46.8399 74.2659 34.0661 71.5948C22.6571 69.2094 10.9266 77.0186 6.5207 87.2055C1.06368 99.8238 1.37238 114.386 0.777946 127.884C0.0763652 143.858 -0.150672 159.854 0.0967947 175.845C0.502436 202.196 2.19644 228.529 5.17369 254.72C6.40337 265.552 7.69427 276.408 10.2659 287.023C11.9573 294.016 15.0647 305.397 21.4095 309.874C28.2314 314.765 36.3162 314.02 43.7938 310.716C65.877 300.958 73.0663 274.862 89.9425 259.417C93.9274 255.774 98.0629 252.684 102.311 250.051L40.2629 249.276C54.445 244.974 69.2216 242.163 83.8655 240.04C111.454 236.043 140.859 234.65 167.93 242.441C184.092 247.092 198.233 256.807 211.339 267.05C221.013 274.604 230.205 282.758 239.369 290.922C248.199 298.787 257.306 307.941 269.019 311.563C280.464 315.102 293.783 312.681 296.855 299.499C299.401 288.58 289.814 273.89 283.428 263.889C245.441 204.375 250.714 184.73 265.478 143.842C272.611 124.088 281.854 105.202 291.181 86.4147C293.819 81.098 296.947 75.5058 300.103 69.7553Z" stroke="url(#paint0_linear_4_263)" stroke-width="4" mask="url(#path-1-inside-1_4_263)"/>
      <mask id="path-2-inside-2_4_263" fill="white">
        <path d="M146.418 111.996C146.418 94.4082 132.159 80.1495 114.574 80.1495C96.9833 80.1495 82.7246 94.4082 82.7246 111.996C82.7246 129.584 96.9833 143.843 114.574 143.843C132.159 143.843 146.418 129.584 146.418 111.996Z"/>
      </mask>
      <path d="M146.418 111.996C146.418 94.4082 132.159 80.1495 114.574 80.1495C96.9833 80.1495 82.7246 94.4082 82.7246 111.996C82.7246 129.584 96.9833 143.843 114.574 143.843C132.159 143.843 146.418 129.584 146.418 111.996Z" stroke="url(#paint1_linear_4_263)" stroke-width="4" mask="url(#path-2-inside-2_4_263)"/>
    </g>
    <defs>
      <linearGradient id="paint0_linear_4_263" x1="-7.925" y1="-6.10352e-05" x2="317" y2="-6.10352e-05" gradientunits="userSpaceOnUse">
        <stop stop-color="#D7E5FC"/>
        <stop offset="1" stop-color="#2F7AF0"/>
      </linearGradient>
      <linearGradient id="paint1_linear_4_263" x1="81.1323" y1="80.1495" x2="146.418" y2="80.1495" gradientunits="userSpaceOnUse">
        <stop stop-color="#D7E5FC"/>
        <stop offset="1" stop-color="#2F7AF0"/>
      </linearGradient>
    </defs>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 505 500" fill="none" id="section-type-three">
    <g opacity="0.5">
      <mask id="path-1-inside-1_4_418" fill="white">
        <path d="M478.082 111.278C489.49 90.4775 501.13 68.356 504.446 47.0148C508.974 17.8663 485.121 -8.3683 455.379 2.77172C441.837 7.84386 431.368 18.8091 422.695 30.384C409.226 48.3681 396.509 66.7262 382.837 84.5234C354.448 121.471 326.511 158.886 294.96 193.237C266.478 224.239 234.432 257.911 191.246 264.641C167.124 268.401 146.966 264.41 128.336 248.458C102.662 226.482 96.8216 190.331 88.0023 159.179C82.9382 141.284 74.6188 118.464 54.2693 114.208C36.0941 110.408 17.4068 122.849 10.3879 139.077C1.69451 159.179 2.18628 182.378 1.23931 203.881C0.121654 229.327 -0.240029 254.81 0.1542 280.285C0.80041 322.264 3.49906 364.215 8.242 405.938C10.201 423.195 12.2574 440.488 16.3542 457.399C19.0487 468.539 23.9989 486.67 34.1066 493.802C44.9744 501.593 57.8539 500.407 69.7661 495.143C104.946 479.598 116.399 438.025 143.284 413.42C149.632 407.616 156.22 402.695 162.987 398.5L64.1412 397.265C86.7342 390.413 110.274 385.934 133.603 382.552C177.553 376.184 224.397 373.965 267.523 386.377C293.27 393.786 315.797 409.263 336.675 425.58C352.087 437.615 366.73 450.604 381.329 463.609C395.395 476.139 409.904 490.722 428.563 496.493C446.795 502.13 468.015 498.273 472.908 477.273C476.964 459.878 461.691 436.476 451.518 420.545C391.002 325.735 399.403 294.44 422.922 229.303C434.286 197.834 449.01 167.746 463.869 137.818C468.072 129.348 473.054 120.439 478.082 111.278Z"/>
      </mask>
      <path d="M478.082 111.278C489.49 90.4775 501.13 68.356 504.446 47.0148C508.974 17.8663 485.121 -8.3683 455.379 2.77172C441.837 7.84386 431.368 18.8091 422.695 30.384C409.226 48.3681 396.509 66.7262 382.837 84.5234C354.448 121.471 326.511 158.886 294.96 193.237C266.478 224.239 234.432 257.911 191.246 264.641C167.124 268.401 146.966 264.41 128.336 248.458C102.662 226.482 96.8216 190.331 88.0023 159.179C82.9382 141.284 74.6188 118.464 54.2693 114.208C36.0941 110.408 17.4068 122.849 10.3879 139.077C1.69451 159.179 2.18628 182.378 1.23931 203.881C0.121654 229.327 -0.240029 254.81 0.1542 280.285C0.80041 322.264 3.49906 364.215 8.242 405.938C10.201 423.195 12.2574 440.488 16.3542 457.399C19.0487 468.539 23.9989 486.67 34.1066 493.802C44.9744 501.593 57.8539 500.407 69.7661 495.143C104.946 479.598 116.399 438.025 143.284 413.42C149.632 407.616 156.22 402.695 162.987 398.5L64.1412 397.265C86.7342 390.413 110.274 385.934 133.603 382.552C177.553 376.184 224.397 373.965 267.523 386.377C293.27 393.786 315.797 409.263 336.675 425.58C352.087 437.615 366.73 450.604 381.329 463.609C395.395 476.139 409.904 490.722 428.563 496.493C446.795 502.13 468.015 498.273 472.908 477.273C476.964 459.878 461.691 436.476 451.518 420.545C391.002 325.735 399.403 294.44 422.922 229.303C434.286 197.834 449.01 167.746 463.869 137.818C468.072 129.348 473.054 120.439 478.082 111.278Z" stroke="url(#paint0_linear_4_418)" stroke-width="4" mask="url(#path-1-inside-1_4_418)"/>
      <mask id="path-2-inside-2_4_418" fill="white">
        <path d="M233.252 178.57C233.252 150.551 210.538 127.836 182.523 127.836C154.5 127.836 131.785 150.551 131.785 178.57C131.785 206.589 154.5 229.304 182.523 229.304C210.538 229.304 233.252 206.589 233.252 178.57Z"/>
      </mask>
      <path d="M233.252 178.57C233.252 150.551 210.538 127.836 182.523 127.836C154.5 127.836 131.785 150.551 131.785 178.57C131.785 206.589 154.5 229.304 182.523 229.304C210.538 229.304 233.252 206.589 233.252 178.57Z" stroke="url(#paint1_linear_4_418)" stroke-width="4" mask="url(#path-2-inside-2_4_418)"/>
    </g>
    <defs>
      <linearGradient id="paint0_linear_4_418" x1="-12.625" y1="0.153656" x2="505" y2="0.153656" gradientunits="userSpaceOnUse">
        <stop stop-color="#D7E5FC"/>
        <stop offset="1" stop-color="#2F7AF0"/>
      </linearGradient>
      <linearGradient id="paint1_linear_4_418" x1="129.249" y1="127.837" x2="233.252" y2="127.837" gradientunits="userSpaceOnUse">
        <stop stop-color="#D7E5FC"/>
        <stop offset="1" stop-color="#2F7AF0"/>
      </linearGradient>
    </defs>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 527 521" fill="none" id="banner-bg">
    <g opacity="0.3">
      <path d="M498.95 115.787C510.837 94.1134 522.965 71.0639 526.42 48.8274C531.138 18.4559 506.284 -8.87923 475.295 2.72814C461.185 8.01307 450.276 19.4383 441.239 31.4988C427.205 50.2374 413.955 69.3657 399.709 87.9095C370.13 126.407 341.02 165.392 308.146 201.184C278.469 233.486 245.078 268.571 200.08 275.584C174.947 279.501 153.943 275.343 134.531 258.721C107.78 235.824 101.695 198.156 92.5057 165.697C87.2292 147.052 78.5607 123.274 57.3575 118.84C38.4198 114.88 18.9486 127.843 11.6352 144.752C2.57712 165.697 3.08952 189.869 2.10283 212.275C0.938281 238.788 0.561424 265.34 0.972192 291.883C1.64551 335.624 4.45738 379.335 9.3993 422.808C11.4404 440.789 13.5832 458.808 17.8518 476.428C20.6594 488.036 25.8173 506.927 36.349 514.359C47.6727 522.477 61.0925 521.24 73.5045 515.756C110.16 499.558 122.094 456.241 150.106 430.604C156.721 424.557 163.585 419.429 170.636 415.059L67.6436 413.771C91.1844 406.631 115.712 401.965 140.019 398.442C185.813 391.806 234.623 389.494 279.557 402.427C306.384 410.146 329.857 426.272 351.611 443.275C367.669 455.814 382.927 469.348 398.138 482.899C412.794 495.954 427.912 511.149 447.354 517.162C466.351 523.036 488.461 519.017 493.559 497.136C497.785 479.011 481.871 454.628 471.272 438.028C408.217 339.24 416.97 306.633 441.476 238.763C453.317 205.973 468.659 174.624 484.141 143.439C488.52 134.614 493.712 125.332 498.95 115.787Z" fill="url(#paint0_linear_12_524)"/>
      <path d="M243.85 185.902C243.85 156.708 220.182 133.04 190.992 133.04C161.794 133.04 138.126 156.708 138.126 185.902C138.126 215.096 161.794 238.764 190.992 238.764C220.182 238.764 243.85 215.096 243.85 185.902Z" fill="url(#paint1_linear_12_524)"/>
    </g>
    <defs>
      <linearGradient id="paint0_linear_12_524" x1="-12.3431" y1="0.000244141" x2="526.997" y2="0.000244141" gradientunits="userSpaceOnUse">
        <stop stop-color="#2F7AF0"/>
        <stop offset="1" stop-color="#D7E5FC"/>
      </linearGradient>
      <linearGradient id="paint1_linear_12_524" x1="135.483" y1="133.04" x2="243.85" y2="133.04" gradientunits="userSpaceOnUse">
        <stop stop-color="#2F7AF0"/>
        <stop offset="1" stop-color="#D7E5FC"/>
      </linearGradient>
    </defs>
  </symbol>
</svg>
