{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @see template_preprocess_status_messages()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('bootstrap_barrio/alerts') }}


<div data-drupal-messages>
{% for type, messages in message_list %}
  {%
    set classes = [
      'alert',
      'alert-dismissible',
      'fade',
      'show',
      'col-12',
      'd-flex align-items-start',
      type == 'status' ? 'alert-success',
      type == 'warning' ? 'alert-warning',
      type == 'error' ? 'alert-danger',
      type == 'info' ? 'alert-primary',
    ]
  %}
  {%
    set role = {
      'status': 'status',
      'error': 'alert',
      'warning': 'alert',
      'info': 'status',
    }
  %}

  <div aria-label="{{ status_headings[type] }}" {{ attributes|without('role', 'aria-label').addClass(classes).setAttribute('role', role[type]).setAttribute('data-drupal-selector', 'messages') }}>
  {% set alert_icon_class = "alert-icon flex-shrink-0 me-2" %}
    {# {% if type == 'error' %}
      <svg class="{{ alert_icon_class }}" role="img" aria-label="Danger:"><use xlink:href="#alert-danger"/></svg>
    {% elseif type == 'warning' %}
      <svg class="{{ alert_icon_class }}" role="img" aria-label="Warning:"><use xlink:href="#alert-warning"/></svg>
    {% elseif type == 'status' %}
      <svg class="{{ alert_icon_class }}" role="img" aria-label="Success:"><use xlink:href="#alert-success"/></svg>
    {% elseif type == 'info' %}
      <svg class="{{ alert_icon_class }}" role="img" aria-label="Info:"><use xlink:href="#alert-info"/></svg>
    {% endif %} #}
    <div class="d-flex flex-column gap-1">
      <h2 id="{{ title_ids[type] }}" class="alert-heading text-lg text-dark fw-medium mb-2">
        {{ status_headings[type] }}
      </h2>
      {% for message in messages %}
        <div class="text-md alert-message">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert">
      <svg class="flex-shrink-0" role="img" aria-label="Close"><use xlink:href="#close-icon"/></svg>
    </button>
  </div>
{% endfor %}
</div>
