/* Danger Variation
 */

.alert-danger {
  border-color: $supportError_darker;
  background-color: $supportError_lighter;

  &.alert-dismissible {
    & .btn-close {
      color: $supportError_darker;
    }
  }

  & .alert-icon {
    color: $supportError_darker;
  }

  & .close-icon {
    color: $supportError_darker;
  }

  & .alert-cta {
    & a {
      color: $supportError_darker;
    }
  }
}
