/* KDB alert general styles
 *
 * general
------------------------------------------------- */

.alert {
  &.alert-dismissible {
    padding-right: calc(1rem + 1.5rem);

    & .btn-close {
      background-image: none;
      padding: 0;
      width: 1.5rem;
      height: 1.5rem;
      right: 1rem;
      top: 1rem;
      opacity: 1;

      &:focus:focus:not(:focus-visible) {
        box-shadow: none;
        outline: none;
      }

      &:focus-visible {
        box-shadow: none;
        outline: 2px solid $btn-ring-focus;
        outline-offset: 2px;
      }

      & > svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  & .alert-message {
    color: $body-color;
  }

  & .alert-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  @include media-breakpoint-down(lg) {
    & .alert-label {
      margin-bottom: .125rem;
    }

    & .alert-copy {
      font-size: $font-size-sm;
      line-height: $line-height-sm;
    }

    & .alert-cta {
      & a {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        gap: .375rem!important;

        & .icon {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}
