/* Info Variation
 */

.alert-info {
  border-color: $supportInfo_darker;
  background-color: $supportInfo_lighter;

  &.alert-dismissible {
    & .btn-close {
      color: $supportInfo_darker;
    }
  }

  & .alert-icon {
    color: $supportInfo_darker;
  }

  & .close-icon {
    color: $supportInfo_darker;
  }

  & .alert-cta {
    & a {
      color: $supportInfo_darker;
    }
  }
}
