/* Success Variation
 */

.alert-success {
  border-color: $supportSuccess_darker;
  background-color: $supportSuccess_lighter;

  &.alert-dismissible {
    & .btn-close {
      color: $supportSuccess_darker;
    }
  }

  & .alert-icon {
    color: $supportSuccess_darker;
  }

  & .close-icon {
    color: $supportSuccess_darker;
  }

  & .alert-cta {
    & a {
      color: $supportSuccess_darker;
    }
  }
}
