/* Warning Variation
 */

.alert-warning {
  border-color: $supportWarning_darker;
  background-color: $supportWarning_lighter;

  &.alert-dismissible {
    & .btn-close {
      color: $supportWarning_darker;
    }
  }

  & .alert-icon {
    color: $supportWarning_darker;
  }

  & .close-icon {
    color: $supportWarning_darker;
  }

  & .alert-cta {
    & a {
      color: $supportWarning_darker;
    }
  }
}
