/* KDB Accordion component
 *
 * accordion button
 * accordion fix bacground color
------------------------------------------------- */

.accordion {

  & .accordion-button {
    &::after {
      background-position: center;
      background-size: $accordion-icon-mobile-width;
      width: $accordion-button-mobile-width;
      height: $accordion-button-mobile-width;
      @include media-breakpoint-up(md) {
        width: $accordion-button-width;
        height: $accordion-button-width;
        background-size: $accordion-icon-width;
      }
    }
  }

  .section-component[class*="bg-"]:not(.bg-indigo-extra-light) & {
    & .accordion-item {
      background-color: transparent;
      --kdb-border-opacity: .25;
    }

    & .accordion-button {
      color: $white;
      &::after {
        background-image: escape-svg($accordion-dark-button-icon);
        opacity: .75;
      }
    }
  }
}
