/*
* Archivos descargables.
*/
.paragraph--type--archivos-descargables {
   color: $primary_darkerGrey;
 
  .archivos-descargables-icon {
    svg.icon {
        width: 32px;
        height: 26px;
    }
  }

  .archivos-descargables-body {
    margin-left: 0.75rem;
  }

  .archivos-descargables-title {
    line-height: 1.2;
  }
  
}
