/* KDB banner subhero styles
 *
 * variants: default(sm) | large | full
 * bg-colors: white | indigo | blue
------------------------------------------------- */
$image-sm-w: 502px;

.banner-subhero {
  & .banner-subhero-title {
    & b {
      font-weight: normal;
      color: $indigo;
    }
  }

  & .banner-subhero__lottie {
    & .field--name-field-media-image {
      & > svg {
        max-width: 100%;
        height: auto;
      }
    }
  }

  & .button-group {
    justify-content: flex-start!important;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      flex: 1;

      & > .field__item {
        flex: 1 0 100%;
        width: 100%;

        & .btn {
          display: flex!important;
        }

        & .paragraph--type--button-link {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  &[class*="bg-"] {
    & .banner-subhero-title {
      & b {
        color: inherit;
      }
    }
  }

  // SM Variant
  &.banner-subhero-default {
    & .banner-subhero__image {
      @include media-breakpoint-up(md) {
        max-width: $image-sm-w;
      }
    }
  }

  // LG Variant
  &.banner-subhero-large {
    $sides: 'left', 'right';
    $container-w: map-get($container-max-widths, xl);

    @include media-breakpoint-up(md) {
      min-height: 565px;
    }

    & .banner-subhero__image {
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50vw;

        & .contextual-region {
          position: initial;
        }

        & > .field--name-field-media-image {
          & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      @media (min-width: 1060px) {
        width: calc(50vw - ((50vw - (($container-padding-x - $grid-gutter-width) / 2)) - $grid-gutter-width / 2 - $image-sm-w));
      }

      @include media-breakpoint-up(xl) {
        width: calc(50vw - (($container-w / 2 - (($container-padding-x - $grid-gutter-width) / 2)) - $grid-gutter-width / 2 - $image-sm-w));
      }
    }

    @each $side in $sides {
      &.banner-subhero-#{$side} {
        & .banner-subhero__image {
          @include media-breakpoint-up(md) {
            #{$side}: 0;
            $padding: 100px;
            $inverse-side: 'left';

            @if $side == 'left' {
              $inverse-side: 'right';
            }

            & > .field--name-field-media-image {
              padding-#{$inverse-side}: $padding;
            }
          }
        }
      }
    }
  }

  // Full Variant
  &.banner-subhero-full {
    & .banner-subhero__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      margin: 0!important;

      & .contextual-region {
        position: initial;
      }

      & > .field--name-field-media-image {
        & img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;

          @include media-breakpoint-up(md) {
            object-fit: contain;
          }
        }
      }
    }
  }
}
