/*
 * banner Shortcuts
*/
.bannerShortcuts{
    .item{
        width: 100%;
        height: 470px;
        @include media-breakpoint-down(sm){
            width: 100%;
            height: 220px;
        }
        .image{
            article, div:not([data-once="contextual-render"]){
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
    }
    .text{
        transform: translateY(50%);
        @include media-breakpoint-down(sm){
           transform: none;
        }
        .shadow-3{
            @include media-breakpoint-down(sm){
                box-shadow: none !important;
            }
        }
        svg{
            width: 80px;
            height: auto;
            @include media-breakpoint-down(md){
                width: 120px;
                height: auto;
            }
        }
    }
    .slider{
        .shortcuts{
            ul.owl-carousel{
                margin-top: -55px;
                &.large.horizontal{
                    margin-top: -45px;
                }
                &.small.horizontal{
                    margin-top: -35px;
                }
                .owl-stage-outer{
                    margin: 0;
                    padding: 0;
                    li{
                        width: 100%;
                        padding: 5px;
                    }
                }
            }
        }
    }
}
