/* KDB Banner
 *
 * variants: bg svg | null
------------------------------------------------- */

.banner {
  & .banner-figure {
    top: 0;
    right: 0;
    width: 526px;
    aspect-ratio: 1.011 / 1;
    width: clamp(357px, 48vw, 526px);
    transform: translate(22%, 16%);

    @include media-breakpoint-up(md) {
      transform: translate(20%, -17%);
    }
  }
}
