/* KDB Carousel Logos Styles
 *
 * Carousel logos sizes
------------------------------------------------- */

.companies-logos-inner {
  max-width: 1440px;
  margin: 0 auto;
}

.company-logo-item {
  & .company-logo-item-logo {
    & img {
      width: 216px;
      max-width: 100%;
      max-height: 50px;
      object-fit: contain;
      object-position: center;

      @include media-breakpoint-up(md) {
        max-height: 62px;
      }
    }
  }
}
