/* KDB Featured Background (Destacado con fondo)
 *
 * variants: solid | default
------------------------------------------------- */

.featured-background {
  & .featured-background__icon {
    background-color: $indigo-extra-light;
    aspect-ratio: 1/1;
    width: 4rem;
    height: auto;
    padding: 1rem;

    @include media-breakpoint-up(md) {
      width: 5rem;
      padding: 1.25rem;
    }

    & [class^="material-symbols"] {
      font-size: 2rem;
      background-image: $indigo-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;


      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
      }
    }

    & > svg {
      width: 100%;
      height: auto;
    }
  }
}
