/* KDB Highlighted Image Card
 *
 * card grid
 * card info
 * card media
------------------------------------------------- */

.highlighted-image {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas: 'card';

  &:hover {
    & .highlighted-image-media {
      transform: scale(1.1);
    }
  }

  & .highlighted-image-box {
    grid-area: card;
    z-index: 2;

    & .button-group {
      & .paragraph--type--button-link {
        @include media-breakpoint-down(md) {
          justify-content: flex-start;
        }
      }
    }
  }

  & .highlighted-image-media {
    grid-area: card;
    transition: all .2s ease-out;
    min-height: 414px;

    & .contextual-region {
      position: initial;
    }

    @include media-breakpoint-up(md) {
      min-height: 430px;
    }

    & img {
      position: absolute;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
}
