/* KDB Basic Highlighted
 *
 * Card styles
 * variants: null
------------------------------------------------- */

.card-basic-highlighted {
  outline: 1px solid $indigo-light;

  & .field--name-field-media-image {
    & img {
      width: 100%;
    }
  }
}
