/*
 * float-button
*/
.float-button{
    right: 30px;
    bottom: 30px;
    z-index: 999;
    position: fixed;
    transform: rotateY(180deg);
    @include media-breakpoint-down(lg){
        right: 15px;
        bottom: 85px;
    }
    .item{
        transition: width .3s ease-out;
        background-color: $tints_turquoise90;
        &:hover{
            .text{
                width: 100%;
                height: auto;
                opacity: 1;
                transition: opacity .5s ease-in;
            }
        }
        .text{
            width: 0;
            height: 0;
            opacity: 0;
            white-space: nowrap;
            transform: rotateY(180deg);
        }
        .icon{
            z-index: 1;
            transform: rotateY(180deg);
            background-color: $tints_turquoise90;
            svg{
                animation: rotateIcon 3s ease-out infinite;
            }
        }
        &.large{
            width: 56px;
            padding-left: 8px;
            padding-right: 8px;
            &:hover{
                width: 100%;
                padding-left: 16px;
                padding-right: 16px;
            }
            .icon{
                svg{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &.small{
            width: 48px;
            padding-left: 8px;
            padding-right: 8px;
            &:hover{
                width: 100%;
                padding-left: 12px;
                padding-right: 12px;
            }
            .icon{
                svg{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    } 
}

@keyframes rotateIcon{
    0%, 100%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(-10deg);
    }
}
