/* KDB Swipe hero styles (Hero Vectorial)
 *
 * swipe hero panels
 * swipe hero item
 * swipe hero pagination
------------------------------------------------- */


// homepage hero
.swipe-hero {
  // styles resolved with utilities
  // width: 100vw; // added full width to the element
  // overflow: visible;
}

// homepage hero item wrapper
.swipe-hero-item {

  &.x-100 {
    opacity: 0;
    visibility: hidden;
  }

  & .swipe-hero-item-media {
    & .field--name-field-media-image {
      & :is(svg, img) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  & .swipe-hero-cta {
    // clip-path: polygon(0 0, calc(var(--width) * 1%) 0, calc(var(--width) * 1%) 100%, 0% 100%);
    opacity: 0;
    visibility: hidden;
  }


  // fixes for orientation landscape
  @media (max-width: #{map-get($grid-breakpoints, 'lg')}) and (orientation: landscape) {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;

    & .swipe-hero-heading {
      font-size: clamp(2rem, 4vh, 3.5rem);
    }

    & .swipe-hero-item-media {
      & .field--name-field-media-image {
        & :is(svg, img) {
          max-height: 100%;
        }
      }
    }
  }
}

// swip pagination
.swipe-hero-pagination {
  z-index: 20;
  --bg-color: #{$blue};
  --color: #{$gray-dark};

  @media (max-width: #{map-get($grid-breakpoints, 'lg')}) and (orientation: landscape) {
    display: none!important;
  }

  & li {
    flex: 0 0 150px;
    gap: .8125rem;
    --scale-bar: 0;
    color: var(--color);

    & .swipe-hero-pagination-item-bar {
      border-radius: 7px;
      width: 100%;
      height: 10px;
      border: 1px solid var(--bg-color);
      overflow: hidden;
      position: relative;

      &::after {
        content: '';
        height: 100%;
        background-color: var(--bg-color);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform-origin: left;
        transform: scaleX(var(--scale-bar));
      }
    }
  }
}
