/* KDB Lists styles
 *
 * default styles (variants: arrow, check, numeric)
 * arrow variant
 * check variant
 * numeric variant
------------------------------------------------- */

.list {
  --icon-size: 1.5rem;

  .section-component[class*="bg-"]:not(.bg-indigo-extra-light) & {
    & :is(li, h4) {
      color: $white;
    }
  }

  // override colors inside tab
  // repeat to increase specificity
  .kdb-tabs-vertical.kdb-tabs-vertical.kdb-tabs-vertical &,
  .shortcuts.shortcuts.shortcuts & {
    & :is(li, h4) {
      color: $body-color;
    }
  }

  @include media-breakpoint-up(md) {
    --icon-size: 1.75rem;
  }

  & h4 {
    color: $body-color;
  }

  & li {
    position: relative;
    padding-left: calc(var(--icon-size) + 1rem);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      font-size: var(--icon-size);
      display: block;
      line-height: 1;
      font-family: $icon-font;
      background-image: $indigo-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: -.125rem;

      @include media-breakpoint-up(md) {
        margin-top: -.25rem;
      }
    }
  }

  &.list-type-arrow {
    & li {
      &::before {
        content: "\f1e1";
      }
    }
  }

  &.list-type-check {

    .section-component[class*="bg-"]:not(.bg-indigo-extra-light) & {
      & li {
        &::before {
          color: $white;
          opacity: .75;
          background-image: none;
          -webkit-background-clip: initial;
          -webkit-text-fill-color: initial;
        }
      }
    }

    & li {
      &::before {
        content: "\e2e6";
      }
    }
  }

  &.list-type-numeric {
    counter-set: list;
    --icon-size: 1.25rem;

    & li {
      counter-increment: list;
      padding-left: calc(var(--icon-size) + .5rem);

      &::before {
        content: counter(list) '.';
        font-family: $font-family-base;
        font-weight: 500;
        width: var(--icon-size);
        font-size: $font-size-base;
        line-height: 1.2;
        margin-top: 0;

        background-image: none;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;

        @include media-breakpoint-up(md) {
          font-size: $font-size-lg;
        }
      }
    }
  }
}
