/*
 * list-highlight
 */

.paragraph--type--list-highlight{
    svg{
        width: 40px;
        height: 40px;
    }
    .field--name-field-button-group{
        .field__item{
            width: 100%;
            .btn-primary,
            .btn-secondary{
                width: 100%;
            }
        }
    } 
}
