/*
 * Preguntas Frecuentes.
*/

.paragraph--type--preguntas-frecuentes {
    figure
      .field--name-field-media-image{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        align-self: stretch;

        img {
            display: flex;
            width: 100%;
            max-width: 256px;
            height: auto;
            padding-bottom: 0px;
            justify-content: center;
            align-items: center;
        }
    }

    .accordion {
        --st-accordion-active-bg: $white;
        --st-accordion-border-width: 0px;
    }

    .accordion-button {
      padding: 1.25rem 0;
      color: #222222;
      line-height: 1.2;

      &:focus {
        box-shadow: none;
      }
    }
}
