/* KDB Shortcuts
 *
 * variants: large | small | vertical | horizontal
------------------------------------------------- */

.shortcuts {
  & .shortcut-item {
    transition: all .25s;

    &:is(a) {
      cursor: pointer;
    }

    &:hover {
      transform: translateY(-5px);
    }

    & [class^="material-symbols"] {
      display: block;
      line-height: 1;
      background-image: $indigo-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.text-white {
      & [class^="material-symbols"] {
        background-image: none;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
        color: $white;
      }
    }

    &.shortcut-item-small {
      & [class^="material-symbols"] {
        font-size: 2rem;

        @include media-breakpoint-up(md) {
          font-size: 3rem;
        }
      }
    }

    &.shortcut-item-large {
      & [class^="material-symbols"] {
        font-size: 3rem;

        @include media-breakpoint-up(md) {
          font-size: 3.75rem;
        }
      }
    }
  }
}
