/*
 * slider-banner-hero
*/
.bannerHero{
    .bannerHero__content{
        .bannerHero__slider{
            .item{
                width: 100%;
                height: 600px;
                @media (max-width: $mobile){
                    width: 100%;
                    height: 520px;
                }
                .bannerHero__image{
                    article, div:not([data-once="contextual-render"]){
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                }
                .bannerHero__info{
                    h2.text-lg{
                        font-family: $font-family-sans-serif;
                        @media (max-width: $mobile){
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
