/**
 * SOCIAL NETWORK LINK
 * Icon + Link
 */

.social-network-link {
  & .field--type-entity-reference {
    margin: 0;
  }

  & .field--name-field-media-image {
    & img {
      margin: 0;
    }
  }
}
