/*
* Componente Te resulto util.
*/

.paragraph--type--te-resulto-util {
    border: 1px solid $primary_lightSky;
    background-color: $tints_sky30;
    max-width: 42.5625rem;

  .selectable-item.selectable-item-fixed
    a {
    padding: 12px 22px;
    min-width: auto;
    background-color: $primary_white;

    &.is-active {
      &:hover,
      &:focus {
        background-color: $indigo-extra-light;
        border-color: $indigo-light;
      }
    }

    &:hover,
    &:focus {
      background-color: $primary_white;
      border-color: $primary_lightGrey;
    }
  }

  svg.icon {
    width: 24px;
    height: 25px;
  }

  .webform-element-description {
    margin-bottom: 1rem;
  }

  .webform-confirmation__message {
    margin: 0;
  }

}
