/* KDB Text Only
 *
 * variants: alignment left | center | right
 * view mode full width (Cards full width)
------------------------------------------------- */

.text-only {
  .section-component[class*="bg-"]:not(.bg-indigo-extra-light) & {
    & .text-only-content {
      color: $white;
    }

    & :is(.text-only-eyebrow, .text-only-title) {
      color: $white!important;
    }
  }

  // override colors inside tab
  // repeat to increase specificity
  .kdb-tabs-vertical.kdb-tabs-vertical.kdb-tabs-vertical & {
    & .text-only-content {
      color: $body-color;
    }

    & .text-only-eyebrow {
      color: $indigo!important;
    }

    & .text-only-title {
      color: $dark!important;
    }
  }

  // Button Group Variants for Text Only alignment
  &.text-start {
    & .button-group {
      justify-content: flex-start!important;
    }
  }

  &.text-center {
    & .button-group {
      justify-content: center!important;
    }
  }

  &.text-end {
    & .button-group {
      justify-content: flex-end!important;
    }
  }

  // Mobile full width and vertical
  & .button-group {
    @include media-breakpoint-down(md) {
      flex-direction: column;
      flex: 1;

      & > .field__item {
        flex: 1 0 100%;
        width: 100%;

        & .btn {
          display: flex!important;
        }

        & .paragraph--type--button-link {
          display: flex;
          justify-content: center;
        }
      }
    }
  }


  &.paragraph--view-mode--card-full-width {
    & .button-group {
      @include media-breakpoint-down(md) {
        flex-direction: column;
        flex: 1;

        & > .field__item {
          flex: 0 0 100%;
          width: 100%;

          & .btn {
            display: inline-flex!important;
          }

          & .paragraph--type--button-link {
            display: inline-flex!important;
          }
        }
      }
    }
  }
}
