/* KDB Webforms
 *
 * general webform styles (input, labels, etc)
 * webform component styles
 * section bg colors variants
------------------------------------------------- */

.webform-submission-form {
  & > [class*="form-item"] {
    display: flex;
    flex-direction: column;
    gap: .4375rem;
  }

  & label {
    font-weight: 500;
    font-size: .8125rem;

    @include media-breakpoint-up(md) {
      font-size: .875rem;
    }
  }

  .form-check {
    margin-bottom: .3125rem!important;
  }


  & .fieldgroup {
    & legend {
      font-size: .875rem;
      font-weight: 500;
    }
  }

  & .form-control {
    @include media-breakpoint-down(md) {
      font-size: .875rem;
    }

    &:not(.form-textarea) {
      height: 43px;

      @include media-breakpoint-up(md) {
        height: 45px;
      }
    }

    // phone input
    & .iti {
      display: block;
    }
  }

  & .form-select {
    @include media-breakpoint-down(md) {
      font-size: .875rem;
    }
  }

  & .form-actions {
    display: flex;
    justify-content: flex-start;
    margin: 1.875rem 0 0!important;

    & > .btn {
      @include media-breakpoint-down(md) {
        flex: 1;
      }
    }

    .webform-component-layout-vertical & {
      justify-content: center;
    }
  }

  & .form-item--error-message {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    font-weight: normal;
    &.error {
      color: $danger;
    }
  }
}

.webform-component {
  & .webform-form-wrapper {
    @include media-breakpoint-up(md) {
      max-width: 594px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &.webform-component-size-large {
    & .webform-form-wrapper {
      max-width: initial;
    }
  }

  .section-component[class*="bg-"]:not(.bg-indigo-extra-light) & {
    & .webform-component-inner {
      background-color: $indigo-extra-light!important;
      box-shadow: $box-shadow-md;

      & .btn-primary {
        @extend .btn-tertiary;
      }
    }
  }
}
