{% if hasImage or hasSvgOrLottie %}
  {% if hasImage %}
    <div class="banner-subhero__image overflow-hidden mx-n3.5 mx-md-0{{ view_mode == 'default' ? ' rounded-md-2'}}">
      {{ content.field_media_image }}
    </div>
  {% endif %}
{% endif %}
<div class="banner-subhero__info z-1 d-flex flex-column gap-5.5 pt-9.5 pb-9.5 py-md-0 col-12 col-md-10 col-lg-8 mx-auto text-center position-relative">
  {% if hasTitle or hasEyebrow or hasDescription %}
    <div class="d-flex flex-column gap-3">
      {% if hasEyebrow %}
        <p class="text-lg{{ text_white ?: ' text-indigo' }} mb-0 fw-medium">
          {{ content.field_eyebrow.0 }}
        </p>
      {% endif %}
      {% if hasTitle %}
        <h1 class="banner-subhero-title{{ text_white ?: ' text-blue' }} h2">
          {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
        </h1>
      {% endif %}
      {% if hasDescription %}
        <div class="text-lg banner-subhero-description{{ text_white }}">
          {{ content.field_description }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if paragraph.field_button_group is not empty %}
    <div class="banner-subhero-ctas d-flex justify-content-center">
      {{ content.field_button_group }}
    </div>
  {% endif %}
</div>
