
<div class="row align-items-md-center">
  {% if hasImage or hasLottie %}
    <div class="col-12 col-md-6 d-md-flex flex-column {{ image_side == 'right' ? 'order-md-1 align-items-md-end' : '' }}">
      {% if hasImage %}
        <figure class="banner-subhero__image overflow-hidden mx-n3.5 mx-md-0{{ view_mode == 'default' ? ' rounded-md-2'}}">
          {{ content.field_media_image }}
        </figure>
      {% endif %}
      {% if hasLottie %}
        <div class="banner-subhero-lottie">
          {{ content.field_lottie }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  <div class="col-12 col-md-6">
    <div class="banner-subhero__info z-1 d-flex flex-column gap-5.5 pt-5.5 pb-9.5 p-md-0">
      {% if hasTitle or hasDescription or hasEyebrow %}
        <div class="d-flex flex-column gap-3">
          {% if hasEyebrow %}
            <p class="text-lg{{ text_white ?: ' text-indigo' }} mb-0 fw-medium">
              {{ content.field_eyebrow.0 }}
            </p>
          {% endif %}
          {% if hasTitle %}
            <h1 class="banner-subhero-title{{ text_white ?: ' text-blue' }}">
              {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
            </h1>
          {% endif %}
          {% if hasDescription %}
            <div class="text-lg banner-subhero-description{{ text_white }}">
              {{ content.field_description }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if paragraph.field_button_group is not empty %}
        <div class="banner-subhero-ctas d-flex justify-content-start">
          {{ content.field_button_group }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
