{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--col1 row',
  ]
%}

{% set col = 'col-12' %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.top %}
      <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top', 'col-md-8', 'mx-auto mb-7 text-center') }}>
        {{ content.top }}
      </div>
    {% endif %}
    {% if content.main %}
      <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main', col) }}>
        {{ content.main }}
      </div>
    {% endif %}
  </div>
{% endif %}
