.lp-builder {
  font-family:      Gramatika, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Separacion de secciones */
.lpb-layout {
  padding: 20px 0;
}

/* Ajuste para los elementos que tengan full-width */
.lp-builder .full-width {
  width: 100%;
  position: relative;
  margin: initial;
  left: initial;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 100%;
  height: 100%;
  margin: 0;
  transform: translate(-50%, -50%);
  background: url("data:image/svg+xml,%3csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1.318l-10 10M11 11.318l-10-10' stroke='%23D3D4D9' stroke-width='1.5'/%3e%3c/svg%3e") no-repeat 50%!important;
}

/* 976 */
@media screen and (min-width: 61rem) {
  .layout-node-form {
    display: block;
  }

  .layout-node-form .layout-region--node-main .layout-region__content,
  .layout-node-form .layout-region--node-footer .layout-region__content {
    max-width: 100%;
  }
  .layout-node-form .layout-region--node-main,
  .layout-node-form .layout-region--node-footer {
    width: 100%;
    padding-right: 0;
  }
  .layout-node-form .layout-region--node-secondary {
    width: 100%;
  }
}

/* 1500 */
@media screen and (min-width: 93.75rem) {
  .layout-node-form .layout-region--node-main .layout-region__content {
    max-width: 100%;
    width: 100%;
  }
  .layout-node-form .layout-region--node-main,
  .layout-node-form .layout-region--node-footer {
    padding-right: 0;
    max-width: 93.75rem;
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  .layout-node-form .layout-region--node-secondary {
    max-width: 93.75rem;
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}


/* Fix Gallery View Mode on first render */

.paragraph--type--gallery.paragraph--view-mode--preview.gallery-mode .field--name-field-media {
  display: grid;
}

.paragraph--type--gallery.paragraph--view-mode--preview.gallery-mode .field--name-field-media .field__item {
  grid-area: 1/-1;
}

.paragraph--type--gallery.paragraph--view-mode--preview.gallery-mode .field--name-field-media img {
  height: 246px;
  object-fit: cover;
}

.paragraph--type--gallery.paragraph--view-mode--preview.grid-mode .field--name-field-media {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.paragraph--type--gallery.paragraph--view-mode--preview.grid-mode .field--name-field-media img {
  width: 100%;
  height: 80px;
  object-fit: cover;
}

/*pop-up edit tables ckeditor*/
.ck.ck-balloon-panel {
  z-index: 9999 !important;
}

/*paragraph float-button*/
.lp-builder .float-button {
  right: 15px;
  bottom: 0;
  z-index: 0;
  position: absolute;
}
.lp-builder .float-button .lpb-controls {
  transform: rotateY(180deg);
}

/* Fix Banner Hero LG width */
.lp-builder .banner-subhero.banner-subhero-large.banner-subhero-left .banner-subhero__image,
.lp-builder .banner-subhero.banner-subhero-large.banner-subhero-right .banner-subhero__image {
  width: 50%;
}


/* Fix Hero Vectorial Absolute position */

.lp-builder .swipe-hero {
  flex-direction: column!important;
}

.lp-builder .swipe-hero .swipe-hero-item.x-100 {
  opacity: 1;
  visibility: visible;
}

.lp-builder .swipe-hero :is(.swipe-hero-heading, .swipe-hero-copy, .swipe-hero-cta) {
  opacity: 1!important;
  visibility: visible;
}

.lp-builder .swipe-hero :is(.swipe-hero-item, .swipe-hero-pagination) {
  position: static!important;
}


.lp-builder .swipe-hero .swipe-hero-pagination {
  --bg-color: var(--kdb-blue);
  --color: var(--kdb-body-color);
  transform: none!important;
}

/* Fix accordion bg */
.lp-builder .accordion-kdb {
  box-shadow: none;
  border: 0;
  background: transparent;
}

/* Fix slick carousel overflow */
.lp-builder .slick--optionset--testimonials .slick-list {
  overflow: hidden;
}
