{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}

{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{{ attach_library('kadabra_theme/st_credit_cards') }}

<div{{ attributes.addClass(classes) }}>
  <div class="js-view-credit-cards">
    {{ title_prefix }}
    {% if title %}
      {{ title }}
    {% endif %}
    {{ title_suffix }}

    {% if header %}
      <div class="view-header">
        {{ header }}
      </div>
    {% endif %}

    {% if exposed %}
      <div class="view-filters d-none">
        {{ exposed }}
      </div>
    {% endif %}

    <div class="tabs-shadow js-tabs-shadow tabs-horizontal">
      <div class="nav-tabs-shadow js-nav-tabs-shadow w-100 d-flex position-relative">
        <ul class="nav nav-tabs js-nav-tabs flex-nowrap flex-md-wrap flex-grow-1 nav-fill" role="tablist">
          <li role="presentation" class="nav-item active">
            <button class="nav-link fw-bold text-dark d-flex align-items-center justify-content-center align-items-center gap-2 mb-0 border-top-0 border-start-0 border-end-0 active" href="#tab-pane-featured-{{ dom_id }}" aria-controls="tab-pane-featured-{{ dom_id }}" role="tab" data-bs-toggle="tab">
              <svg class="icon"><use xlink:href="#featured-icon"></use></svg>
              <span class="d-block">
                {{ 'Featured' | t }}
              </span>
            </button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="nav-link fw-bold text-dark d-flex align-items-center justify-content-center align-items-center gap-2 mb-0 border-top-0 border-start-0 border-end-0" href="#tab-pane-all-{{ dom_id }}" aria-controls="tab-pane-all-{{ dom_id }}" role="tab" data-bs-toggle="tab">
              <span class="d-block">
                {{ 'All Cards' | t }}
              </span>
            </button>
          </li>
        </ul>
      </div>
      <div class="tab-content">

        {% if attachment_before or rows or pager or attachment_after or more or feed_icons %}
          <div role="tabpanel" class="tab-pane active show mt-7 d-block" id="tab-pane-featured-{{ dom_id }}">
            {% if attachment_before %}
              <div class="attachment attachment-before">
                {{ attachment_before }}
              </div>
            {% endif %}

            {% if rows %}
              <div class="view-content">
                {{ rows }}
              </div>
            {% elseif empty %}
              <div class="view-empty">
                {{ empty }}
              </div>
            {% endif %}

            {% if pager %}
              {{ pager }}
            {% endif %}

            {% if attachment_after %}
              <div class="attachment attachment-after">
                {{ attachment_after }}
              </div>
            {% endif %}

            {% if more %}
              {{ more }}
            {% endif %}

            {% if feed_icons %}
              <div class="feed-icons">
                {{ feed_icons }}
              </div>
            {% endif %}
          </div>
        {% endif %}

        {% if footer.view['#rows'] %}
          <div role="tabpanel" class="tab-pane mt-md-9.5" id="tab-pane-all-{{ dom_id }}">
            <div class="view-footer">
              {{ footer }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
