{#
/**
 * @file
 * Bootstrap Paragraphs template for displaying Bootstrap Tabs.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# The template default set classes. #}
{# Sets Paragraph ID as class. #}

{% set classes = [
  'paragraph',
  'kdb-tabs kdb-tabs-shadow kdb-tabs-vertical js-kdb-tabs-shadow',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--id--' ~ paragraph.id.value,
]%}

{# Sets Unique ID for Accordion from Paragraph ID. #}
{% set paragraph_id = 'tab-' ~ paragraph.id.value %}

{{ attach_library('kadabra_theme/kdb_tabs') }}

{# Prints Tabs template. #}
{% block paragraph %}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% if paragraph.field_tab_section is not empty %}
      <div class="kdb-tabs-inner border border-indigo-light shadow-3 overflow-hidden">
        <div class="row gx-0">
          <div class="col-md-4 d-flex">
            <div class="nav-tabs-shadow js-nav-tabs-shadow w-100 d-flex position-relative bg-indigo-extra-light">
              <ul class="nav nav-tabs js-nav-tabs flex-row flex-md-column border-0 flex-grow-1 gap-0 flex-nowrap flex-md-wrap p-0 m-0" role="tablist">
                {# Loops through the tab sections to print the tab section titles. #}
                {% for key, item in content.field_tab_section | children(true) %}
                  {% set icon = null %}
                  {% set material_icon = null %}
                  {% if item['#paragraph'].id.value is not iterable %}
                    {% set icon = drupal_field('field_icon', 'paragraph', item['#paragraph'].id.value) | render %}
                    {% set material_icon = drupal_field('field_material_icon', 'paragraph', item['#paragraph'].id.value) | render %}
                  {% endif %}
                  <li role="presentation" class="nav-item{{loop.first ? ' active' }}">
                    <a class="nav-link nav-link-text text-md text-dark fw-medium d-flex align-items-center p-0 position-relative mb-0 border-0 rounded-0 {{loop.first ? ' active' }}" href="#{{ paragraph_id }}-{{ key + 1 }}" aria-controls="{{ item['#paragraph'].field_tab_title.value }}" role="tab" data-bs-toggle="tab">
                      <div class="nav-link-inner d-flex align-items-center flex-grow-1 position-relative z-1 py-md-3.5 px-md-5.5 p-3">
                        {% if icon %}
                          {{ icon }}
                        {% elseif material_icon %}
                          {{ material_icon }}
                        {% endif %}
                        <span class="d-block">
                          {{ item['#paragraph'].field_tab_title.value }}
                        </span>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-8 mt-0 d-flex flex-column">
            <div class="tab-content d-flex flex-column py-4 px-3 p-md-9.5 bg-white">
              {# Loops through the tab sections again to print the tab section bodies. #}
              {% for key, item in content.field_tab_section | children(true) %}
                <div role="tabpanel" class="tab-pane{{loop.first ? ' active show' }}" id="{{ paragraph_id }}-{{ key + 1 }}">
                  {{ item }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="d-block d-md-none mt-5.5">
        <ul class="nav nav-tabs nav-tabs-dots js-nav-tabs-dots flex-row border-0 flex-grow-1 gap-2 flex-wrap pb-0 justify-content-center shadow-none" role="tablist">
          {# Loops through the tab sections to print the tab section titles. #}
          {% for key, item in content.field_tab_section | children(true) %}
            {% if item['#paragraph'].id.value is not iterable %}
              {% set icon = drupal_field('field_icon', 'paragraph', item['#paragraph'].id.value) %}
            {% endif %}
            <li role="presentation" class="nav-item{{loop.first ? ' active' }}">
              <a class="nav-link nav-link-dot text-dark d-flex align-items-center position-relative mb-0 border-0 rounded-circle p-0 shadow-0 {{loop.first ? ' active' }}" href="#{{ paragraph_id }}-{{ key + 1 }}" aria-controls="{{ item['#paragraph'].field_tab_title.value }}" role="tab">
                <span class="d-block visually-hidden">
                  {{ item['#paragraph'].field_tab_title.value }}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}
</div>
{% endblock %}
