/* Benefits View
 * attachments map
 * view map
 * view cards
 */

.view-benefits {

  & .view-header {
    margin-bottom: 1.5rem;
  }

  & .view-filters {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 3.5rem;
    }
  }

  & .views-infinite-scroll-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  // exposed filters
  & .views-exposed-form {

    & .form-item-col {
      flex: 0 0 50%;
      width: 50%;

      @include media-breakpoint-up(md) {
        flex: 0 0 20%;
        width: 20%;
      }
    }

    & .form-item-col-search {
      flex: 0 0 100%;
      @include media-breakpoint-up(md) {
        flex: 0 0 40%;
      }
    }

    & .form-item-selectable-tid {
      display: none;
    }

    & [class*="form-item-"] {
      // padding: 0 .75rem;
      // flex: 0 0 20%;
      margin-bottom: 0!important;
    }

    & .form-type-select,
    & .form-type--select {
      position: relative;

      & > label {
        position: absolute;
        z-index: 1;
        color: $primary_mediumGrey;
        left: 1rem;
        top: calc((3rem - #{$font-size-sm} * #{$line-height-sm}) / 2);
        font-size: .875rem;
        line-height: $line-height-sm;
        transition: all .3s;
        pointer-events: none;
        opacity: 0;
      }

      &.is-filled {
        & > label {
          font-size: .75rem;
          line-height: $line-height-xs;
          top: .25rem;
          transform: none;
          opacity: 1;
        }

        & .dropdown-toggle {
          padding: 1rem 1.875rem 0.5rem 1rem;
        }
      }
    }

    & .form-select {
      box-shadow: none;
      padding: 0;
      border: 0;
      width: 100% !important;
      --height: 3.125rem;
      --st-form-select-bg-img: '';

      & > select.form-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      & .dropdown-toggle {
        border-radius: .5rem;
        box-shadow: none;
        background-color: transparent;
        border: 1px solid $primary_lightSky;
        font-weight: normal;
        font-size: $font-size-sm;
        line-height: 1.714;
        padding: .75rem 1.875rem .75rem 1rem;
        max-height: var(--height);

        & .filter-option-inner-inner {
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &.show {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;

          &::after {
            transform: translateY(-50%) rotate(-180deg);
          }
        }

        &::after {
          border: 0;
          background: escape-svg($select-arrow-icon) center no-repeat;
          background-size: 1.5rem;
          width: 1.5rem;
          height: 1.5rem;
          transition: all .3s;
          position: absolute;
          top: 50%;
          right: .5rem;
          margin: 0;
          transform: translateY(-50%);
        }
      }

      & > .dropdown-menu {
        padding: 0;
        border: 1px solid $primary_lightSky;
        width: 100%;

        &.show {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          transform: translate3d(0, var(--height), 0)!important;
          border-top-color: transparent;
        }
      }

      & .dropdown-menu.inner {
        padding: .5rem .25rem;
        border: 0;

        & .dropdown-item {
          border-radius: $border-radius-sm;
          font-weight: 300;
          padding: .5rem 1rem;
          white-space: initial;

          &:active {
            background-color: transparent;
          }

          & .bs-ok-default {
            top: 50%;
            transform: translateY(-50%);

            &::after {
              border: 0;
              background: escape-svg($check-icon) center no-repeat;
              background-size: 1rem;
              transform-style: initial;
              transform: none;
              width: 1rem;
              height: 1rem;
            }
          }

          &.selected {
            background-color: #ddedf2;

          }
        }
      }

      &.bootstrap-select {
        &.dropup {

          & .dropdown-toggle {
            &.show {
              border-bottom-right-radius: .5rem;
              border-bottom-left-radius: .5rem;
              border-top-right-radius: 0;
              border-top-left-radius: 0;
              border-top-color: transparent;
            }
          }

          & > .dropdown-menu {
            &.show {
              border-top-right-radius: .5rem;
              border-top-left-radius: .5rem;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              border-bottom-color: transparent;
              border-top-color: $primary_lightSky;
              transform: translate3d(0, calc(var(--height) * -1), 0)!important;
            }
          }
        }
      }
    }

    & [class*="form-item-title"] {
      position: relative;
      align-self: flex-end;
      // flex: 1;
      --icon: 1.5rem;
      --iconXend: 1rem;
      --spacing: .5rem;
      margin: 0;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: var(--iconXend);
        transform: translateY(-50%);
        background: escape-svg($search-icon-secondary) center no-repeat;
        background-size: var(--icon);
        width: var(--icon);
        height: var(--icon);
        display: block;
      }

      & > label {
        display: none;
      }

      & > .form-element,
      & > .form-control {
        font-size: $font-size-sm;
        line-height: 1.5rem;
        padding: .75rem calc(var(--icon) + var(--iconXend) + var(--spacing)) .75rem 1rem;
        border-color: $primary_lightSky;
        border-radius: .5rem;
        box-shadow: none;
        color: $primary_mediumGrey;
        width: 100%;
        margin-top: 0;
      }
    }
  }

  // hide list map filters
  &.view-display-id-list_map {
    & .view-filters {
      display: none;
    }
  }
}
