/*
/* Credit Card View
 */

.view-credit-cards {
  &.view-display-id-credit_card_pv_pe {
    & .tab-pane + .tab-pane {
      @include media-breakpoint-down(down) {
        margin-top: 4.5rem;
      }
    }
  }
}
