/* FAQS View
 */

.view-faqs {
  & .product-service-view-content {
    @include media-breakpoint-up(md) {
      --st-gutter-x: 3.75rem;
    }
  }

  & .product-service-title {
    & .field--name-field-media-image {
      & svg {
        display: block;
        width: 2.5rem;
        height: 2.5rem;

        & path {
          fill: $secondaryAccesible_darkerSky;
        }
      }
    }
  }

  & .product-service-term-item {
    min-width: 9.3125rem;
    width: fit-content;
    padding: .375rem 1rem;
    border: 1px solid $primary_darkSky;
    border-radius: .375rem;

    & .field--name-field-media-image {
      & svg {
        display: block;
        width: 2rem;
        height: 2rem;

        & path {
          fill: $secondaryAccesible_darkerSky;
        }
      }
    }
  }

  & .faqs-list {
    & .faq-description {

      @include media-breakpoint-down(md) {
        color: $primary_mediumGrey;
      }

      & p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
