/* Map View
 * general styles
 */

.kdb-map-view {

  & .kdb-map-view-content {
    & > div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  & .map-view-map-elem {
    & .view-content.row {
      margin: 0;
      display: block;

      & .geofield-map-wrapper {
        max-width: initial;
        width: initial;
      }
    }
  }

  & .kdb-map-view-tabs {
    & .nav-tabs {
      border: 1px solid $primary_lightSky!important;
    }

    & .nav-item {
      & + .nav-item {
        border-left: 1px solid $primary_lightSky;
      }
    }

    & .nav-link {
      padding: .75rem 1rem;

      & .icon {
        width: 1.5rem;
        height: 1.5rem;
        color: $secondaryAccesible_darkTurquoise;
      }

      &.active {
        background-color: $secondaryAccesible_darkTurquoise;
        & .icon {
          color: $white;
        }
      }
    }
  }
}
