/* Point of Attention Views
 * attachments
 * view row
 */

.point-of-attention-map-view {

  & .segments-list-selectables {
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 2.5rem;
    }
  }

  &.view-display-id-point_of_attention_page {
    & .view-footer {
      margin-top: 4rem;

      @include media-breakpoint-up(md) {
        margin-top: 4.5rem;
      }
    }
  }
}
