/* Product Services View
 * Cards Button
 * List Item
 */

.view-products-and-services {
  & .dropdown-product-services {
    --toggleHeight: 3.75rem;

    & .dropdown-toggle {
      padding: 1rem;
      border: 1px solid $primary_lightSky;
      background-color: $white;
      color: $secondaryAccesible_darkerSky;
      height: var(--toggleHeight);

      &.show {
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
      }

      & > span {
        font-weight: bold;
        color: $secondaryAccesible_darkTurquoise;
        padding-left: .75rem;

        &::before {
          content: '';
          background-color: $secondaryAccesible_darkTurquoise;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: .25rem;
          height: 1.5rem;
          opacity: 1;
        }
      }

      &::before {
        display: none;
      }

      &::after {
        border: 0;
        background-image: escape-svg($dropdown-toggle-icon-thin);
        background-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: auto;
        transition: all .3s;
      }

      &[aria-expanded="true"]::after {
        transform: rotate(-180deg);
      }

      &:not([data-bs-toggle="dropdown"])::after {
        display: none;
      }
    }

    & .dropdown-menu {
      border-radius: .625rem;
      gap: .5rem;
      padding: .5rem .25rem;

      @include media-breakpoint-down(md) {
        border-width: 0 1px 1px!important;
        border-style: solid!important;
        border-color: $primary_lightSky!important;

        &.show {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          transform: translate3d(0, var(--toggleHeight), 0)!important;
        }
      }

      @include media-breakpoint-up(md) {
        padding: 1.25rem .5rem;
        position: initial !important;
        transform: initial !important;
      }

      @include media-breakpoint-up(lg) {
        padding: 1.25rem;
      }

      & .dropdown-item {
        padding: .5rem 1rem;

        @include media-breakpoint-up(md) {
          padding: .25rem 0 .25rem 0.75rem;
        }

        &::before {
          content: '';
          background-color: $secondaryAccesible_darkerSky;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: .25rem;
          height: 1.5rem;
          opacity: 0;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $tints_turquoise10;
          color: $body-color;
        }

        &.active {
          font-weight: bold!important;
          background-color: transparent;
          color: $secondaryAccesible_darkerSky;

          @include media-breakpoint-down(md) {
            display: none;
          }

          &::before {
            opacity: 1;
          }
        }
      }

      @include media-breakpoint-up(md) {
        display: block;
        position: initial;
      }
    }
  }
}
