/*
 * List Decimal
*/
.decimal{
    ul{
        padding-left: 10px;
        counter-reset: my-counter;
        li{
            position: relative;
            &:before{
                content: "";
                top: 0;
                left: 0;
                width: auto;
                height: auto;
                font-weight: bold;
                position: absolute;
                content: counter(my-counter) ". ";
                counter-increment: my-counter;
            }
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    &.text-md{
        ul{
            li{
                padding-left: 20px;
                &:not(:last-child) {
                  margin-bottom: 16px;
                }
            }
        }
    }
    &.text-sm{
        ul{
            li{
                padding-left: 15px;
                &:not(:last-child) {
                  margin-bottom: 10px;
                }
            }
        }
    }
}
