/*
 * List Icons
 * icon and content
 * used in infowindow and tooltips
 */


.list-icons {

  & li {
    display: flex;
    gap: 0 .75rem;

    & .list-icon-item-content {
      gap: 0 .75rem;
    }

    & .field--name-field-media-image > svg,
    & .icon {
      color: $primary;
      width: 1.5rem;
      height: 1.5rem;
      flex: 0 0 1.5rem;
    }
  }

  &.list-icons-sm {
    @include media-breakpoint-down(md) {
      gap: .625rem!important;
    }

    & li {
      gap: 0 .375rem;
      font-size: $font-size-sm;
      line-height: $line-height-sm;

      @include media-breakpoint-up(md) {
        gap: 0 .75rem;
        font-size: $font-size-base;
        line-height: $line-height-base;
      }

      & .icon {
        width: 1.125rem;
        height: 1.125rem;
        flex: 0 0 1.125rem;

        @include media-breakpoint-up(md) {
          width: 1.5rem;
          height: 1.5rem;
          flex: 0 0 1.5rem;
        }
      }
    }
  }
}
