/*
 * List Buttons Cards
 * icon and content
 */


.list-button-cards {
  --st-gutter-x: 1rem;
  --st-gutter-y: 1rem;

  @include media-breakpoint-up(md) {
    --st-gutter-x: 2.1875rem;
    --st-gutter-y: 1.25rem;
  }

  & .list-button-cards-item {
    border-radius: .5rem;

    @include media-breakpoint-down(md) {
      border: 1px solid $primary_lightSky;
    }

    &:hover,
    &:focus {
      & .icon {
        transform: translateX(.75rem);
      }
    }

    & .list-button-cards-title {
      @include media-breakpoint-down(md) {
        font-weight: normal!important;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
      }
    }

    & .list-button-cards-item-icon {
      flex: 0 0 3rem;

      @include media-breakpoint-up(md) {
        flex: 0 0 2.25rem;
      }

      & svg {
        width: 3rem;
        height: 3rem;

        @include media-breakpoint-up(md) {
          width: 2.25rem;
          height: 2.25rem;
        }
      }
    }

    & .icon {
      color: $secondaryAccesible_darkerSky;
      transition: all .25s;
      flex: 0 0 2rem;
      width: 2rem;
      height: 2rem;
    }
  }
}
