/* List maps
 */

.list-map {
  border-radius: .3125rem;
  background-color: $tints_sky30;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 29.75rem; // 476px
  min-height: 29.75rem; // 476px
  padding: 1rem .5rem;
  gap: 1rem;
  position: relative;

  @include scrollbars;

  @include media-breakpoint-up(md) {
    max-height: 39rem; // 624px
    padding: .5rem;
    gap: .5rem;
  }
}
