/*
 * List Square
*/
.square{
    ul{
        padding-left: 10px;
        li{
            position: relative;
            &:before{
                content: "";
                left: 0;
                border-radius: 0;
                position: absolute;
                background-color: $primary;
            }
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    &.text-md{
        ul{
            li{
                padding-left: 20px;
                &:not(:last-child) {
                  margin-bottom: 16px;
                }
                &:before{
                    top: 8px;
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
    &.text-sm{
        ul{
            li{
                padding-left: 15px;
                &:not(:last-child) {
                  margin-bottom: 10px;
                }

                &:before{
                    top: 6px;
                    width: 6px;
                    height: 6px;
                }
            }
        }
    }
}
