/*
 * List Tic
*/
.tic{
    ul{
        padding-left: 15px;
        li{
            position: relative;
            &:before{
                content: "";
                top: 0;
                margin: auto;
                position: absolute;

                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.0013 6.2299L10.1893 16.7659L5.86035 12.3069C5.66835 12.1089 5.35135 12.1039 5.15335 12.2939C4.95435 12.4849 4.94835 12.8019 5.13935 13.0009L9.90935 17.9169C10.0043 18.0159 10.1343 18.0699 10.2693 18.0699C10.2863 18.0699 10.3023 18.0689 10.3193 18.0669C10.4713 18.0529 10.6083 17.9689 10.6913 17.8399L18.8443 6.7689C18.9933 6.5359 18.9243 6.2269 18.6923 6.0779C18.4593 5.9319 18.1503 5.9959 18.0013 6.2299Z' fill='%23#{$primary-string}'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    &.text-md{
        ul{
            li{
                padding-left: 20px;
                &:not(:last-child) {
                  margin-bottom: 16px;
                }
                &:before{
                    left: -10px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    &.text-sm{
        ul{
            li{
                padding-left: 15px;

                &:not(:last-child) {
                  margin-bottom: 10px;
                }
                &:before{
                    left: -10px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

