{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'homepage-hero swipe-hero full-width position-relative overflow-hidden d-flex flex-column-reverse',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }} style="min-height: 100dvh;">
    {% block content %}
      {% if paragraph.field_homepage_hero_banner is not empty %}
        {% set loopIndex = 0 %}
        {% set bg_start = null %}
        {% for key, item in content.field_homepage_hero_banner %}
          {% if key|first != '#' %}
            {% set bg_color = '' %}
            {% set bg_color_raw = item['#paragraph'].field_background_color.value %}

            {% if loopIndex == 0 %}
              {% set bg_start = bg_color_raw %}
            {% endif %}

            {% if bg_color_raw %}
              {% set bg_color = 'bg-' ~ bg_color_raw | replace({'_': '-'}) %}
            {% endif %}

            <div class="swipe-hero-item d-flex py-md-13 position-absolute w-100 h-100{{ loopIndex > 0 ? ' x-100' }}{{ bg_color ? ' ' ~ bg_color : ' bg-white'}}">
              <div class="swipe-hero-item-outer d-flex flex-grow-1">
                <div class="swipe-hero-item-inner d-flex flex-grow-1">
                  {{ item }}
                </div>
              </div>
            </div>
            {% set loopIndex = loopIndex + 1 %}
          {% endif %}
        {% endfor %}

        <div class="{{ container }} swipe-hero-pagination mb-md-11 d-md-block d-none" style="{{ bg_start in ['blue', 'indigo'] ? '--bg-color: #fff; --color: #fff'}}">
          <ul class="d-flex gap-3">
            {% for key, item in content.field_homepage_hero_banner %}
              {% if key|first != '#' %}
                <li class="text-lg d-flex flex-column position-relative swipe-hero-pagination-item">
                  <div class="swipe-hero-pagination-item-bar"></div>
                  {{ item['#paragraph'].field_suptitle.value }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
