{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set view = paragraph.paragraph_view_mode.value %}

{% set hasImage = paragraph.field_media_image is not empty %}
{% set hasLottie = paragraph.field_lottie is not empty %}
{% set hasTitle = paragraph.field_title is not empty %}
{% set hasSlideName = paragraph.field_suptitle is not empty %}
{% set hasDescription = paragraph.field_description is not empty %}
{% set hasButtons = paragraph.field_button_group is not empty %}

{% set image_side = paragraph.field_image_position.value %}
{% set bg_color = content.field_background_color['#items'].getString() | replace({'_': '-'}) %}
{% set text_white = bg_color in ['blue', 'indigo'] ? ' text-white ' : null %}

{%
  set classes = [
    'paragraph',
    'swipe-hero-inner-item d-flex align-items-center flex-grow-1',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}
  <article{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="{{ container }}">
        <div class="row justify-content-between align-items-center">
          {% if hasImage or hasLottie %}
            <figure class="col-md-5{{ image_side == 'right' ? ' order-md-1' : '' }} swipe-hero-item-media d-flex align-items-start justify-content-center justify-content-md-end">
              {% if hasImage %}
                <div class="rounded-2 overflow-hidden swipe-hero-item-image mx-md-0">
                  {{ content.field_media_image }}
                </div>
              {% endif %}
              {% if hasLottie %}
                <div class="swipe-hero-item-lottie">
                  {{ content.field_lottie }}
                </div>
              {% endif %}
            </figure>
          {% endif %}
          <div class="col-md-6 pt-5.5 pt-md-0">
            {% if hasTitle or hasDescription or hasButtons %}
              <div class="d-flex flex-column gap-5.5">
                {% if hasTitle or hasDescription %}
                  <div class="swipe-hero-content d-flex flex-column gap-3">
                    <div class="overflow-hidden">
                      <h1 class="h2 swipe-hero-heading{{ text_white ? '' ~ text_white : ' text-primary'}}" style="opacity: 0;">
                        {% include "@kadabra_theme/paragraph/includes/title-html.html.twig" %}
                      </h1>
                    </div>
                    <div class="overflow-hidden">
                      <div class="text-lg swipe-hero-copy{{ text_white }}" style="opacity: 0;">
                        {{ content.field_description }}
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if paragraph.field_button_group is not empty %}
                  <div class="swipe-hero-cta mt-md-4 d-flex justify-content-center justify-content-md-start">
                    {{ content.field_button_group }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
  </article>
{% endblock paragraph %}
