/* Cards Rounded
 *
 */

 .card-rounded {

  & .card-img {
    z-index: 2;
  }

  & .card-logo-wrapper {
    max-width: 4.5rem;
  }

  & .card-logo {
    box-shadow: inset 0 0 0 1px $primary_lightSky;
  }
}
