/* KDB Card Tag Styles
 *
 * Card Tag generic styles (Project Types term)
------------------------------------------------- */

.card-tag {
  padding: .125rem .5rem;
  border-radius: 1.25rem;

  & a {
    color: inherit;
  }
}
