/* KDB Flip Card styles
 *
 * Collapsing (animations)
 * Flip card button
 * Flip card perspective
 * Flip card inner
 * Flip card image
 * Flip card sides (Front | Back)
------------------------------------------------- */


.flip-card-item {

  & .collapsing {
    transition: none;
  }

  & .collapse {
    display: block;

    &:not(.show) {
      display: block;
      opacity: 1;
    }

    &.show,
    &.collapsing {

      @include media-breakpoint-down(md) {
        & .flip-card-inner {
          transform: rotateY(180deg);
          transition: transform .5s ease-in;
        }
      }
    }
  }

  & .flip-card-button {
    display: block;
    width: 100%;
    height: 100%;
  }

  & .flip-card {
    perspective: 1000px;
    display: grid;
    grid-template-areas: 'main';
    min-height: 300px;

    &:hover {
      & .flip-card-image {
        & img {
          transform: scale(1.075);
        }
      }
    }
  }

  & .flip-card-inner {
    transform-style: preserve-3d;
    transition: transform .35s ease-out;
    grid-area: main;
    display: grid;
    position: relative;
    z-index: 1;
    grid-template-areas: 'inner';

    @include media-breakpoint-up(md) {
      &:is(:hover,:focus-within) {
        transform: rotateY(180deg);
        transition: transform .5s ease-in;
      }
    }
  }

  & .flip-card-image {
    grid-area: card;
    position: relative;

    & .field--name-field-media-image {
      & .contextual-region {
        position: initial;
      }

      & img {
        transform: scale(1);
        transition: transform .25s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      z-index: 1;
      transition: all 0.5s;
    }
  }

  & :is(.flip-card-back, .flip-card-front) {
    backface-visibility: hidden;
    grid-area: inner;
    display: grid;
    grid-template-areas: 'card';
  }

  & .flip-card-front {
    transform: rotateY(0deg);
    align-self: flex-end;

    & .flip-card-item-title {
      grid-area: card;
      position: relative;
      align-self: flex-end;
      z-index: 1;
    }
  }

  & .flip-card-back {
    transform: rotateY(180deg);
    & .flip-card-description {
      background-color: rgba($indigo, .85);
      color: $white;
      z-index: 2;
      grid-area: card;
    }
  }
}
