/* KDB Testimonial Card Styles
 *
 * Testimonial Card generic styles
------------------------------------------------- */

.testimonial-card {
  & .testimonial-card-quote {
    font-size: $h5-font-size-mobile;
    line-height: $h5-lh-mobile;
  }

  & .testimonial-card-photo {
    & img {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      margin: auto;
    }
  }

  & .testimonial-card-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background-color: $gray-extra-light;
  }

  & .testimonial-card-logo {
    & img {
      width: 110px;
      max-width: 100%;
      max-height: 32px;
      object-fit: contain;
      object-position: center;
    }
  }
}
