{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  <nav role="navigation" aria-label="breadcrumb">
    <ul class="breadcrumb m-0">
      {% for item in breadcrumb %}
        {% if item.url %}
          <li class="breadcrumb-item">
            <a href="{{ item.url }}" class="text-decoration-underline">
              {{ item.text }}
            </a>
          </li>
        {% else %}
          <li class="breadcrumb-item active">
            {{ item.text }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
