{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0, parent) }}

{% macro menu_links(items, attributes, menu_level, parent = '') %}

  {% set firstLevelTitle = '' %}
  {# Dropdown Classes for level 0 #}
  {% if menu_level == 0 %}
    <ul{{ attributes.addClass('nav navbar-nav navbar-nav-main d-flex flex-column gap-5.5 flex-lg-row gap-lg-0 menu menu-level-' ~ items | first.menu_level).removeClass('clearfix')|without('id') }}>
      {% for key, item in items %}
        {% if key|first != '#' %}
          {% set menu_item_classes = [
              'menu-item',
              'nav-item',
              item.is_expanded ? 'menu-item--expanded',
              item.is_collapsed ? 'menu-item--collapsed',
              item.in_active_trail ? 'active menu-item--active-trail',
              item.below ? 'dropdown',
            ]
          %}

          {% set firstLevelTitle = item.title | trim | lower | replace({' ': '-'}) %}
          <li{{item.attributes.addClass(menu_item_classes)}}>

            {%
              set link_classes = [
                'fw-medium text-primary d-flex align-items-center justify-content-between menu-link',
                not menu_level ? 'nav-link',
                item.in_active_trail ? 'active',
                item.below ? 'dropdown-toggle',
                item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(' '),
                'nav-link-' ~ item.url.toString() | clean_class,
              ]
            %}
            {% if item.below %}

              {# TODO get fields #}
              {% set image = item.content.field_media_image | render %}
              {% set menu_icon = item.content.field_menu_icon | render %}
              {% set menu_text = item.content.field_menu_text | render %}
              {% set highlighted = item.content.field_featured | render %}
              {% set view_mode = item.content['#view_mode'] %}
              {% set isImage = view_mode == 'default' %}
              {% set isHighlighted = view_mode == 'menu_highlighted' %}
              {% set isText = view_mode == 'menu_text' %}
              {% set left_col_class = isHighlighted ? 'col-lg-6' : 'col-lg-5 d-none d-lg-block' %}
              {% set right_col_class = isHighlighted ? 'col-lg-5' : 'col-lg-6' %}

              {{ link(item.title, item.url, {'class': link_classes, 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', 'aria-haspopup': 'true'}) }}
              <div class="navbar-nav-megamenu{{ ' navbar-nav-megamenu-' ~ view_mode | replace({'_': '-'}) ~ ' ' }}dropdown-menu border-0 m-0 rounded-0 pt-3 pb-0 py-lg-9.5 shadow-none shadow-lg-3">
                <div class="container-xl px-0 px-lg-3">
                  <div class="row justify-content-between{{ isHighlighted ? ' gx-lg-9.5'}}">
                    {% if isImage and image or isText and menu_text or isHighlighted %}
                      <div class="{{ left_col_class }}">
                        {% if isImage and image %}
                          {{ image }}
                        {% endif %}
                        {% if isText and menu_text %}
                          {{ menu_text }}
                        {% endif %}
                        {% if isHighlighted %}
                          <div class="accordion-wrapper flex-grow-1">
                            {{ menu.menu_links(item.below, attributes, menu_level + 1, firstLevelTitle) }}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                    {% if isHighlighted and highlighted %}
                      <div class="vr px-0 bg-light-300 opacity-100 d-none d-lg-block"></div>
                      <div class="hr border-top border-light-300 opacity-100 d-block d-lg-none my-3"></div>
                    {% endif %}
                    {% if isImage or isText or isHighlighted and highlighted %}
                      <div class="{{ right_col_class }} d-flex flex-column gap-5.5">
                        {% if isImage and menu_text %}
                          <div class="d-none d-lg-block">
                            {{ menu_text }}
                          </div>
                        {% endif %}
                        {% if isImage or isText %}
                          <div class="accordion-wrapper flex-grow-1">
                            {{ menu.menu_links(item.below, attributes, menu_level + 1, firstLevelTitle) }}
                          </div>
                        {% endif %}
                        {% if highlighted and isHighlighted %}
                          {{ highlighted }}
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% else %}
              {{ link(item.title, item.url, {'class': link_classes}) }}
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
  {# Megamenu Content and Accordion and read fields for menu level 1  #}
  {% elseif menu_level == 1 %}
    {% set hasDescription = null %}
    {% for key, item in items | filter((_, key) => key|first != '#' and not hasDescription) %}
      {% set link_description = item.content.field_link_description | render %}
      {% if link_description %}
        {% set hasDescription = true %}
      {% endif %}
    {% endfor %}

    <ul class="{{ 'menu menu-level-' ~ items | first.menu_level }} accordion accordion-main-menu js-accordion-main-menu{{ hasDescription ? ' with-description'}}" id="menu-accordion-{{ parent }}">
      {% for key, item in items %}
        {% if key|first != '#' %}
          {% set title = item.title | trim | lower | replace({' ': '-'}) %}
          {% set icon = item.content.field_menu_icon | render %}
          {% set icon_material = item.content.field_material_icon | render %}
          {% set link_description = item.content.field_link_description | render %}

          {% set menu_item_classes = [
              'menu-item',
              'p-0',
              item.is_expanded ? 'menu-item--expanded',
              item.is_collapsed ? 'menu-item--collapsed',
              item.in_active_trail ? 'active menu-item--active-trail',
            ]
          %}

          {% if item.below %}
          <li class="accordion-item menu-item bg-transparent rounded-0 border-0 py-0 mx-0">
            <div class="nav-link-wrapper gap-1 align-items-center d-none d-lg-flex">
              {% if icon or icon_material %}
                <span class="icon d-none d-lg-block">
                  {% if icon %}
                    {{ icon }}
                  {% elseif icon_material %}
                    {{ icon_material }}
                  {% endif %}
                </span>
              {% endif %}
              {{ link(item.title, item.url, {'class': 'btn-link btn-sm btn-link-tertiary menu-link' }) }}
            </div>
            <h4 class="accordion-header mb-lg-2 font-base d-block d-lg-none">
              <button class="accordion-button p-0 bg-transparent shadow-none collapsed d-flex gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{title}}-{{parent}}" aria-expanded="false" aria-controls="collapse-{{title}}-{{parent}}">
                {# {% if icon or icon_material %}
                  <span class="icon d-none d-lg-block">
                    {% if icon %}
                      {{ icon }}
                    {% elseif icon_material %}
                      {{ icon_material }}
                    {% endif %}
                  </span>
                {% endif %} #}
                <span class="btn-link btn-sm btn-link-tertiary menu-link">
                  {{ item.title }}
                </span>
              </button>
            </h4>
            <div id="collapse-{{title}}-{{parent}}" class="accordion-collapse collapse" data-bs-parent="#menu-accordion-{{ parent }}">
              <div class="accordion-body px-0 pb-0 pt-2">
                {% if item.below %}
                  {{ menu.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
              </div>
            </div>
          </li>
          {% else %}
            <li{{item.attributes.addClass(menu_item_classes).addClass('d-flex flex-column gap-2')}}>
              <div class="nav-link-wrapper d-flex gap-1 align-items-center">
                {% if icon or icon_material %}
                  <span class="icon d-none d-lg-block">
                    {% if icon %}
                      {{ icon }}
                    {% elseif icon_material %}
                      {{ icon_material }}
                    {% endif %}
                  </span>
                {% endif %}
                {{ link(item.title, item.url, {'class': 'btn-link btn-sm btn-link-tertiary menu-link' }) }}
              </div>
              {% if link_description %}
                {% set hasDescription = true %}
                <div class="text-xs d-none d-lg-block">
                  {{ link_description }}
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  {# Common menu links for level 3 #}
  {% else %}
    <ul class="menu menu-level-{{ items | first.menu_level }}">
      {% for key, item in items %}
        {% if key|first != '#' %}
          {% set menu_item_classes = [
              'menu-item',
              'dropdown-item p-0',
              item.is_expanded ? 'menu-item--expanded',
              item.is_collapsed ? 'menu-item--collapsed',
              item.in_active_trail ? 'active menu-item--active-trail',
            ]
          %}
          <li{{item.attributes.addClass(menu_item_classes)}}>
            {%
              set link_classes = [
                'btn-link btn-sm btn-link-tertiary menu-link text-xs',
                not menu_level ? 'nav-link',
                item.in_active_trail ? 'active',
                item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(' '),
                'nav-link-' ~ item.url.toString() | clean_class,
              ]
            %}
            {% if item.below %}
              {{ link(item.title, item.url, {'class': link_classes }) }}
              {{ menu.menu_links(item.below, attributes, menu_level + 1) }}
              {# {% set rendered_content = item.content|without('')|render %}
              {% if rendered_content %}
                {{ rendered_content }}
              {% endif %} #}
            {% else %}
              {{ link(item.title, item.url, {'class': link_classes}) }}
            {% endif %}

            </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
