{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('nav navbar-nav navbar-nav-secondary flex-row py-2 py-lg-0').removeClass('clearfix')|without('id') }}>
    {% else %}
      <ul class="dropdown-menu menu {{ 'menu-level-'~items|first.menu_level }}">
    {% endif %}
    {% for key, item in items %}
      {% if key|first != '#' %}
        {% set showMobile  = item.content.field_show_mobile | render | striptags | trim == '1' %}
        {% set showDesktop = item.content.field_show_desktop | render | striptags | trim == '1' %}
        {% set isHighlighted = item.content.field_highlighted | render | striptags | trim == '1' %}


        {% set menu_item_classes = [
          menu_level ? 'dropdown-item' : 'nav-item menu-item',
          showMobile ? 'd-block' : 'd-none',
          showDesktop ? 'd-lg-block' : 'd-lg-none',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'active menu-item--active-trail',
          item.below ? 'dropdown',
        ] %}

        <li{{item.attributes.addClass(menu_item_classes)}}>
          {%
            set link_classes = [
              not menu_level ? 'nav-link',
              item.in_active_trail ? 'active',
              item.below ? 'dropdown-toggle',
              isHighlighted ? 'text-primary',
              item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(' '),
              'nav-link-' ~ item.url.toString() | clean_class,
            ]
          %}
          {% if item.below %}
            {{ link(item.title, item.url, {'class': link_classes, 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', 'aria-haspopup': 'true' }) }}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% else %}
            {{ link(item.title, item.url, {'class': link_classes}) }}
          {% endif %}

          {% set rendered_content = item.content|without('field_show_mobile', 'field_show_desktop', 'field_highlighted')|render %}
          {% if rendered_content %}
            {{ rendered_content }}
          {% endif %}

        </li>
      {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}
