/*
 * Table
*/
table{
    overflow: hidden;
    border-radius: 5px;
    border-spacing: 0;
    border-collapse: separate;
    border: .50px solid $primary_mediumSky;
    &.responsive-table{
        width: 100%;
        display: block;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    thead, tbody{
        tr{
            width: 100%;
            height: 64px;
            &:last-child{
                td{
                    border: none;
                }
            }
            th, td{
                padding: 5px 25px;
                color: $dark;
                border: none;
                border-bottom: .50px solid $primary_mediumSky;
            }
            th {
                font-size: $font-size-base;
                line-height: 1.5;
                background-color: $secondary_lighterSky;
            }
            td {
                font-size: $font-size-sm;
                line-height: 1.428;
                background-color: $primary_white;
            }
        }
    }
}

//responsive-table
.responsive-table::-webkit-scrollbar{
    height: 5px;
}
.responsive-table::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: $primary_mediumSky;

}
.responsive-table::-webkit-scrollbar-thumb:hover{
    background-color:$primary_darkSky;
}
