/*
 * Table Collapse
 *
 */

.table-collapsable {
  border: 1px solid $primary_mediumSky;

  & tr {
    height: auto;
  }

  & td,
  & th {
    padding: 1.25rem 1rem;

    @include media-breakpoint-up(md) {
      padding: 1.25rem 1.5rem;
    }
  }

  & thead {
    & th {
      font-family: $headings-font-family;
      font-size: $h6-font-size;
      line-height: $h6-lh;
      font-weight: normal;
      background-color: $secondary_lighterSky;

      @include media-breakpoint-down(md) {
        font-family: $font-family-base;
        font-size: $font-size-base;
        line-height: $line-height-base;

        &:not(:first-child) {
          display: none;
        }
      }
    }
  }

  & tbody {
    & tr {
      background-color: transparent;
      @include media-breakpoint-down(md) {
        & + tr {
          & td:first-child {
            border-top: 1px solid $primary_mediumSky;
          }
        }
      }

      &:hover {
        background-color: transparent;

        & > * {
          background-color: transparent;
        }
      }
    }

    & td {
      line-height: $line-height-base;
      font-size: 1rem;
      box-shadow: none;
      vertical-align: middle;

      @include media-breakpoint-down(md) {
        display: block;
        border: 0;
        font-size: $font-size-sm;
        line-height: $line-height-sm;

        &:first-child {
          padding-bottom: 0;
          margin-bottom: .25rem;
        }

        &:last-child {
          padding-top: 0;
          margin-top: .5rem;
        }

        &:not(:first-child):not(:last-child) {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &.views-field-title {
        font-weight: 700;
      }

      &.views-field-view-node {
        & .link__primary {
          @include media-breakpoint-down(md) {
            &::after {
              width: 1.25rem;
              height: 1.25rem;
              background-size: 1.25rem;
            }
          }
        }

        @include media-breakpoint-up(md) {
          white-space: nowrap;
          text-align: right;
        }
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}

