/* KDB button general styles
 *
 * Button sizes
 * variants: solid | outline | lg | normal
 * btn icon left | right
 * hover | focus state
 * disabled state
------------------------------------------------- */

.btn {
  position: relative;

  & .field--name-field-icon {
    flex: 0 0 1.25rem;

    & img,
    & svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  & .field--name-field-material-icon {
    flex: 0 0 1.125rem;
    & [class^="material-symbols"] {
      font-size: 1.125rem;
      display: block;
    }
  }

  &.btn-lg {
    line-height: $input-btn-line-height-lg;

    & .field--name-field-material-icon {
      flex: 0 0 1.25rem;
      & [class^="material-symbols"] {
        font-size: 1.225rem;
      }
    }

    & .field--name-field-icon {
      flex: 0 0 1.25rem;

      & img,
      & svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  & span {
    z-index: 1;
    position: relative;
    // transition: all .4s;
  }

  & .field--name-field-icon {
    flex: 0 0 1.5rem;
    transition: all .4s;
    position: relative;
    z-index: 1;

    & .contextual {
      display: none;
    }

    & .field--name-field-media-image {
      margin: 0;
    }

    & img,
    & svg {
      width: 1.5rem;
      height: 1.5rem;
      display: block;
    }

    & svg {
      path {
        fill: currentColor;
      }
    }
  }

  &.btn-with-icon-left:not(.btn-only-icon):not(.btn-tertiary) {
    padding-left: 1rem;

    &.btn-sm {
      padding-left: .875rem;
    }
  }

  &.btn-with-icon-right:not(.btn-only-icon):not(.btn-tertiary) {
    padding-right: 1rem;

    &.btn-sm {
      padding-right: .875rem;
    }
  }

  &.btn-with-icon-right {
    &:hover,
    &:focus {
      & .field--name-field-icon {
        transform: translateX(.75rem);
      }
    }
  }

  &[class*="-outline"] {
    &:hover,
    &:active {
      background-color: transparent;
    }
  }

  &:focus,
  &:active,
  &:active:focus-visible,
  &:first-child:active:focus-visible,
  &:focus-visible {
    box-shadow: inset 0 0 0 3px $green;
  }

  &.btn-sm {
    &:is(:focus,:active,:active:focus-visible, :first-child:active:focus-visible) {
      box-shadow: inset 0 0 0 2px $green;
    }
  }

  &.disabled,
  &:disabled {
    color: $white;
    background-color: $gray-light;
    pointer-events: none;
    opacity: 1;
  }
}

.button-group {
  gap: 1rem;

  // Mobile full width and vertical
  @include media-breakpoint-down(md) {
    flex-direction: column;
    flex: 1;

    & > .field__item {
      flex: 1 0 100%;
      width: 100%;

      & .btn {
        display: flex!important;
      }

      & .paragraph--type--button-link {
        display: flex;
        justify-content: center;
      }
    }
  }
}
