
/* KDB button link general styles
 *
 * Button Link sizes
 * variants: solid | outline | lg | normal
 * btn link icon left | right
 * hover | focus state
 * disabled state
------------------------------------------------- */

.btn-link {
  position: relative;
  gap: .3125rem;
  line-height: $line-height-base;
  text-decoration: none;
  padding-bottom: .3125rem;
  transition: all .25s;
  font-weight: 500;

  & .field--name-field-icon {
    flex: 0 0 1.25rem;

    & img,
    & svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  & .field--name-field-material-icon {
    & [class^="material-symbols"] {
      font-size: 1.125rem;
      display: block;
      line-height: 1;
    }
  }

  &.btn-sm {
    font-size: $font-size-sm;

    & .field--name-field-material-icon {
      flex: 0 0 1.125rem;
      & [class^="material-symbols"] {
        font-size: 1.125rem;
      }
    }

    & .field--name-field-icon {
      flex: 0 0 1.125rem;

      & img,
      & svg {
        width: 1.125rem;
        height: 1.125rem;
      }
    }
  }

  &.btn-md {
    font-size: $font-size-base;

    & .field--name-field-material-icon {
      flex: 0 0 1.25rem;
      & [class^="material-symbols"] {
        font-size: 1.25rem;
      }
    }

    & .field--name-field-icon {
      flex: 0 0 1.25rem;

      & img,
      & svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  &.btn-lg {
    font-size: $font-size-lg;

    & .field--name-field-material-icon {
      flex: 0 0 1.5rem;
      & [class^="material-symbols"] {
        font-size: 1.5rem;
      }
    }

    & .field--name-field-icon {
      flex: 0 0 1.5rem;

      & img,
      & svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  & > span {
    z-index: 1;
    position: relative;
    transition: all .4s;
  }

  & .field--name-field-icon {
    flex: 0 0 1.5rem;
    transition: all .4s;
    position: relative;
    z-index: 1;

    & .contextual {
      display: none;
    }

    & .field--name-field-media-image {
      margin: 0;
    }

    & img,
    & svg {
      width: 1.5rem;
      height: 1.5rem;
      display: block;
    }

    & svg {
      path {
        fill: currentColor;
      }
    }
  }

  // &.btn-with-icon-left {
  //   &:hover {
  //     & > span {
  //       padding-left: 1rem;
  //     }
  //   }
  // }

  // &.btn-with-icon-right {
  //   &:hover {
  //     & > span {
  //       padding-right: 1rem;
  //     }
  //   }
  // }

  &.disabled,
  &:disabled {
    color: $gray-medium;
    box-shadow: inset 0 -1px 0px $gray-light;
    pointer-events: none;
    opacity: 1;
  }

  &:focus,
  &:active,
  &:active:focus-visible,
  &:first-child:active:focus-visible,
  &:focus-visible {
    box-shadow: inset 0 -2px 0 $green;
    outline: none;
  }
}
