/* KDB button tertiary styles
 *
 * variants: solid | outline
------------------------------------------------- */

.btn-tertiary {
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $blue-dark;
    color: $white;
  }

  &:focus,
  &:active,
  &:first-child:active,
  &:focus-visible {
    background-color: $blue;
    color: $white;
    box-shadow: inset 0 0 0 3px $green;
  }

  &.disabled {
    background-color: $gray-disabled;
    box-shadow: inset 0 0 0 3px $gray-light;
  }
}

.btn-outline-tertiary {
  box-shadow: inset 0 0 0 2px $blue;
  color: $blue;

  &:hover {
    box-shadow: inset 0 0 0 2px $blue-dark;
    color: $blue-dark;
  }

  &:first-child:active {
    color: $blue-dark;
  }

  &:focus,
  &:active,
  &:first-child:active,
  &:focus-visible {
    color: $blue-dark;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px $green;
  }

  &.disabled {
    box-shadow: inset 0 0 0 2px $gray-light;
    color: $gray-disabled;
    background-color: transparent;
  }
}
