/* KDB button primary styles
 *
 * variants: solid | outline
------------------------------------------------- */

.btn-primary {
  background-color: $indigo;
  color: $white;

  &:hover {
    background-color: $indigo-dark;
    color: $white;
  }

  &:focus,
  &:active,
  &:first-child:active,
  &:focus-visible {
    background-color: $indigo;
    color: $white;
  }

  &.disabled {
    background-color: $gray-disabled;
    box-shadow: inset 0 0 0 3px $gray-light;
  }
}

.btn-outline-primary {
  box-shadow: inset 0 0 0 2px $indigo;
  color: $indigo;

  &:hover {
    box-shadow: inset 0 0 0 2px $indigo-dark;
    color: $indigo-dark;
  }

  &:first-child:active {
    color: $indigo-dark;
  }

  &:focus-visible {
    background-color: transparent;
    color: $indigo;
  }

  &.disabled {
    box-shadow: inset 0 0 0 2px $gray-light;
    color: $gray-disabled;
    background-color: transparent;
  }
}
