/* KDB button secondary styles
 *
 * variants: solid | outline
------------------------------------------------- */

.btn-link-secondary {
  color: $gray-dark;
  box-shadow: inset 0 -1px 0px $gray-light;

  &:hover {
    box-shadow: inset 0 -1px 0px $gray-medium;
    color: $gray-dark;
  }

  &:focus-visible {
    color: $gray-dark;
  }
}
