/*
 * Header Button
*/

.btn-header {
  min-width: $btn-header-min-width; //106px
  padding-right: .625rem;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 400;
  box-shadow: none;
  padding-top: .375rem;
  padding-bottom: .375rem;
  min-height: 2.25rem;

  @include media-breakpoint-up(lg) {
    min-height: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 700;
  }

  & .icon {
    width: 1.25rem;
    height: 1.25rem;
    flex: 0 0 1.25rem;
    z-index: 1;
    transition: all .4s ease;
  }

  &:hover,
  &:focus {
    & .icon {
      transform: translateX(.625rem);
    }
  }

  &:before {
    background-color: $neutral_neutral10;
  }

  &.btn-header:active {
    background-color: $white;
    color: $primary_ruby;
    border-color: $white;
  }
}
