/*
 * Button Only Icon
*/

.btn-only-icon {
  --padding: .75rem;
  padding: var(--padding);
  min-width: initial;

  &.btn-secondary {
    padding: calc(var(--padding) - 1px);
  }

  &.btn-sm {
    min-width: initial;
    --padding: .5rem;
  }

  &.btn-with-icon-right {
    &:hover,
    &:focus {
      & .field--name-field-icon {
        transform: none;
      }
    }
  }
}

