/* KDB button secondary styles
 *
 * variants: solid | outline
------------------------------------------------- */

.btn-secondary {
  background-color: $white;
  color: $indigo;


  &:hover {
    color: $indigo;
    background-color: $gray-light;
  }

  &:focus,
  &:active,
  &:first-child:active,
  &:focus-visible {
    color: $indigo;
    background-color: $white;
  }

  &.disabled {
    background-color: $gray-light;
    box-shadow: inset 0 0 0 2px $gray-light;
    color: $gray-disabled;
  }
}

.btn-outline-secondary {
  box-shadow: inset 0 0 0 2px $white;
  color: $white;

  &:hover {
    box-shadow: inset 0 0 0 2px $gray-light;
    color: $gray-light;
  }

  &:focus,
  &:active,
  &:first-child:active,
  &:focus-visible {
    color: $white;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px $green;
  }

  &.disabled {
    box-shadow: inset 0 0 0 2px $gray-light;
    color: $gray-disabled;
    background-color: transparent;
  }
}

