/*
 * Close Button
 * used in modals, dropdowns
*/

.btn-close {
  &:focus-visible {
    box-shadow: none;
    outline: 2px solid $btn-ring-focus;
    outline-offset: 2px;
  }

  &:focus:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
  }
}
