/* KDB button tertiary styles
 *
 * variants: solid | outline
------------------------------------------------- */

.btn-link-tertiary {
  color: $blue;
  box-shadow: inset 0 -1px 0px $blue-medium;

  &:hover {
    box-shadow: inset 0 -1px 0px $blue;
    color: $blue;
  }

  &:focus-visible {
    color: $blue;
  }
}
