/* KDB button white styles
 *
 * variants: solid | outline
------------------------------------------------- */

.btn-link-white {
  color: $white;
  box-shadow: inset 0 -1px 0px rgba($gray-light, 50%);

  &:hover {
    box-shadow: inset 0 -1px 0px $white;
    color: $white;
  }

  &.disabled {
    color: $gray-light;
    box-shadow: inset 0 -1px 0px $gray-light;
  }

  &:focus-visible {
    color: $white;
  }
}
