/* KDB button link primary styles
 *
 * variants: solid | outline
------------------------------------------------- */

.btn-link-primary {
  color: $indigo;
  box-shadow: inset 0 -1px 0px $indigo-medium;

  &:hover {
    box-shadow: inset 0 -1px 0px $indigo;
    color: $indigo;
  }

  &:focus-visible {
    color: $indigo;
  }
}
