/*
 * Header Button Outline
*/

.btn-header-outline {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;

  &:hover,
  &:focus {
    background-color: $white;
    color: $primary;
    border-color: $white;
  }
}
