@import "../../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
    (
      "shadow": (
        property: box-shadow,
        class: shadow,
        responsive: true,
        values: (
          null: $box-shadow,
          1: $box-shadow-xs,
          2: $box-shadow-sm,
          3: $box-shadow-md,
          4: $box-shadow-lg,
          none: none,
        ),
      ),
      "line-height": (
        property: line-height,
        class: lh,
        values: (1: 1,
          xs: $line-height-xs,
          sm: $line-height-sm,
          base: $line-height-base,
          lg: $line-height-lg,
        )
      ),
      "border": map-merge(
        map-get($utilities, "border"),
        ( responsive: true ),
      ),
      "border-top": map-merge(
        map-get($utilities, "border-top"),
        ( responsive: true ),
      ),
      "border-end": map-merge(
        map-get($utilities, "border-end"),
        ( responsive: true ),
      ),
      "border-bottom": map-merge(
        map-get($utilities, "border-bottom"),
        ( responsive: true ),
      ),
      "border-start": map-merge(
        map-get($utilities, "border-start"),
        ( responsive: true ),
      ),
      "border-color": map-merge(
        map-get($utilities, "border-color"),
        ( responsive: true ),
      ),
      "rounded": (
        property: border-radius,
        class: rounded,
        responsive: true,
        values: (
          null: var(--#{$prefix}border-radius),
          0: 0,
          1: var(--#{$prefix}border-radius-sm),
          1\.5: $border-radius-sm-plus,
          2: var(--#{$prefix}border-radius),
          3: var(--#{$prefix}border-radius-lg),
          circle: 50%,
          pill: var(--#{$prefix}border-radius-pill)
        )
      ),
      "rounded-top": (
        property: border-top-left-radius border-top-right-radius,
        class: rounded-top,
        values: (
          null: var(--#{$prefix}border-radius),
          0: 0,
          1: var(--#{$prefix}border-radius-sm),
          2: var(--#{$prefix}border-radius),
          3: var(--#{$prefix}border-radius-lg),
          circle: 50%,
          pill: var(--#{$prefix}border-radius-pill)
        )
      ),
      "rounded-end": (
        property: border-top-right-radius border-bottom-right-radius,
        class: rounded-end,
        values: (
          null: var(--#{$prefix}border-radius),
          0: 0,
          1: var(--#{$prefix}border-radius-sm),
          2: var(--#{$prefix}border-radius),
          3: var(--#{$prefix}border-radius-lg),
          circle: 50%,
          pill: var(--#{$prefix}border-radius-pill)
        )
      ),
      "rounded-bottom": (
        property: border-bottom-right-radius border-bottom-left-radius,
        class: rounded-bottom,
        values: (
          null: var(--#{$prefix}border-radius),
          0: 0,
          1: var(--#{$prefix}border-radius-sm),
          2: var(--#{$prefix}border-radius),
          3: var(--#{$prefix}border-radius-lg),
          circle: 50%,
          pill: var(--#{$prefix}border-radius-pill)
        )
      ),
      "rounded-start": (
        property: border-bottom-left-radius border-top-left-radius,
        class: rounded-start,
        values: (
          null: var(--#{$prefix}border-radius),
          0: 0,
          1: var(--#{$prefix}border-radius-sm),
          2: var(--#{$prefix}border-radius),
          3: var(--#{$prefix}border-radius-lg),
          circle: 50%,
          pill: var(--#{$prefix}border-radius-pill)
        )
      ),
      "gradient": map-merge(
        map-get($utilities, "gradient"),
        (values: map-merge(
          map-get(map-get($utilities, "gradient"), "values"),
          (gradient-indigo: $indigo-gradient)
          ),
        ),
      ),
    )
);


// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack
