@mixin tooltip {
  position: relative;
  border: 1px solid $primary_lightGrey;
  border-radius: .25rem;
  box-shadow: $box-shadow-xl;
  max-width: $tooltip-collapse-with; // 307px
  width: 100%;
  padding: var(--spacing);
  --spacing: 1.25rem;

  @include media-breakpoint-up(md) {
    --spacing: 1.5rem;
  }

  &::before {
    content: '';
    background-color: transparent;
    clip-path: initial;
    background-image: escape-svg($map-info-window-arrow);
    background-color: initial;
    box-shadow: none;
    transform: translate(-50%, -100%);
    position: absolute;
    top: 0;
    left: 50%;
    width: 1.125rem;
    height: .5rem;
  }
}

@mixin hide-scrollbars {
  // hide scrollbar
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0!important;
    display: none;
  }
}

@mixin scrollbars($size: .375rem, $foreground-color: $gray-200, $background-color: $gray-100) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: .5rem;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}
