/*
 * General Componentes Container Spacing
 */

.components-container {
  // general components separation / without sections
  & > .paragraph + .paragraph:not(.section-component) {
    margin-top: 4.5rem;
  }

  & > .section-component:first-child + .section-component {
    & .view-credit-cards {
      &.view-display-id-credit_card_pv_pe {
        margin-top: -2.5rem;// spacing between hero and view is 32px -> 72-40
      }
    }
  }
}
