/* Featured Highlighted
 */

.featured-cards-list {
  & li {
    & + li {
      @include media-breakpoint-down(md) {
        margin-top: 4rem;
      }
    }
  }
}

.featured-highlighted {
  & .node__title {
    & a {
      transition: all .25s;
      &:hover,
      &:focus {
        color: $primary!important;
      }
    }
  }

  & .field--name-field-media-image {
    & picture {
      & img {
        @include media-breakpoint-down(md) {
          min-height: 216px;
          object-fit: cover;
        }
      }
    }
  }
}

/*
 * End Featured Hightlighted
 */
