/*
 * Info box Styles
 *
 * Bloque para el pie de pagina
 */

.info-box-block {
  & .info-box-icon {
    border-radius: 50%;
    border: 1px solid $blue;
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;

    @include media-breakpoint-up(md) {
      width: 3rem;
      height: 3rem;
    }

    & .field--type-entity-reference {
      margin: 0;
    }

    & .field--name-field-media-image img {
      margin: 0;
      width: 1.5rem;
      height: 1.5rem;
      display: block;

      @include media-breakpoint-up(md) {
        width: 1.875rem;
        height: 1.875rem;
      }
    }
  }

  & .info-box-content {
    & h3 {
      margin-bottom: .125rem;

      @include media-breakpoint-down(md) {
        font-size: $font-size-base;
        line-height: 1.5;
        margin-bottom: .25rem;
      }
    }

    & p {
      @include media-breakpoint-down(md) {
        font-size: $font-size-xs;
        line-height: $line-height-xs;
      }
    }
  }

  & .link__primary {
    min-height: 2rem;

    @include media-breakpoint-down(md) {
      font-size: $font-size-sm;
      line-height: $line-height-sm;
      min-height: initial;
    }
  }
}

/*
 * End Info box Styles
 */
