/*
 * Layout Styles
 */

.layout-paragraphs-builder-form {

  & .lpb-form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & [id^="edit-submit-"] {
      order: 2;
    }

    & .lpb-btn--cancel {
      flex: 0 0 auto;
      width: initial;
    }
  }
}
