/*
 * Link Primary
*/
.link__primary {
  text-decoration: none;

  &:hover {
    .icon {
      transform: translateX(10px);
    }
  }

  .icon {
    transition: transform 0.4s ease;
    width: 1.5rem;
    height: 1.5rem;
  }

  &.link__primary-arrow-right {

    &::after {
      content: '';
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background-image: escape-svg($arrow-right-icon);
      background-size: 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.4s ease;
      display: block;
    }

    &:hover {
      &::after {
        transform: translateX(10px);
        background-image: escape-svg($arrow-right-active-icon);
      }
    }
  }
}
