/* Map general Styles
 * infowindows
 * close button
 */

.geofield-google-map {
  max-height: 21.875rem; //350px;

  @include media-breakpoint-up(md) {
    border-radius: .25rem;
    max-height: 39rem; // 624px
  }

  // infowindow general styles

  & .gm-style-iw.gm-style-iw-c {
    @include tooltip;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    width: $tooltip-collapse-with!important; // 307px
    max-width: $tooltip-collapse-with!important; // 307px
    position: absolute;
    --infowindow-spacing: var(--spacing);

    & .poi-info-window {
      & .full-width {
        position: initial;
        width: 100%;
        margin: initial;
      }
    }
  }


  // infowindow custom styles
  & .gm-style-iw.gm-style-iw-c.st-infowindow {
    overflow: initial;
    font-weight: normal;

    &::before {
      content: '';
      background-color: transparent;
      clip-path: initial;
      background-image: escape-svg($map-info-window-arrow);
      background-color: initial;
      box-shadow: none;
      transform: translate(-50%, -100%);
      position: absolute;
      top: 0;
      left: 50%;
      width: 1.125rem;
      height: .5rem;
    }

    & .field:first-child,
    & div:first-child {
      padding: 0;
    }

    & .gm-ui-hover-effect {
      top: .5rem !important;
      right: .5rem !important;
      width: 1.5rem !important;
      height: 1.5rem !important;
      background-color: transparent !important;
      opacity: 1;

      & > span {
        mask-image: none !important;
        background-image: escape-svg($close-icon) !important;
        background-size: 1.5rem !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        width: 1.5rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
        background-color: transparent;
      }
    }

    // arrow infowindow
    & + .gm-style-iw-tc {
      display: none;
    }
  }
}
