/* Node Stylesj
 * Generic Styles
 * Point of attention (Infowindow - Full)
 * Benefits
 */

.node--unpublished {
  padding: 0;
}

.node {
  &.list-map-item {
    border: 1px solid transparent;

    &.is-active {
      background-color: $white;
      border: 1px solid $primary_lightSky;
    }

    & .link__primary {
      font-size: $font-size-sm;
      line-height: $line-height-sm;
      margin-top: .875rem;

      & .icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    & .point-of-attention-feature-list {
      & li {
        display: flex;
        gap: 0 .375rem;

        & .icon {
          width: 1.25rem;
          height: 1.25rem;
          color: $primary;
        }
      }
    }

    &.list-map-item-benefits {
      border: 0;

      & .list-map-item-company-logo {
        width: 2.5rem;
        height: auto;
        flex: 0 0 2.5rem;
      }
    }
  }
}

// Point of Attention
.node--type-sitios-de-interes {

  &.node--view-mode-infowindow {
    --height: 206px;
    overflow-y: auto;
    height: calc(var(--height) - var(--infowindow-spacing) * 2);

    @include media-breakpoint-up(md){
      --height: 314px;
    }

    & header {
      @include media-breakpoint-down(md) {
        padding-bottom: .875rem;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1.5rem;
        height: .125rem;
        background-color: $primary;
      }

      & .h6 {
        font-size: $h6-font-size-mobile;
        line-height: $h6-lh-mobile;

        @include media-breakpoint-up(md) {
          font-size: $h6-font-size;
          line-height: $h6-lh;
        }
      }
    }

    & .link__primary {
      @include media-breakpoint-down(md) {
        font-size: $font-size-sm;
        line-height: $line-height-sm;

        & .icon {
          width: 1.25rem;
          height: 1.25rem;
          flex: 0 0 1.25rem;
        }
      }
    }
  }

  &.node--view-mode-full {
    & .field--name-field-ubicacion,
    & .field--name-field-schedule {
      & .field__label {
        &::after {
          content: ': ';
        }
      }

      & .field__item {
        font-weight: bold;
      }
    }

    & .field--name-field-coordenadas {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      & > .geofield-map-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        & > .geofield-google-map {
          flex-grow: 1;

          @include media-breakpoint-down(md) {
            max-height: 14.375rem; //230px
          }
        }
      }
    }
  }
}


// Benefits
.node--type-beneficios {
}
