/*
 * General Componentes Section Container
 */

.section-component {
  & .section-brand-figure-one {
    width: 654px;
    aspect-ratio: 1.01/1;
    top: 0;
    right: 0;
    transform: translate(52%, -16%);
    width: clamp(383px, 48vw, 654px);
  }

  & .section-brand-figure-two {
    top: 0;
    left: 0;
    aspect-ratio: 1.012/1;
    transform: translate(-35%, 10%);
    width: clamp(208px, 30vw, 317px);
  }

  & .section-brand-figure-three {
    right: -2rem;
    aspect-ratio: 1.012/1;
    transform: translate(20%, 0);
    width: clamp(383px, 40vw, 505px);
  }

  & > [class^="container"] {
    position: relative;
  }
}
