/* Select Items
 * selectable items used in credit cards views
 *
 */

.segments-list-selectables {
  & > li {
    @include media-breakpoint-down(sm) {
      flex: 1;
    }
  }

  &.segments-list-selectables-scrollable {
    @include media-breakpoint-down(md) {
      flex-wrap: nowrap!important;
      overflow-x: auto;
      padding-top: .75rem;
      margin-top: -.75rem;
      @include hide-scrollbars;

      & .selectable-item-link {
        & > br {
          display: none;
        }
      }
    }
  }
}

.segments-list-secondary {
  & li {
    flex: 0 0 20%;
  }

  & .segments-list-selectables {
    &.segments-list-selectables-scrollable {
      @include media-breakpoint-down(md) {
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

.selectable-item {
  & > .selectable-item-link {
    border: 1px solid $primary_lightGrey;
    padding: 0.5rem;
    color: $body-color;
    white-space: nowrap;


    @include media-breakpoint-down(md) {
      gap: .375rem!important;
    }

    @include media-breakpoint-up(sm) {
      padding: 0.5rem 1rem;
    }

    @include media-breakpoint-up(md) {
      padding: .6875rem 1.625rem .6875rem 1.375rem;
      white-space: initial;
    }

    & .field--name-field-icono {
      & svg {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover,
    &:focus {
      background-color: $indigo-extra-light;
      border-color: $indigo-extra-light;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1.25rem;
      height: 1.25rem;
      background-image: escape-svg($selectable-items-active);
      background-size: 1.25rem;
      background-repeat: no-repeat;
      transform: translate(50%, -50%);
      opacity: 0;
      transition: all .25s;
      z-index: 2;
    }

    &.is-active {
      background-color: $indigo-extra-light;
      border-color: $primary;

      &::after {
        opacity: 1;
      }
    }

    // Variants
    &.selectable-item-link-secondary {
      box-shadow: inset 0 0 0 1px $primary_lightSky;
      border: 0;
      color: $body-color;
      white-space: nowrap;
      gap: .75rem;
      border-radius: .5rem;
      padding: .75rem;

      @include media-breakpoint-down(md) {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
      }

      @include media-breakpoint-up(md) {
        padding: 1.25rem 1rem;
      }

      &:hover,
      &:focus {
        background-color: $tints_turquoise10;
        box-shadow: inset 0 0 0 1px $primary_lightSky;
      }

      &.is-active {
        background-color: $secondaryAccesible_darkTurquoise;
        box-shadow: inset 0 0 0 1px $secondaryAccesible_darkTurquoise;
        color: $white;
        font-weight: 700;

        &::after {
          opacity: 0;
        }

        & .field--name-field-icono {
          color: $white;
        }
      }

      & .field--name-field-icono {
        color: $secondaryAccesible_darkTurquoise;

        & svg {
          & path {
            fill: currentColor;
          }
        }
      }
    }
  }

  // Variants

  &.selectable-item-fixed {
    & > a {
      min-width: 9.75rem;

      @include media-breakpoint-up(md) {
        min-width: 11rem;
      }
    }
  }
}
