/*
 * Tooltips Collapse
 *
 */

.tooltip-collapse-wrapper {
  z-index: $zindex-dropdown;

  & .tooltip-collapse-content {
    @include tooltip;
  }

  & .tooltip-collapse-title {
    padding-bottom: .875rem;

    @include media-breakpoint-up(md) {
      padding-bottom: 1.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1.5rem;
      height: 0.125rem;
      background-color: $primary;
    }
  }

  & .tooltip-collapse-link {

    & .icon {
      width: 1.5rem;
      height: 1.5rem;
      flex: 0 0 1.5rem;
      transition: all .4s;

      &:first-child {
        margin-right: .375rem;
      }

      &:last-child {
        margin-left: .125rem;
      }
    }

    &:hover,
    &:focus {
      & .icon:last-child {
        transform: translateX(.75rem);
      }
    }

  }

  & > .tooltip-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    transition-property: opacity, visibility;
    transition-duration: .2s;

    &:not(.show) {
      visibility: hidden;
      opacity: 0;
      display: block;
    }

    &.collapsing {
      display: block;
      visibility: visible;
      opacity: 1;
      height: auto;
      overflow: initial;
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
}
