/*
 * Video Styles
*/

.video-custom {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primary_black, .4);
  }

  &.playing {
    &::after {
      display: none;
    }

    & .btn-play {
      display: none;
    }
  }

  & .btn-play {
    z-index: 1;

    & .icon {
      width: 2.8125rem;
      height: 2.8125rem;
      @include media-breakpoint-up(md) {
        width: 4.4375rem;
        height: 4.4375rem;
      }
    }
  }
}
