{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--col1 row',
  ]
%}

{% set col = 'col-12' %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.top | render %}
      {% set alignment_class = '' %}
      {% set firstParagraph = content.top | first %}
      {% if firstParagraph['#paragraph'] %}
        {% set firstParagraph = firstParagraph['#paragraph'] %}
        {% set alignment = '' %}
        {% set type = firstParagraph.bundle %}
        {% if type == 'text_only' %}
          {% set alignment = firstParagraph.field_behavior_position.value %}
        {% endif %}
        {% set alignment_class = alignment == 'center' ? 'mx-auto' : (alignment == 'right' ? 'ms-auto' : '') %}
      {% endif %}
      <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top', 'col-md-7', alignment_class, 'mb-9 text-center') }}>
        {{ content.top }}
      </div>
    {% endif %}
    {% if content.main | render %}
      <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main', col, 'd-flex flex-column gap-5.5') }}>
        {{ content.main }}
      </div>
    {% endif %}
  </div>
{% endif %}
