{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--col2-equal row',
  ]
%}

{% set col = 'col-md-6 d-flex flex-column' %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.top | render %}
      <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top', 'col-md-7', 'mx-auto mb-9 text-center') }}>
        {{ content.top }}
      </div>
      <div class="w-100"></div>
    {% endif %}
    {% if content.first | render %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first', col) }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second | render %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second', col) }}>
        {{ content.second }}
      </div>
    {% endif %}
  </div>
{% endif %}
