/*
 * dropdown General Menú
*/
.dropdown{
    top: 120px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    padding: 0;
    margin: auto;
    position: fixed;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $primary_white;

    display: none;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    @media (max-width: $mobile){
        top: 95px;
        flex-direction: column;
    }
    &.dropdown--forYou,
    &.dropdown--forBusinesses{
        top: 40px;
    }
    &.dropdown--search{
        padding: 15px;
        span{
            color: $primary_darkerGrey;
            font-size: 1.75rem;
            font-weight: 400;
            line-height: normal;
            font-family: $font-family-base;
        }
    }
    .dropdown__menu--left{
        width: 25%;
        height: 100%;
        padding: 15px;
        border-bottom-left-radius: 5px;
        background-color: $tints_sky30;
        @media (max-width: $mobile){
            width: 100%;
            border-bottom-left-radius: 0;
        }
    }
    .dropdown__menu--right{
        width: 75%;
        height: 100%;
        padding: 15px;
        border-bottom-right-radius: 5px;
        background-color: $primary_white;
        @media (max-width: $mobile){
            width: 100%;
            border-bottom-left-radius: 5px;
        }
    }
}
