/* KDB Tabs general styles
 *
 * nav tabs
 * links
 * components
 * nav tabs shadows
------------------------------------------------- */

.kdb-tabs {
  & .nav-link-text {
    --icon-size: 1.125rem;
    --icon-fs: 1.125rem;
    transition: all .25s ease-out;

    &:is(:hover, :focus) {
      background-color: $indigo-light-medium;
    }

    @include media-breakpoint-up(md) {
      --icon-size: 1.5rem;
      --icon-fs: 1.3125rem;
      line-height: 1.5;
    }

    @include media-breakpoint-down(md) {
      white-space: nowrap;
    }

    &.active {
      background-color: $indigo;
      color: $white!important;

      & .field--name-field-material-icon {
        & [class^="material-symbols"] {
          color: $white;
        }
      }

      & .field--name-field-icon {
        & .field--name-field-media-image {
          & svg {
            & path {
              fill: $white;
            }
          }
        }
      }
    }

    & .field--name-field-material-icon {
      width: var(--icon-size);
      height: var(--icon-size);
      flex: 0 0 var(--icon-size);
      display: grid;
      place-content: center;

      & [class^="material-symbols"] {
        font-size: var(--icon-fs);
        color: $indigo-medium;
      }
    }

    & .field--name-field-icon {
      width: var(--icon-size);
      flex: 0 0 var(--icon-size);

      & .field--name-field-media-image {
        margin: 0;

        & img {
          display: block;
        }

        & svg {
          width: var(--icon-size);
          height: var(--icon-size);
          margin: 0;
          display: block;

          & path {
            fill: $indigo-medium;
          }
        }
      }
    }
  }

}

.kdb-tabs-shadow {
  & .nav-tabs {
    @include media-breakpoint-down(md) {
      box-shadow: none!important;
      overflow-x: auto;
      @include hide-scrollbars;
    }
  }

  & .nav-link-dot {
    background-color: $gray-light;
    width: .625rem;
    height: .625rem;

    &.active {
      background-color: $gray-medium;
    }
  }


  & .nav-tabs-shadow {
    @include media-breakpoint-down(md) {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 3.5rem;
        height: 100%;
        opacity: 0;
        z-index: 10;
        pointer-events: none;
        transition: opacity .1s;
      }

      &::before {
        left: 0;
        background-image: linear-gradient(
          to right,
          rgba($gray-light, .25) 47%,
          rgba(255,255,255,0)
        );
      }

      &::after {
        right: 0;
        background-image: linear-gradient(
          to left,
          rgba($gray-light, .25) 47%,
          rgba(255,255,255,0)
        );
      }

      &.start-shadow::before {
        opacity: 1;
      }

      &.end-shadow::after {
        opacity: 1;
      }
    }
  }
}
