/* KDB Tabs vertical
 *
 * nav tabs
 * links
 * components
------------------------------------------------- */


.kdb-tabs-vertical {
  & .kdb-tabs-inner {
    border-radius: .75rem;
  }

  & .nav-link-text {
    transition: all .3s;
    border: 0;
    box-shadow: inset 0 -1px $indigo-light;

    & .nav-link-inner {
      gap: 0 .75rem;
    }
  }

  & .nav-item {
    & .nav-link-text {
      @include media-breakpoint-down(md) {
        box-shadow: none;
      }
    }

    &:not(:last-child) {
      & .nav-link-text {
        @include media-breakpoint-down(md) {
          box-shadow: inset -1px 0 $indigo-light;
        }
      }
    }
  }
}
