/* KDB Tabs horizontal
 *
 * nav tabs
 * links
 * components
------------------------------------------------- */


.kdb-tabs-horizontal {
  & .nav-item {
    &:not(:last-child) {
      & .nav-link-text {
        box-shadow: inset -1px 0 $indigo-light;
      }
    }
  }
}
