/* Gallery Component Styles
 * general
 */

.paragraph--type--gallery {
  & .slick-slide,
  & .slick__slide {
    & .media__icon--litebox {
      display: none;
    }
  }

  & .slick-slider {
    margin: 0;
  }
}
