/* Slick Carousel General Styles
 *
 */

.slick--optionset--gallery-grid {

  & .slick__slider {
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
    }

    &::before {
      display: none;
    }
  }

  & .slick-list {
    @include media-breakpoint-down(md) {
      margin: 0 -.25rem;
    }
  }

  & .slick-track {
    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  & .slick__slide {
    @include media-breakpoint-up(md) {
      position: initial;
    }
  }

  & .slick-slide {
    & a {
      display: block!important;
    }

    @include media-breakpoint-down(md) {
      padding: 0 .25rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }
}
