/* Slick Lightbox General Styles
 *
 */

.slick-lightbox {
  background-color: $white!important;
  --slick-buttons-bg: rgba(0, 0, 0, .55);

  & .slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .slick-lightbox-inner {
    right: 0;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  & .slick-lightbox-slick-item {
    display: flex!important;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(lg) {
      padding-left: 4.25rem;
      padding-right: 4.25rem;
    }

    & .slick-lightbox-slick-item-inner {
      position: relative;
      width: 100%;
      max-width: 960px;
      height: auto;
      display: grid;
      align-content: center;
      aspect-ratio: 3/2;
    }

    & .media-wrapper--inline {
      width: 100%!important;

      & .media.media--ratio {
        padding-bottom: 66.6666%!important;

        & .media__element {
          width: 100%;
        }
      }
    }
  }

  & .slick-lightbox-slick-item {
    &::before {
      display: none;
    }
    & .slick-lightbox-slick-img {
      max-width: initial;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      grid-area: 1/1/-1/-1;
    }

    & .media__icon--close {
      display: none;
    }

    & .media__icon--play {
      border: 0;
      width: 3.75rem;
      height: 3.75rem;

      @include media-breakpoint-up(md) {
        width: 4.375rem;
        height: 4.375rem;
      }

      &::before {
        content: '';
        border: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: escape-svg($play-button);
        background-size: 100%;
        width: 3.75rem;
        height: 3.75rem;
        margin: 0;

        @include media-breakpoint-up(md) {
          width: 4.375rem;
          height: 4.375rem;
        }
      }
    }
  }

  & .slick-pagination {
    display: inline-flex;
    padding: .75rem;
    background-color: var(--slick-buttons-bg);
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    color: $white;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      align-self: flex-start;
      grid-area: 1/1/-1/-1;
      justify-self: flex-end;
    }
  }

  & .slick-lightbox-slick-caption {
    display: none;
  }

  & .slick-lightbox-close {
    width: 3rem;
    height: 3rem;
    background-color: var(--slick-buttons-bg);
    padding: .5rem;
    opacity: 1;
    top: 0;
    right: 0;

    @include media-breakpoint-up(lg) {
      top: 4rem;
      right: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
      right: calc((100vw - map-get($container-max-widths, xl) - $container-padding-x) / 2);
    }

    &::before {
      content: '';
      font-family: inherit;
      background-image: escape-svg($close-icon-lightbox);
      display: block;
      width: 2rem;
      height: 2rem;
      background-size: 2rem;
      opacity: 1;
    }
  }

  & .slick-arrow {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 0;
    padding: .625rem;
    background-color: var(--slick-buttons-bg);
    opacity: 1;

    &::before {
      content: '';
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
      font-size: inherit;
      opacity: 1;
    }

    &.slick-prev {
      left: 1.5rem;
      &::before {
        background-image: escape-svg($arrow-left-lightbox);
      }

      @include media-breakpoint-up(xl) {
        left: calc((100vw - map-get($container-max-widths, xl) - $container-padding-x) / 2);
      }
    }

    &.slick-next {
      right: 1.5rem;
      &::before {
        background-image: escape-svg($arrow-right-lightbox);
      }
      @include media-breakpoint-up(xl) {
        right: calc((100vw - map-get($container-max-widths, xl) - $container-padding-x) / 2);
      }
    }
  }

  & .slick-pagination-mobile {
    background-color: var(--slick-buttons-bg);
    padding: .75rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 .5rem;
    display: flex;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    & .slick-pagination-fraction {
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      color: $white;
    }

    & .slick-arrow {
      background-color: transparent;
      transform: none;
      padding: 0;
      width: 1.5rem;
      height: 1.5rem;
      position: initial;
    }
  }
}
