/* KDB base styles
 *
 * base elements
 * body
 * a
 * headings
 * paragpraphs
------------------------------------------------- */

body {
  // improve font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;

  &:focus {
    // color: $primary_boston;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

#main {
  .node__content {
    margin: 0;
  }
}

.node__content {
  font-size: $font-size-base;
}

.node .field--type-image {
  margin: 0;
  float: none;
}

.field--type-entity-reference,
.field--name-field-media-image img {
  margin: 0;
}

.full-width {
  left: -50vw;
  width: 100vw;
  height: auto;
  margin-left: 50%;
  position: relative;
}


/*
 * Headings
*/

h1,
.h1 {
  font-size: $h1-font-size-mobile;
  line-height: $h1-lh-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
    line-height: $h1-lh;
  }
}

h2,
.h2 {
  font-size: $h2-font-size-mobile;
  line-height: $h2-lh-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
    line-height: $h2-lh;
  }
}

h3,
.h3 {
  font-size: $h3-font-size-mobile;
  line-height: $h3-lh-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
    line-height: $h3-lh;
  }
}

h4,
.h4 {
  font-size: $h4-font-size-mobile;
  line-height: $h4-lh-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
    line-height: $h4-lh;
  }
}

h5,
.h5 {
  font-size: $h5-font-size-mobile;
  line-height: $h5-lh-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h5-font-size;
    line-height: $h5-lh;
  }
}

h6,
.h6 {
  font-size: $h6-font-size-mobile;
  line-height: $h6-lh-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h6-font-size;
    line-height: $h6-lh;
  }
}

/*
 * text-*
*/
.text-lg {
  font-size: $font-size-lg-mobile!important;
  @include media-breakpoint-up(md) {
    font-size: $font-size-lg!important;
  }
}

.text-md {
  font-size: $font-size-base-mobile!important;
  @include media-breakpoint-up(md) {
    font-size: $font-size-base!important;
  }
}

.text-sm {
  font-size: $font-size-sm-mobile!important;
  @include media-breakpoint-up(md) {
    font-size: $font-size-sm!important;
  }
}

.text-xs {
  font-size: $font-size-xs!important;
}

.text-formatted {
  &.field--name-body,
  &.field--name-description,
  &.field--name-field-testimony,
  &.field--name-field-description {
    & p:last-child {
      margin-bottom: 0;
    }
  }
}
