/*
 * Gramatika
*/
//GramatikaBold
@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika/GramatikaBold.ttf');
  font-weight: bold;
  font-style: normal;
}

//GramatikaBoldItalic
@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika/GramatikaBoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

//GramatikaRegular
@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika/GramatikaRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

//GramatikaItalic
@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika/GramatikaItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

//GramatikaLight
@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika/GramatikaLight.ttf');
  font-weight: 300;
  font-style: normal;
}

//GramatikaLightItalic
@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika/GramatikaLightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

//GramatikaMedium
@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika/GramatikaMedium.ttf');
  font-weight: 500;
  font-style: normal;
}

//GramatikaMediumItalic
@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika/GramatikaMediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
